<includeonly>{{Clear}}''{{#if: {{Translate|Page last edited during patch|WikiNavigation}}|{{Translate|Page last edited during patch|WikiNavigation}}|Page last edited during patch}}:'' {{Patch notes}}{{{1|}}}{{Navbox
| name       = Skill navbox
| title      = [[Skills]]
| listclass  = hlist
| state      = plain
| navbar     = plain
| image      = [[File:Stoneshard.png|150px|link=Stoneshard Wiki|alt=Stoneshard Wiki]]

| group1     = Weapons
| list1     = {{flatlist|
* [[Swords (skill tree)|Swords]]
* [[Axes (skill tree)|Axes]]
* [[Maces (skill tree)|Maces]]
* [[Daggers (skill tree)|Daggers]]
* [[Two-Handed Swords (skill tree)|Two-Handed Swords]]
* [[Two-Handed Axes (skill tree)|Two-Handed Axes]]
* [[Two-Handed Maces (skill tree)|Two-Handed Maces]]
* [[Spears (skill tree)|Spears]]
* [[Ranged Weapons (skill tree)|Ranged Weapons]]
* [[Shields (skill tree)|Shields]]
* [[Staves (skill tree)|Staves]] <!--
* [[Wands (skill tree)|Wands]]
-->}}

| group2     = Utility
| list2     = {{flatlist|
* [[Basic Skills (skill tree)|Basic Skills]]
* [[Dual Wielding (skill tree)|Dual Wielding]]
* [[Survival (skill tree)|Survival]]
* [[Warfare (skill tree)|Warfare]]
* [[Athletics (skill tree)|Athletics]]
* [[Magic Mastery (skill tree)|Magic Mastery]]
* [[Armored Combat (skill tree)|Armored Combat]] <!--
* [[Alchemy (skill tree)|Alchemy]]
* [[Sabotage (skill tree)|Sabotage]]
-->}}

| group3     = Sorcery
| list3     = {{flatlist|
* [[Pyromancy (skill tree)|Pyromancy]]
* [[Geomancy (skill tree)|Geomancy]]
* [[Electromancy (skill tree)|Electromancy]] <!--
* [[Venomancy (skill tree)|Venomancy]]
* [[Cryomancy (skill tree)|Cryomancy]]
* [[Astromancy (skill tree)|Astromancy]]
* [[Chronomancy (skill tree)|Chronomancy]]
* [[Psymancy (skill tree)|Psymancy]]
* [[Arcanistics (skill tree)|Arcanistics]]
-->}}
}}

</includeonly><noinclude>{{doc}}[[Category:Navigation templates]]</noinclude>
