<includeonly>{{#switch: {{{1}}}
|Languages = Linguagens
|Main page = Página Principal
|Community portal = Portal da Comunidade
|Recent changes = Alterações Recentes
|Random page = Página Aleatória
|Tools = Ferramentas
|What links here = O que linka aqui
|Related changes = Alterações Relacionadas
|Upload file = Upload Arquivo
|Special pages = Página Especial
|Printable version = Versão Imprimível
|Permanent Link = Link Permanente
|Page information = Informação da Página

<!-- ITEMS navbox -->
|Items = Items
|Headgear = Capacetes
|Chestpieces = Armaduras
|Gloves = Luvas
|Belts = Cintos
|Boots = Botas
|Cloaks = Capas
|Backpack = Mochilas

|Amulets = Amuletos
|Rings = Anéis

|Staves = Bastões
|Bows = Arcos
|Crossbows = Bestas
|Quivers  = Aljavas

|Ingredients = Ingredientes
|Materials = Materiais
|Tools = Ferramentas
|Traps = Armadilhas
|Quest items = Itens de Missão
|Valuables = Valiosos
|Books & Notes= Livros & Notas
|Junk = Lixo
|Crowns = Crowns
|Purse = Sacola

|Item mechanics = Mecânica de Itens

|Durability = Durabilidade
|Cursed items = Itens Amaldiçoados
|Item Rarity = Raridade dos Itens

|Containers = Containers

|Bags = Mochilas
|Barrels = Barris
|Bookshelves = Estante de Livros
|Carts = Carruagens
|Chests = Baús
|Coffins = Caixões
|Corpses = Corpos
|Crates = Caixas
|Cupboards = Copos
|Graves = Lápides
|Hero Sarcophagus = Sarcófago do Herói
|Nightstands = Cabeceira
|Racks = Cremalheiras
|Sarcophagi = Sarcófago
|Shelves = Estantes
|Vases = Vasos
|Wardrobes = Armários

|Page last edited during patch = Última alteração durante o patch

<!-- NPCs -->
|Osbrook NPCs = NPCs de Osbrook
|Ormond (Butcher) = Ormond (Açougueiro)
|Jurg (Carpenter) = Jurg (Carpinteiro)
|Ram (Drunkard) = Ram (Bêbado)
|Rickerd (Emissary) = Rickerd (Emissário)
|Margyt (Food Trader) = Margyt (Comerciante de Alimentos)
|Gina (Fruit Trader) = Gina (Comerciante de Frutas)
|Frid (Herbalist) = Frid (Herbalista)
|Brukk (Innkeeper) = Brukk (Estalajadeiro)
|Elsbeth (Innkeeper (Night Time)) = Elsbeth (Estalajadeira (Noturno))
|Bert (Merchant) = Bert (Comerciante)
|Rona (Peasant) = Rona (Camponesa)
|Ursa (Peasant) = Ursa (Camponesa)
|Jebar (Smith) = Jebar (Ferreiro)
|Anselm (Stableman) = Anselm (Estábulo)
|Hold (Tailor) = Hold (Alfaiate)
|Odar (Village Elder) = Odar (Ancião da Vila)

|Manhshire NPCs = NPCs de Manhshire
|Knud (Elder) = Knud (Ancião)
|Weber vir Lecri (Governor) = Weber vir Lecri (Governador)
|Unar (Scribe) = Unar (Escriba)
|Josh (Priest) = Josh (Sacerdote)
|Dietrich (Smith) = Dietrich (Ferreiro)
|Lynd (the Blacksmith's Son & Apprentice) = Lynd (Filho do Ferreiro & Aprendiz)
|Dirk (NPC) = Dirk (NPC)
|Dirk (Carpenter) = Dirk (Carpinteiro)
|Arenn (Innkeeper) = Arenn (Estalajadeiro)
|Selma (Hostess) = Selma (Anfitriã)
|Gerolt (Merchant) = Gerolt (Comerciante)
|Irma (Vegetable Trader) = Irma (Comerciante de Vegetais)
|Agna (Food Trader) = Agna (Comerciante de Alimentos)
|Gunda (Food Trader) = Gunda (Comerciante de Alimentos)
|Rald (Shepherd) = Rald (Pastor)
|Uta (Merchant's Daughter) = Uta (Filha do Comerciante)
|Hilda (Old Woman) = Hilda (Velha Mulher)
|Frida (Drunkard) = Frida (Bêbada)
|Lotar (Drunkard) = Lotar (Bêbado)
|Alba (Peasant) = Alba (Camponesa)
|Celz (Peasant) = Celz (Camponesa)

|Brynn NPCs = NPCs de Brynn
|Alviso (Banker) = Alviso (Banqueiro)
|Erwurt vir Lecri (Professor) = Erwurt vir Lecri (Professor)
|Zeremee Lavar (Professor) = Zeremee Lavar (Professor)
|Armuz (Merchant) = Armuz (Comerciante)
|Valden vir Krenn (Printing House Owner) = Valden vir Krenn (Dono da Tipografia)
|Vegetable Trader = Comerciante de Vegetais
|Butcher (Trader) = Açougueiro (Comerciante)
|General Merchant (Trader) = Comerciante Geral (Comerciante)
|Herbalist (Trader) = Herbalista (Comerciante)
|Food Trader (Food Trader) = Comerciante de Alimentos (Comerciante de Alimentos)
|Fruit Trader (Food Trader) = Comerciante de Frutas (Comerciante de Alimentos)
|Skinflint Homs (Innkeeper) = Skinflint Homs (Estalajadeiro)
|Eric (Baker) = Eric (Padeiro)
|Fat Yann (Merchant) = Yann Gordo (Comerciante)
|Shea (Merchant) = Shea (Comerciante)
|Bern (Quartermaster of the Vanguard) = Bern (Intendente da Vanguarda)
|Rixa (Hostesses) = Rixa (Anfitriã)
|Maud (Hostesses) = Maud (Anfitriã)
|Letar (Jewelery Trader) = Letar (Comerciante de Joias)
|Giles vir Ivet (Baliff) = Giles vir Ivet (Oficial de Justiça)
|Noel vir Roan (Baliff) = Noel vir Roan (Oficial de Justiça)
|Keremit Lawe (Baliff) = Keremit Lawe (Oficial de Justiça)
|Renod Kann (Merchant) = Renod Kann (Comerciante)
|Elven (Merchant) = Elfo (Comerciante)
|Dwarven (Merchant) = Anão (Comerciante)
|Nistrian (Merchant) = Nistriano (Comerciante)
|Skadian (Merchant) = Skadiano (Comerciante)

|Denbrie NPCs = NPCs de Denbrie
|Reynold (Sergeant) = Reynold (Sargento)
|Mathis (Merchant) = Mathis (Comerciante)
|Wystan (Fisherman) = Wystan (Pescador)
|Salt Workers = Trabalhadores do Sal
|Fisherman = Pescador
|Peasants = Camponeses
|Guards = Guardas

<!-- Location -->
|Generic Points of Interest = Pontos de Interesse Genéricos
|Bear Territory = Território de Ursos
|Bison Grassland = Campina de Bisões
|Boar TrailCamp = Acampamento de Trilhas de Javalis
|Crawler Burrow = Toca de Rastejadores
|Deathstinger Hive = Colmeia de Ferrão da Morte
|Deer Trail = Trilha de Veados
|Ghoul Den = Covil de Carniçais
|Gulon Den = Covil de Gulons
|Harpies Nest = Ninho de Harpias
|Moose Trail = Trilha de Alces
|Saiga Grassland = Campina de Saigas
|Wolf Trail = Trilha de Lobos

|Unique Points of Interest = Pontos de Interesse Únicos
|Abandoned Homestead = Casa Abandonada
|Abandoned Siege Camp = Acampamento de Cerco Abandonado
|Abbey of the Holy Revelation = Abadia da Santa Revelação
|Boulder Circle = Círculo de Pedras
|Bran's Cabin = Cabana do Bran
|Burial Cave = Caverna de Enterro
|Burned Watermill = Moinho de Água Queimado
|Desolate Quarry = Pedreira Desolada
|Hermit's Hut = Cabana do Eremita
|Leprosarium = Leprosário
|Lone Farmstead = Fazenda Solitária
|Order's Prison = Prisão da Ordem
|Plague Village = Vila da Peste
|Ransacked Homestead = Casa Saqueada
|Ruined Manor = Mansão Arruinada
|Signal Tower = Torre de Sinal
|Venemist's Camp = Acampamento do Venemista
|Witch's Hut = Cabana da Bruxa

|Minor Settlements = Assentamentos Menores
|Distant Homestead = Casa Distante
|Oaken Barrel Brewery = Cervejaria Barril de Carvalho
|Ralph & Sons Inn = Estalagem Ralph & Filhos
|Rotten Willow Tavern = Taberna Salgueiro Podre

|Osbrook Locations = Localizações de Osbrook
|Black Boar Inn = Estalagem Javali Negro
|Herbalist's House = Casa do Herbalista
|Tailor's Workshop = Oficina do Alfaiate

|Mannshire Locations = Localizações de Mannshire
|Ivy and Vine Inn = Estalagem Hera e Videira
|Mannshire Chapel = Capela de Mannshire

|Brynn Locations = Localizações de Brynn
|Golden Grain Inn = Estalagem Grão de Ouro
|The Bank of Brynn = Banco de Brynn
|Trading House of the Azure Thread = Casa de Comércio do Fio Azul
|Vir Krenn's Printing House = Tipografia de Vir Krenn
|Watchtower Tavern = Taberna da Torre de Vigia
|Bakery = Padaria
|Fat Yann's Grocery Store = Mercearia do Yann Gordo
|Vir Noms' Family Pawnshop = Casa de Penhores da Família Vir Noms
|Blacksmithing Workshop = Oficina de Ferraria
|Carpentry Workshop = Oficina de Carpintaria
|Leatherworking Workshop = Oficina de Couros
|Jewelry Shop = Joalheria
|Three Pots Tavern = Taberna Três Potes
|Close Harbor Tavern = Taberna do Porto Fechado
|Alchemical Emporium of Curious Goods = Empório Alquímico de Mercadorias Curiosas
|Dockside Store = Loja do Cais

<!-- Navigation -->
|Preset Characters = Personagem Predefinido
|Attributes & Stats = Atributos & Status
|Traits = Traços
|Injuries & Pain = Lesões & Dor
|Hunger, Thirst & Intoxication = Fome, Sede & Intoxicação
|Psyche = Psique
|Maladies = Doenças
|Fatigue & Resting = Fadiga & Descanso
|Faith System = Sistema de Fé
|Character Creation = Criação de Personagem

|Combat & Survival = Combate & Sobrevivência

|Enemies = Inimigos
|Combat Formulas = Fórmulas de Combate
|Damage Types = Tipos de Dano
|Status Effects = Efeitos de Status
|Noise & Stealth = Barulho & Furtividade
|Lockpicking & Trap Mechanics = Arrombamento & Mecânicas de Armadilha
|Dual Wielding = Empunhadura Dupla
|Throwing = Arremesso
|Crafting = Crafting
|Biomes & Weather = Biomas & Clima

|Exploration = Exploração

|NPCs = NPCs
|Factions & Settlements = Facções e Assentamentos
|Contracts & Tasks = Contratos & Pedidos
|Global Map = Mapa Mundial
|Points of Interest = Pontos de Interesse
|Random Encounters = Encontros Randômicos
|Reputation = Reputação
|Crime & Punishment = Crime & Punição
|Caravan & Followers = Caravana & Seguidores
|Dungeons = Masmorras
|Story & Lore = História & Conhecimentos

|Gear = Armamento

|Weapons = Armas
|Armor = Armaduras
|Jewelry = Joias
|Artifacts = Artefatos
|Treatises = Tratados
|Loot = Saque
|Quest Items = Itens de Quest
|Enchantments = Encantamentos
|Blessings & Curses = Bençãos & Maldições
|Quality & Durability = Qualidade & Durabilidade

|Consumables = Consumíveis

|Food = Comida
|Beverages = Bebidas
|Potions = Poções
|Ingredients = Ingredientes
|Drugs = Drogas
|Medicine = Medicamentos
|Scrolls = Pergaminhos
|Ammunition = Munições
|Tools & Traps = Ferramentas & Armadilhas

|Weapon Abilities = Habilidades de Arma

|Swords = Espadas
|Axes = Machados
|Maces = Maças
|Daggers = Adagas
|Two-Handed Swords = Espadas de Duas Mãos
|Two-Handed Axes = Machados de Duas Mãos
|Two-Handed Maces = Maças de Duas Mãos
|Spears = Lanças
|Ranged Weapons = Armas de Longo Alcance
|Shields = Escudos
|Wands = Varinhas

<!-- Skill navbox -->

|Weapons = Armas
|Swords = Espadas
|Axes = Machados
|Maces = Maças
|Daggers = Adagas
|Two-Handed Swords = Espadas de Duas Mãos
|Two-Handed Axes = Machados de Duas Mãos
|Two-Handed Maces = Maças de Duas Mãos
|Spears = Lanças
|Ranged Weapons = Armas de Longo Alcance
|Shields = Escudos
|Staves = Bastões

|Utility = Utilidade
|Basic Skills = Habilidades Básicas
|Dual Wielding = Empunhadura Dupla
|Survival = Sobrevivência
|Warfare = Guerra
|Athletics = Atletismo
|Magic Mastery = Maestria em Mágica
|Armored Combat = Combate Blindado

|Sorcery = Feitiçaria
|Pyromancy = Piromancia
|Geomancy = Geomancia
|Electromancy = Eletromancia

<!-- Utility Abilities-->
|Utility Abilities = Habilidades de Utilidade
|Basic Skills = Habilidades Básicas
|Dual Wielding = Empunhadura Dupla
|Survival = Sobrevivência
|Warfare = Guerra
|Athletics = Atletismo
|Magic Mastery = Maestria em Mágica
|Armored Combat = Combate Blindado
|Combat Mastery = Maestria em Combate
|Sorcery Abilities = Habilidades de Feitiço

<!-- Utility -->
|Basic Skills (skill tree) = Habilidades Básicas (árvore de habilidades)
|Dual Wielding (skill tree) = Empunhadura Dupla (árvore de habilidades)
|Survival (skill tree) = Sobrevivência (árvore de habilidades)
|Warfare (skill tree) = Guerra (árvore de habilidades)
|Athletics (skill tree) = Atletismo (árvore de habilidades)
|Magic Mastery (skill tree) = Maestria em Mágica (árvore de habilidades)
|Armored Combat (skill tree) = Combate Blindado (árvore de habilidades)
|Alchemy (skill tree) = Alquimia (árvore de habilidades)
|Sabotage (skill tree) = Sabotagem (árvore de habilidades)

<!-- Weapons -->
|Weapon Abilities = Habilidades de Arma
|Swords (skill tree) = Espadas (árvore de habilidades)
|Axes (skill tree) = Machados (árvore de habilidades)
|Maces (skill tree) = Maças (árvore de habilidades)
|Daggers (skill tree) = Adagas (árvore de habilidades)
|Two-Handed Swords (skill tree) = Espadas de Duas Mãos (árvore de habilidades)
|Two-Handed Axes (skill tree) = Machados de Duas Mãos (árvore de habilidades)
|Two-Handed Maces (skill tree) = Maças de Duas Mãos (árvore de habilidades)
|Spears (skill tree) = Lanças (árvore de habilidades)
|Ranged Weapons (skill tree) = Armas de Longo Alcance (árvore de habilidades)
|Shields (skill tree) = Escudos (árvore de habilidades)
|Staves (skill tree) = Bastões (árvore de habilidades)
|Wands (skill tree) = Varinhas (árvore de habilidades)

<!-- Sorcery -->
|Pyromancy = Piromancia
|Geomancy = Geomancia
|Electromancy = Eletromancia
|Venomancy = Venomancia
|Cryomancy = Criomancia
|Astromancy = Astromancia
|Chronomancy = Chronomancia
|Psymancy = Psicomancia
|Arcanistics = Arcanística

|Pyromancy (skill tree) = Piromancia (árvore de habilidades)
|Geomancy (skill tree) = Geomancia (árvore de habilidades)
|Electromancy (skill tree) = Eletromancia (árvore de habilidades)
|Venomancy (skill tree) = Venomancia (árvore de habilidades)
|Cryomancy (skill tree) = Criomancia (árvore de habilidades)
|Astromancy (skill tree) = Astromancia (árvore de habilidades)
|Chronomancy (skill tree) = Chronomancia (árvore de habilidades)
|Psymancy (skill tree) = Psicomancia (árvore de habilidades)
|Arcanistics (skill tree) = Arcanística (árvore de habilidades)

<!-- Enemies -->
|Enemies = Inimigos

|Undead	 = Mortos-vivos
|Accursed Ghast = Fantasma Amaldiçoado
|Ancient Ghast = Fantasma Antigo
|Ghast = Fantasma
|Ghoul = Carniçal
|Large Ghoul = Carniçal Grande
|Necromancer (Staff) = Necromante (Cajado)
|Occultist = Ocultista
|Putrid Restless Soldier (Halberd) = Soldado Putrido Inquieto (Alabarda)
|Putrid Restless Soldier (Two-Handed Axe) = Soldado Putrido Inquieto (Machado de Duas Mãos)
|Putrid Restless Soldier (Two-Handed Mace) = Soldado Putrido Inquieto (Maça de Duas Mãos)
|Risen Axonian = Axoniano Ressuscitado
|Ritual Restless = Ritual Inquieto
|Restless = Inquieto
|Restless Peasant (Axe) = Camponês Inquieto (Machado)
|Restless Peasant (Dagger) = Camponês Inquieto (Adaga)
|Restless Peasant (Pitchfork) = Camponês Inquieto (Forcado)
|Restless Guard (Halberd) = Guarda Inquieto (Alabarda)
|Restless Guard (Sword) = Guarda Inquieto (Espada)
|Restless Guard (Spear) = Guarda Inquieto (Lança)
|Restless Brigand = Brigante Inquieto
|Restless Soldier (Mace) = Soldado Inquieto (Maça)
|Restless Soldier (Axe) = Soldado Inquieto (Machado)
|Restless Soldier (Halberd) = Soldado Inquieto (Alabarda)
|Revenant Commander = Comandante Revenant
|Ritualist = Ritualista
|Small Ghoul = Carniçal Pequeno
|Skeleton Archer = Arqueiro Esqueleto
|Skeleton Armorbreaker = Quebra-armaduras Esqueleto
|Skeleton Axeman = Machado Esqueleto
|Skeleton Bowman = Arqueiro Esqueleto
|Skeleton Crossbowman = Besteiro Esqueleto
|Skeleton Defender = Defensor Esqueleto
|Skeleton Footman = Soldado de Infantaria Esqueleto
|Skeleton Guard = Guarda Esqueleto
|Skeleton Kingsguard (Spear) = Guarda Real Esqueleto (Lança)
|Skeleton Kingsguard (Sword) = Guarda Real Esqueleto (Espada)
|Skeleton Kingsguard (Mace) = Guarda Real Esqueleto (Maça)
|Skeleton Kingsguard (Two-Handed Axe) = Guarda Real Esqueleto (Machado de Duas Mãos)
|Skeleton Halberdier = Alabardeiro Esqueleto
|Skeleton High Priest = Sumo Sacerdote Esqueleto
|Skeleton Knight (Two-Handed Axe) = Cavaleiro Esqueleto (Machado de Duas Mãos)
|Skeleton Knight (Two-Handed Sword) = Cavaleiro Esqueleto (Espada de Duas Mãos)
|Skeleton Knight (Two-Handed Mace) = Cavaleiro Esqueleto (Maça de Duas Mãos)
|Skeleton Maceman = Maçador Esqueleto
|Skeleton Mage = Mago Esqueleto
|Skeleton Militiaman = Miliciano Esqueleto
|Skeleton Monk = Monge Esqueleto
|Skeleton Priest = Sacerdote Esqueleto
|Skeleton Soldier = Soldado Esqueleto
|Skeleton Spearman = Lanceiro Esqueleto
|Skeleton Swordsman = Espadachim Esqueleto
|Skeleton Templar = Templário Esqueleto
|Wraith = Aparição
|Wraithbinder = Vinculador de Aparições
|Wraith Cleric = Clérigo Aparição
|Wraith Commander = Comandante Aparição
|Wraith Monk = Monge Aparição
|Wraith Seer = Vidente Aparição
|Wraith Squire = Escudeiro Aparição
|Wraith Sergeant = Sargento Aparição
|Wraith Templar = Templário Aparição
|Wraith Warrior = Guerreiro Aparição

|Proselytes = Prosélitos
|Abomination = Abominação
|Adept = Adepto
|Anmarrak = Anmarrak
|Apostate = Apóstata
|Ascended Archon = Arconte Ascendido
|Blood Golem = Golem de Sangue
|Brander = Marcador
|Chosen = Escolhido
|Cultist = Cultista
|Dead Martyr = Mártir Morto
|Flagellant = Flagelante
|Fiend (Two-Handed Axe) = Demônio (Machado de Duas Mãos)
|Fiend (Two-Handed Mace) = Demônio (Maça de Duas Mãos)
|Girrud = Girrud
|Harbinger = Arauto
|Immolated = Imolado
|Impaler = Empalador
|Juggernaut = Juggernaut
|Leechworm = Verme Sanguessuga
|Martyr = Mártir
|Matriarch = Matriarca
|Murkstalker = Perseguidor das Sombras
|Outcast = Pária
|Saggul = Saggul
|Sanguimage = Sanguimago
|Tentacle Arm = Braço Tentáculo
|Toller = Toller
|Tormentor = Tormentador
|Wormbearer = Portador de Vermes
|Yagram = Yagram

|Brigands = Brigantes
|Ambusher = Emboscador
|Bonebreaker (Two-Handed Axe) = Quebra-ossos (Machado de Duas Mãos)
|Bonebreaker (Two-Handed Mace) = Quebra-ossos (Maça de Duas Mãos)
|Beast Trapper = Caçador de Bestas
|Brigand Banneret = Bandeirante Brigante
|Brigand Electromancer = Eletromante Brigante
|Brigand Geomancer = Geomante Brigante
|Brigand Pyromancer = Piromante Brigante
|Brigand Warlock = Bruxo Brigante
|Brute = Bruto
|Enforcer (Two-Handed Axe) = Executor (Machado de Duas Mãos)
|Enforcer (Two-Handed Mace) = Executor (Maça de Duas Mãos)
|Enforcer (Two-Handed Sword) = Executor (Espada de Duas Mãos)
|Crook = Trapaceiro
|Cutthroat = Degolador
|Duelist = Duelista
|Deserter (Sword) = Desertor (Espada)
|Deserter (Axe) = Desertor (Machado)
|Deserter (Mace) = Desertor (Maça)
|Goon = Capanga
|Goon (Cleaver) = Capanga (Cutelo)
|Heavy Crossbowman = Besteiro Pesado
|Henchman = Capanga
|Henchman (Mace) = Capanga (Maça)
|Hired Sorcerer = Feiticeiro Contratado
|Madman = Louco
|Magehunter = Caçador de Magos
|Magistrate Renegade (Spear) = Magistrado Renegado (Lança)
|Magistrate Renegade (Two-Handed Axe) = Magistrado Renegado (Machado de Duas Mãos)
|Magistrate Renegade (Two-Handed Mace) = Magistrado Renegado (Maça de Duas Mãos)
|Mancatcher = Caçador de Homens
|Marauder (Two-Handed Axe) = Saqueador (Machado de Duas Mãos)
|Marauder (Two-Handed Mace) = Saqueador (Maça de Duas Mãos)
|Marauder (Two-Handed Sword) = Saqueador (Espada de Duas Mãos)
|Marksman = Atirador
|Outlaw = Fora da Lei
|Paymaster = Tesoureiro
|Poacher = Caçador Furtivo
|Rebel = Rebelde
|Renegade = Renegado
|Ringleader (Mace) = Líder (Maça)
|Ringleader (Sword) = Líder (Espada)
|Ringleader (Two-Handed Axe) = Líder (Machado de Duas Mãos)
|Ringleader (Two-Handed Sword) = Líder (Espada de Duas Mãos)
|Robber Baron (Mace) = Barão Ladrão (Maça)
|Robber Baron (Two-Handed Mace) = Barão Ladrão (Maça de Duas Mãos)
|Robber Baron (Two-Handed Sword) = Barão Ladrão (Espada de Duas Mãos)
|Rogue Knight (Sword) = Cavaleiro Renegado (Espada)
|Rogue Knight (Two-Handed Sword) = Cavaleiro Renegado (Espada de Duas Mãos)
|Thug = Bandido
|Turncoat (Spear) = Traidor (Lança)
|Turncoat (Two-Handed Axe) = Traidor (Machado de Duas Mãos)
|Turncoat (Two-Handed Mace) = Traidor (Maça de Duas Mãos)
|Turncoat (Two-Handed Sword) = Traidor (Espada de Duas Mãos)
|War Dog = Cão de Guerra
|Wolfhound = Cão Lobo

|Beasts	= Bestas
|Ancient Troll = Troll Antigo
|Bear = Urso
|Boar = Javali
|Bunting = Pica-pau
|Chicken = Galinha
|Bison = Bisão
|Crawler = Rastejador
|Deathstinger Swarm = Enxame de Ferrão da Morte
|Deer = Veado
|Dungeon Bat = Morcego de Masmorra
|Forest Viper = Víbora da Floresta
|Fox = Raposa
|Giant Rat = Rato Gigante
|Gulon = Gulon
|Harpy = Harpia
|Hedgehog = Ouriço
|Horse = Cavalo
|Jay = Gaio
|Manticore = Mantícora
|Moose = Alce
|Pig = Porco
|Rabbit = Coelho
|Raven = Corvo
|Rooster = Galo
|Saiga = Saiga
|Seagull = Gaivota
|Sheep = Ovelha
|Sparrow = Pardal
|Squirrel = Esquilo
|Swallow = Andorinha
|Tit = Chapim
|Thrush = Tordo
|Wolf = Lobo
|Wren = Carruíra
|Young Troll = Troll Jovem

|Nests & Hives = Ninhos & Colmeias
|Crawler Burrow = Toca de Rastejadores
|Deathstinger Hive = Colmeia de Ferrão da Morte
|Harpies Nest = Ninho de Harpias

|#default = Não Traduzido}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>
