<noinclude>Page for selecting the correct skill tree data.

Selects from:
<!-- Beasts skill data -->
 <!-- BEASTS SKILLS-->
|Rend Flesh = Rasgar Carne
|Snake Stealth = Furtividade de Cobra
|Loud Barking = Latido Alto
|Grab 'Em! = Agarre-os!


|Animated Servant = Summons two skeletons from the bone mounds closest to the character. <br><br>The skeletons persist for {{w|24}} turns, then fall apart, replenishing {{pos|4%}} Max Health and {{C|Energy|8%}} Max Energy to the Manticore.

|Baleful Scream (harpy) = Lets out a scream, dealing {{w|7 Psionic Damage}} to its target. <br>Has {{w|75%}} chance to {{w|Daze}} its target for {{w|2}} turns or to {{w|Stagger}} for {{w|4}} turns.

|Bone Pyres = Destroys every skeleton in the arena, sending bone shards that deal {{w|12 Piercing}} and {{unholy|10}} Unholy Damage with {{w|40%}} Armor Penetration to all adjacent enemies. <br><br> Creates {{C|Arcane|aether fires}} in place of destroyed skeletons for {{w|8}} turns. While the character is adjacent to an aether fire, it burns {{C|Energy|5%}} of their Max Energy each turn. <br><br>Aether fires can't be extinguished with water, but they can be stamped out by walking over them. Doing so deals {{C|fire|5 Fire}}, {{unholy|5 Unholy}}, {{C|sacred|5 Sacred}}, and {{arcane|5 Arcane Damage}} with {{w|100%}} Armor Penetration.

|Claw Swipe = Delivers a strike, dealing {{pos|+100%}} Damage. <br><br>If the Troll's Energy is more than {{C|Energy|10%}}, the strike gains {{pos|+33%}} Damage, {{pos|+50%}} Bleed Chance, {{pos|+125%}} Knockback Chance, {{pos|+25%}} Accuracy, and {{pos|+30%}} Armor Penetration.

|Corrosive Blood = Receiving melee attacks deals {{C|Caustic|2 Caustic}} and {{C|Poison|1 Poison}} Damage to the attacker. <br><br> Each {{neg|Bleeding}} and {{neg|degree of injury}} increases {{C|Caustic|Caustic Damage}} by {{w|1}}.


|Dash (animal) = Performs a dash towards a targeted tile. <br><br>The skill's Energy Cost is increased by {{neg|15%}} for each enemy adjacent to the starting position. <br><br>On arrival grants {{pos|+20%}} Counter Chance and {{pos|+20%}} Dodge Chance for {{w|4}} turns if there's an adjacent enemy.

|Deadly Tail = Delivers a strike to the target: <br><br>With {{w|33%}} chance applies it with {{poison|Poisoning}} for {{w|6}} turns <br> Or with {{w|33%}} chance applies it with {{neg|"Sacrificial Blood"}} for {{w|6}} turns <br>Or with {{w|33%}} chance applies it with {{neg|"Curse"}} for {{w|6}} turns <br><br>The chance of receiving these effects is reduced with Poison, Bleed. and Unholy Resistances respectively.

|Deafening Roar = Lets out a roar, dealing {{psionic|5 Psionic Damage}} to all enemies over a huge area. <br><br>Deafening Roar has {{w|25%}} chance to {{w|Disarm}}, forcing equipped weapons to fall on the ground. <br>If this effect fails to apply, has {{w|75%}} chance to {{w|Stun}} for {{w|2}} turns. <br>If this other effect fails to apply as well, has {{w|100%}} chance to {{w|Daze}} for {{w|5}} turns.

|Disturbed Hive = Every {{w|8}} turns spawns a {{neg|Deathsting Swarm}} {{w|(up to 3)}}. <br><br>Each instance of Damage {{neg|reduces}} the countdown for the next swarm by {{w|1}} turn.

|Dying Rage = Grants {{pos|-50}} Pain Limit, {{pos|-25}} Damage Taken, and {{pos|+25}} Damage when Health is below {{neg|40%}}.

|Earthshaking Strike (Young Troll) = Strikes the ground, affecting targets in a large area. This attack has {{pos|+33%}} Stun Chance and {{pos|+66%}} Daze Chance.

|Elusive Predators = Grants {{pos|+50%}} Dodge Chance and {{pos|25%}} Counter Chance. <br>Allows to escape from the battlefield {{w|2}} turns after beginning to {{w|Retreat}}.

|Grab ’Em! = Attacks a target's random body part, dealing {{pos|100%}} damage with {{pos|+25%}} Bodypart Damage. <br><br>If the attack hits the legs, it has a chance to {{w|Immobilize}}. <br>If the attack hits the arms, it has a chance to {{w|Disarm}}, causing a weapon from the corresponding slot to fall on the ground. <br><br>The higher the {{w|Protection}} of the affected Body Part, the lower the chances of {{w|Immobilization}} and {{w|Disarming}}.

|Howl = Generates a large amount of {{w|Noise}}, attracting nearby wolves within this map tile and instantly {{pos|refreshing}} active Cooldowns of all other wolves within Vision.

|Lion Leap = Performs a leap to a targeted tile. This ability can't be used if one of the paws is {{neg|Severely Injured}}.

|Loud Barking = When the Dog becomes Hostile, puts this ability on a {{W|5}} turn cooldown. Makes a huge ammount of {{w|noise}}, attracting all allies within {{W|25}} tiles.

|Pack Sense = Grants {{pos|+3%}} Dodge Chance, {{pos|+3%}} Crit Chance, and {{pos|-5%}} Cooldown Duration for every other wolf within Vision.

|Peck = Performs an attack with  {{pos|+50%}} Bodypart Damage, {{pos|+25%}} Crit Chance, and {{pos|+50%}} Bleed Chance. <br><br>If this attack hits the {{w|head}} and deals at least {{neg|4%}} of the target Max Health as damage, applies the target with {{neg|Blindness}} for {{w|2}} turns.

|Primal Aether = Marks an area <br><br> Next turn launches an energy arc that hits everything in its trajectory, dealing {{arcane|12 Arcane}}, {{C|sacred|12 Sacred}}, and {{unholy|12 Unholy Damage}} with {{w|80%}} Armor Penetration, {{pos|+125%}} Knockback Chance, and {{pos|+100%}} Stun Chance.


|Ramming Charge (bison) = Rushes towards the target from up to {{w|6}} tiles away, delivering an attack with {{pos|+10%}} Damage, {{pos|+15%}} Stun Chance, and {{pos|20%}} Knockback chance for each tile traveled.


|Ramming Charge (boar) = Rushes towards the target from up to {{w|6}} tiles away, delivering an attack with {{pos|+10%}} Damage, {{pos|+15%}} Stun Chance, and {{pos|20%}} Knockback chance for each tile traveled.


|Ramming Charge (moose) = Rushes towards the target from up to {{w|6}} tiles away, delivering an attack with {{pos|+10%}} Damage, {{pos|+15%}} Stun Chance, and {{pos|20%}} Knockback chance for each tile traveled.


|Rapid Flight = Rushes towards a targeted tile, receiving {{pos|+25%}} Dodge Chance for {{w|2}} turns. <br><br>This skill doesn't go on cooldown if the harpy's wings aren't injured.


|Regenerative Carapace = Each turn restores {{pos|5%}} Armor Durability. Every {{w|1%}} of Armor Durability grants {{pos|+0.5%}} Magic and Nature Resistances.


|Rend Flesh = Delivers a strike with {{pos|+100%}} Bodypart Damage and {{pos|+50%}} Armor Damage.


|Rock Toss = Marks an area. Next turn throws a rock at it, dealing {{w|60 Crushing Damage}} to all affected targets. <br><br>Each tile of distance to the target increases the Damage of Rock Toss by {{pos|10%}}.


|Shockwave = Marks an area. Next turn delivers a strike, dealing {{w|45 Crushing Damage}} to all affected targets with {{w|150%}} chance to Knock them back. Each tile of distance to the target increases the Shockwave Damage by {{pos|10%}}.


|Snake Stealth = Snakes hide in the grass, only attacking when encroached upon. <br><br> Snakes can be spotted with high {{w|Perception}} or by using {{w|"Examine Surroundings"}}.


|Swarm = Grants {{pos|+0.25%}} Dodge Chance and {{neg|-1%}} Damage for each {{neg|missing}} percent of Health.


|Taste for Flesh = Delivers a strike with {{pos|+150%}} Bodypart Damage, {{pos|+80%}} Bleed Chance, and {{pos|+25%}} Life Drain. If this attack inflicts an injury or worsens an already existing one, the Gulon replenishes {{pos|+25%}} Max Health.


|Troll Regeneration = Removes all negative effects. then grants the effect of {{pos|"Troll Regeneration"}} for {{w|4}} turns: <br><br>{{pos|-75%}} Damage Taken <br>{{pos|+50%}} Fortitude <br>Replenishes {{pos|5%}} Max Health per turn <br>{{neg|Can't use abilities, move, or attack}} <br>Receiving a melee hit {{neg|removes}} the effect and applies {{neg|+200%}} Damage Taken for {{w|2}} turns.

|Unbearable Stench = Has {{w|33%}} chance to provoke {{neg|Coughing}} in all adjacent enemies. This effect from multiple harpies doesn't stack.


|Vengeance of the Dead = Marks {{w|6-8}} tiles in a large area around the character, including the tile they're currently standing on. <br><br>Next turn cause bone spikes to erupt from the marked tiles, dealing {{w|28 Piercing}} and {{unholy|12 Unholy Damage}} with {{w|60%}} Armor Penetration, {{pos|+100%}} Bleed Chance, and {{pos|+100%}} Immobilization Chance. Bone Spikes persist for {{w|12}} turns, but can be destroyed with damage or when this ability is used again.


|Voracity = Each subsequent attack against a target grants {{pos|+15%}} Life Drain and {{pos|7.5%}} Armor Penetration for {{w|6}} turns.


|Web Spit = Spits a web at the target, dealing {{C|Caustic|8 Caustic}} and {{C|Poison|4 Poison}} Damage to the target while also applying the effect of {{neg|"Web"}} for {{w|6-8}} turns.

<!-- Brigands skill data -->
 <!-- BRIGANDS SKILLS -->
|Coordinated Advance = For each ally within Vision, grants {{pos|+7.5%}} Weapon Damage and {{pos|+5%}} Crit Chance both to them and the Renegade. Using Abilities reduce the Renegade's and his allies's Active Cooldowns by {{w|1}} turn.

|Dead or Alive = Applies the target with an effect that persists until the Paymaster's death. <br><br>When attacking the affected target, all Brigands with the Paymaster within their Vision gain: <br><br> {{pos|+10%}}Accuracy <br>{{pos|+15%}}Armor Penetration <br>{{pos|+20%}} Bodypart Damage

|Net Throw = Throws a hunting net with {{W|88%}} Acurracy. If it hits the target, applies it with {{neg|"Net"}} for {{w|6}} turns: <br><br>{{neg|+30%}} Fumble Chance <br>{{neg|-25%}} Dodge Chance <br>{{neg|-50%}} Block Chance <br>{{neg|-50%}} Counter Chance <br>{{neg|+30%}} Backfire Chance

|Raise the Banner! = Restores the fleeing Brigands' {{w|will to fight}} and grants all Brigands within Vision the effect of {{pos|"Battle Rage"}} for {{w|10-15}} turns.

|Sic! = Applies a target with {{neg|"Sic!"}} for {{w|10}} turns. <br><br> Dogs deal {{pos|+50%}} Damage to targets under the effect of {{w|"Sic!}}.


<!-- Undead skill data -->
 <!-- UNDEAD SKILLS -->
|Binding Sigil = Sigilo de Ligação
|Soul Sacrifice = Sacrifício de Alma
|Death Touch = Toque da Morte
|Bolt of Darkness = Raio de Escuridão
|Curse = Maldição
|Curse of Weakness = Maldição de Fraqueza
|Necrophage = Necrófago
|Rend Flesh = Rasgar Carne
|Resurrection = Ressurreição
|Sigil of Darkness = Sigilo de Escuridão
|Bone Throw = Arremesso de Osso
|Unholy Blessing = Benção Profana
|Dispersal = Dispersão
|Grave Chill = Arrepio de Túmulo

|Abominable Vitality = {{w|Tis but a flesh wound!}} Upon receiving lethal damage, the Restless has {{W|75%}} chance to {{W|avoid death}}, {{pos|fully}} Replenishing its Health while {{neg|losing}} its most damaged body part.

|Binding Sigil = Activates {{pos|"Binding Sigil"}} and grants the same effect to an Undead ally for {{w|13}} turns: <br><br>Grants the ally {{pos|-33%}} Damage Taken <br>Transfer {{W|33%}} of the damage received by the caster to the ally <br>Replenishes Energy to the caster for {{W|33%}} of the damage dealt by the ally.

|Bolt of Darkness = Shoots a bolt of dark energy dealing {{neg|Unholy Damage}}.

|Bone Throw = Throws a bone at a target, dealing {{w|3 Crushing}}, {{w|3 Piercing}}, {{poison|3 Poison}}, and {{unholy|3 Unholy}} with {{w|80%}} Accuracy, {{w|30%}} Daze Chance and {{w|30%}} Bleed Chance.

|Curse of Decay = Applies the target with {{neg|"Curse of Decay"}} for {{W|13}} turns: <br><br>{{neg|-6%}} Max Health <br>{{neg|-6%}} Max Energy <br>{{neg|-6%}}Energy Restoration <br>{{neg|9%}}Healing Efficiency <br><br>{{W|IV}} stacks of the effect: each turn worsens the Condition of a random body part by {{neg|1%}} <br><br>Each turn applies an extra stack of the effect (up to {{W|IV}}. Basic strikes, shots, and using abilities reduce the number of stacks by {{pos|2}}.

|Curse of Agony = Applies target with {{neg|"Curse of Agony"}} for {{W|13}} turns: <br><br>{{neg|+1%}} Pain Change <br>{{neg|-6%}} Weapon Damage <br>{{neg|-9%}} Magic Power <br>{{neg|-9%}} Fortitude <br>{{neg|-9%}} Unholy Resistance <br><br>The penalties change dynamically depending on the target's current Pain.

|Deadly Premonition = Applies the target with {{neg|"Deadly Premonition"}} for an indefinite number of turns: <br><br>Grants the next used {{W|Attack}} skill or {{W|Spell}} {{neg|+50%}} Fumble Chance, {{neg|+50%}} Backfire Chance, and {{neg|+50%}} Cooldown Duration. <br><br>Using {{W|Attack}} skills or {{W|Spells}} removes the effect and reduces the caster's cooldowns by {{pos|2}} turns.

|Death Touch = Deals {{unholy|13 Unholy Damage}}. <br><br>Replenishes Health to all Undead within Vision for {{pos|66%}} of the damage dealt by the spell.

|Desecration =  Shoots a bolt of dark energy, dealing {{c|Unholy|9 Unholy Damage}} with {{W|90%}} Accuracy. If the spell hits the target, burns its Energy for the amount of damage dealt and replenishes the same amount of Energy to the caster.

|Spectral Haunting = Activates {{pos|"Spectral Haunting"}} for {{W|1}} turn. Receiving damage removes the effect. <br><br>While {{pos|"Spectral Haunting"}} is active, grants all received strikes and shots {{neg|+20%}} Fumble Chance and {{neg|-10%}} Accuracy. When the effect expires, the Wraith disappears for {{W|2}}-{{W|4}} turns, then materializes on a tile adjacent to an enemy and delivers a strike to them. <br><br>If the strike hits its target, increases the Wraith's Max Health by {{pos|20%}} and permanently grants it {{pos|+3%}} Crit Chance.

|Grave Chill = Deals {{unholy|9 Unholy}} and {{C|Frost|9 Frost Damage}} an adjacent tile and two tiles behind it. <br><br>With {{W|94%}} chance {{W|Immobilizes}} all targets within the spell's area of effect and applies them with {{neg|+25%}} Fumble Chance and {{neg|-25%}} Energy Restoration for {{W|2}} turns.

|Necrophage = Consumes a flesh-covered corpse. Replenishes {{pos|50%}} Max Health and {{c|Energy|50%}} Max Energy, then transforms into a more powerful ghoul.

|Putrid Odor = Applies all adjacent enemies with {{neg|+5%}} Fumble Chance, {{neg|+0.5%}} Intoxication Change, and {{neg|-0.25%}} Morale Change. <br><br>Each turn with {{W|20%}} chance causes all adjacent enemies to {{neg|Cough}}. <br><br>These effects don't stack.

|Lesser Ritual of Resurrection = Reanimates a slain Undead, replenishing it {{pos|66%}} Max Health and {{c|Energy|66%}} Max Energy. <br><br>The reanimated undead's Armor Durability is set to {{W|0%}}, and all its abilities are put on cooldown for {{W|50%}} of the maximum number of turns.

|Greater Ritual of Resurrection = Reanimates all slain Undead within {{W|6}} tiles, replenishing them {{pos|33%}} Max Health and {{c|Energy|33%}} Max Energy. <br><br>The reanimated undead's Armor Durability is set to {{W|0%}}, and all its abilities are put on cooldown.

|Blasphemous Sigil = Creates a {{W|Rune}} on the targeted tile, which persists for {{W|9}} turns. <br><br>Remaining on the {{W|Rune}} deals {{unholy|9 Unholy Damage}} and replenishes Energy to the caster for {{W|100%}} of the damage dealt. <br><br>The {{W|Rune}} doesn't harm Undead or Proselytes, instead granting them {{pos|-33%}} Fumble Chance, {{pos|+33%}} Energy Restoration, and {{pos|+9%}} Crit Chance.

|Soul Sacrifice =  Applies an Undead ally with {{neg|"Soul Sacrifice"}} until the next turn. <br><br>When the effect expires, the target explodes, dealing {{unholy|Unholy Damage}} equal to its remaining Health (but no more than {{W|20%}} of its maximum amount) to all adjacent tiles. <br><br>The spell can only be used on targets with less than {{neg|20%}} Health.

|Steal Essence =  Steals {{neg|6%}} Max Health and {{c|Energy|6%}} Max Energy from an Undead ally, transferring them to the caster. <br><br> Activates {{pos|"Stolen Essence"}} for {{w|3-}} turns: <br><br>{{pos|+13%}} Magic Power <br>{{pos|-9%}} Spells Energy Cost <br>{{pos|-9%}} Cooldowns Duration <br>{{pos|-9%}} Damage Taken <br>Using {{W|Spells}} replenishes Health for {{W|9%}} of the Energy spent <br><br>The repeated use of the spell grants an extra stack of the effect (up to {{W|IV}}) and refreshes its duration.

|Strangling Grasp =  Performs a {{W|charge}} towards the target and delivers a strike with {{neg|-50%}} Weapon Damage and {{W|57%}} Immobilization Chance. <br><br>{{pos|Doubles}} the bonus to Immobilization Chance if the target is affected by {{neg|"Curse of Decay"}} and {{pos|nulifies}} the penalty to Weapon Damage if it's affected by {{neg|"Curse of Agony"}}.

|Unholy Blessing = Replenishes {{pos|13%}} Max Healht to the target and grants {{pos|"Unholy Blessing"}} for {{w|13}} turns: <br><br>{{pos|13%}} Life Drain <br>{{pos|13%}} Energy Drain <br>{{pos|13%}} Damage Reflection.

|Wraith Summoning =  Summons a {{W|Wraith}} on the targeted tile. The {{W|Wraith's}} power depends on the number of {{pos|"Stolen Essence"}} stacks.<br><br>Using the ability removes {{pos|"Stolen Essence"}}.


<!-- Proselyte skill data -->
 <!-- PROSELYTE SKILLS -->
|Baleful Scream = Grito Funesto
|Blood Craze = Loucura de Sangue
|Swipe = Golpe
|Curse of Weakness = Maldição de Fraqueza
|Driven by Pain = Movido pela Dor
|Chain Strike = Golpe em Cadeia
|Immolation = Imolação
|Lacerate = Lacerar
|Lash Blessing = Benção de Chicote
|Mark of the Feast = Marca do Banquete
|Sacrificial Blood = Sangue Sacrificial
|Summon Blood Golem = Invocar Golem de Sangue
|Vampiric Blood = Sangue Vampírico
|Vampiric Rune = Runa Vampírica
|Willing Sacrifice = Sacrifício Voluntário


|Anthems of Bloodshed =
|Description=Grants each {{w|sixth}} strike with {{pos|+99%}} Crit Chance and {{pos|+66%}} Bleed Chance. <br><br>If the strike hits its target, grants {{pos|"Blood Vow"}} to all allies within Vision for {{w|3}} turns: <br><br>{{pos|+33%}} Life Drain <br>{{pos|+33%}} Healing Efficiency <br>{{pos|-33%}} Abilities Energy Cost.

|Baleful Scream =
|Description=Lets out a shriek, dealing {{c|Psionic|6 Psionic Damage}}. <br>With {{w|75%}} chance {{w|Dazes}} the target or causes it to {{w|Stagger}} for {{w|2}} turns.

|Bestial Charge =
|Description=Charges forward in a {{w|5}} tiles line. The first target in its path takes {{pos|666%}} damage. <br><br>If the Archon collides with the scenery during the charge, he is {{w|Stunned}} for {{w|2}} turns.

|Bestial Rage =
|Description=Receiving damage, hitting targets, and using abilities increases the Yagram's hidden {{neg|Rage}} stat. When it reaches its maximum, activates {{pos|"Bestial Rage"}} for an indefinite number of turns: <br><br> {{pos|+33%}} Damage <br>{{pos|+66%}} Knockback Chance <br>{{neg|+33%}} Damage Taken <br>{{neg|66%}} chance to deliver a strike to a random adjacent target instead of the original one

|Blessed in Death =
|Description=While the Dead Martyr is within its allies' Vision, grants them {{pos|+9%}} Weapon Damage, {{pos|+9%}} Accuracy, {{pos|-9%}} Damage Taken. <br><br>Destroying the Dead Martyr removes the previously granted {{pos|"Blood Vow"}}.

|Blister Burst =
|Description=Loses {{neg|6%}} Max Health. Deals {{unholy|6 Unholy}} and {{caustic|6 Caustic Damage}} to all adjacent targets except Proselytes and Undead. <br>Replenishes {{pos|9%}} Health and {{C|Energy|9%}} Max Energy to all affected Proselytes. <br><br>Creates {{W|Blood Puddles}} on all adjacent tiles for {{w|6}} turns. <br><br>Remaining in the {{W|Blood Puddle}} deals {{unholy|6 Unholy}} and {{caustic|6 Caustic Damage}} and grants {{neg|-6%}} Unholy Resistance for {{w|13}} turns. <br><br>{{W|Blood Puddles}} don't harm Proselytes, instead replenishing them {{pos|3%}} Max Health and {{C|Energy|3%}} Max Energy each turn.

|Blood Craze =
|Description=Hitting an enemy grants {{pos|"Blood Craze"}} for {{w|3}} turns:<br><br>{{pos|+6%}} Weapon Damage <br>{{pos|+3%}} Crit Chance <br><br>While {{pos|"Blood Craze"}} is active, each next hit grants an extra stack of the effect (up to {{w|VI}}) and refreshes its duration.

|Blood Scent =
|Description=Each {{neg|Bleeding}} enemy or ally within Vision grants {{pos|+6%}} Damage, {{pos|+9%}} Counter Chance, and {{pos|+3%}} Crit Chance. <br><br>If an enemy within 9 tiles starts {{neg|Bleeding}}, attracts the Proselyte to their location.

|Blood Clot =
|Description=Launches a clot of blood at the target, dealing {{unholy|4 Unholy Damage}} and {{C|Caustic|4 Caustic Damage}}.

|Blood Puddle =
|Description=Marks an area. Next turn pours a puddle of boiling blood in it. <br><br>Puddles persist for {{w|2}} turns and deal {{unholy|15 Unholy Damage}} and {{C|Caustic|15 Caustic Damage}} per turn.

|Blood Spit =
|Description=Loses {{neg|3%}} Max Health. Spits blood, dealing {{unholy|13 Unholy}} and {{caustic|9 Caustic Damage}} with {{W|95%}} Accuracy.<br><br>If the skill hits its target, applies it with {{neg|-6%}} Unholy Resistance for {{w|13}} turns and creates a {{W|Blood Puddle}} on its tile for {{W|3}} turns. <br><br>Remaining in the {{W|Blood Puddle}} deals {{unholy|13 Unholy}} and {{caustic|6 Caustic Damage}} and also grants {{neg|-6%}} Unholy Resistance for {{w|13}} turns. <br><br>{{W|Blood Puddles}} don't harm Proselytes, instead replenishing them {{pos|3%}} Max Health and {{C|Energy|3%}} Max Energy each turn.

|Bloodthirst =
|Description=Delivers a strike with {{pos|+27%}} Life Drain and {{pos|+27%}} Bleed Chance. <br><br>Activates {{pos|"Vampiric Blood"}} for {{w|3}} turns:<br><br>{{pos|+9%}} Life Drain<br>Replenishes {{pos|6%}} Max Health and Energy each turn.

|Brand of Anguish =
|Description=Delivers a strike with {{pos|+33%}} Fire Damage, causing {{W|100%}} more Pain. <br><br>If the strike hits a target affected by positive effects, removes one of them and permanently grants the Brander {{pos|+9%}} Life Drain.

|Burnt Offering =
|Description=Destroys a corpse within Vision, leaving a {{W|Pyre}} in its place, which persists until it's extinguished or the Brander's death. Replenishes {{pos|9%}} Max Health. <br><br>Each burning {{W|Pyre}} replenishes {{pos|3%}} Max Health to the Brander each turn, and also grants him {{c|Fire|+3}} Fire Damage, {{pos|-6%}} Damage Taken, and {{pos|+6%}} Crit Chance. The effect stacks up to {{W|6}} times.

|Cannibalistic Craze =
|Description = '''Repositions''' to a tile with a fleshy corpse and consumes it, replenishing {{c|+|13%}} Max Health and {{c|Energy|26%}} Max Energy.<br><br>With 33% chance activates one of the following effects for 9 turns:<br><br>[[Blood Craze]]<br>[[Blood Oath]]<br>[[Rapid Restoration]]<br>[[Battle Rage]].

|Chain Strike =
|Description=Delivers a strike with {{neg|-66%}} Damage, {{pos|+66%}} Daze Chance and {{pos|+66%}} Knockback Chance.

|Corpse Devourment =
|Description=Devours a corpse, replenishing {{pos|33%}} Max Health and {{C|Energy|33%}} Max Energy.

|Devastating Power =
|Description=Marks a tile. Next turn delivers a strike to the marked tile with {{pos|+33%}} Weapon Damage, {{pos|+33%}} Bodypart Damage, and {{pos|+66%}} Stun Chance.<br><br>{{pos|Doubles}} the bonuses if the strike is delivered to a target affected by {{W|Immobilization}}, {{W|Daze}}, {{W|Stun}}, {{W|Stagger}}, or {{W|Confusion}}.

|Driven by Pain =
|Description=Grants {{pos|+0.33%}} Damage, {{pos|-0.33%}} Damage Taken and {{pos|+0.13%}} Life Drain for each missing {{neg|percent}} of Health.

|Earthshaking Strike =
|Description=Delivers a strike to three adjacent tiles and three tiles behind them with {{pos|+33%}} Stun Chance and {{pos|+66%}} Daze Chance. <br><br>Each target within the skill's area of effect increases the Yagram's {{neg|Rage}}.

|Embrace the Murk =
|Description=Performs a {{W|teleportation}} to the targeted tile. <br><br>Removes all negative effects and activates {{pos|"Murk"}} for {{W|9}} turns: <br><br>{{pos|+6%}}Crit Chance <br>{{pos|+9%}} Bodypart Damage <br>{{pos|+9%}} Bleed Chance <br>{{pos|+9%}} Life Drain <br>Replenishes {{pos|+6%}} Max Health and {{C|Energy|+6%}} Max Energy each turn. <br><br>Each turn grants a stack of the effect (up to {{w|VI}}). <br><br>While {{pos|"Murk"}} is active, grants {{pos|+66%}} Dodge Chance. Receiving damage, using abilities, and delivering strikes removes the effect. <br><br>This ability can't be used while affected by {{w|Immobilization}} or {{neg|"Net"}}.

|Face of Horror =
|Description=Makes a large amount of {{W|noise}} and deals {{C|Psionic|9 Psionic Damage}} with {{W|99%}} chance to {{W|Immobilize}} the target for {{W|2}} turns. The chance to {{W|Immobilize}} can be reduced by the target's Psionic Resistance.<br><br>Activates {{pos|"Battle Rage"}} and grants the same effect to all Proselytes within Vision for {{W|9}} turns.

|Feed the Host =
|Description=Replenishes {{pos|66%}} of the damage dealt as Health to the summoner.

|Fiery Embers =
|Description=Deals {{c|Fire|9 Fire}} and {{unholy|3 Unholy Damage}}, then creates {{W|Fiery Embers}} on the target's tile and three behind it, which persists for {{W|6}} turns. <br><br> Remaining on {{W|Fiery Embers}} applies {{neg|-9%}} Fire Resistance, {{neg|+6%}} Fumble Chance, and with {{W|33%}} chance causes the target to {{c|Fire|Ignite}}. The chance to {{c|Fire|Ignite}} can be reduced by the target's Fire Resistance. <br><br>The effect stacks up to {{W|6}} times. {{W|Fiery Embers}} don't harm Proselytes.

|Flesh Explosion =
|Description=The Blood Golem explodes the next turn after its death, dealing {{unholy|9 Unholy}} and {{C|caustic|26 Caustic Damage}} to all adjacent tiles.

|Fling Away =
|Description=Delivers a strike with {{pos|+50%}} Stagger Chance, {{pos|+50%}} Stun Chance, and {{pos|+150%}} chance to Knock the target back {{w|2}} tiles.

|For Whom The Bell Tolls =
|Description=Makes a large amount of {{W|noise}}, attracting all proselyte within {{w|9}} tiles. <br><br>Deals {{psionic|9 Psionic Damage}} with {{W|75%}} Armor Penetration to all enemies within {{W|9}} tiles and applies them with {{neg|+9%}} Damage Taken for {{w|9}} turns and {{neg|-6%}} Sanity.

|Herald of Ruination =
|Description=Delivers a strike to a large area within {{W|4}} tiles with {{pos|+99%}} Daze Chance and {{W|99%}} chance to cause {{W|Confusion}} for {{W|2}} turns. The chance to {{W|Confuse}} can be reduced by a target's Move Resistance.<br><br>Reduces all cooldowns by {{pos|3}} turns for each target or object of environment within the skill's area of effect.

|Immolation =
|Description=Upon death, grants {{pos|"Blood Vow"}} to all Proselytes within Vision for {{W|6}} turns: <br><br>{{pos|+33%}} Life Drain<br>{{pos|+33%}} Healing Efficiency<br>{{pos|-33%}} Abilities Energy Cost

|Jump Away =
|Description=Jumps {{w|2}} tiles or less, gains {{pos|+66%}} Dodge Chance and {{pos|-33%}} Damage Taken for the next turn.

|Lacerate =
|Description=Delivers a strike with {{neg|-66%}} Damage and {{pos|+66%}} Bleed Chance.

|Lash Blessing =
|Description=Delivers a strike with {{neg|-66%}} Weapon Damage to himself or an ally, granting {{pos|"Battle Rage"}} for {{w|9}} turns: <br><br>{{pos|+10%}} Damage <br>{{pos|+7.5%}} Crit Chance <br>{{pos|+20%}} Crit Efficiency

|Life Leech =
|Description=Deals {{unholy|9 Unholy Damage}} <br><br>Replenishes Health for the amount of damage dealt by the spell. If Health is at {{neg|100%}}, increase it by the same amount for {{W|9}} turns.

|Mark of the Feast =
|Description=Applies {{neg|"Mark of the Feast"}} for {{W|3}} turns: <br><br>{{pos|-26%}} Bleed Resistance <br>{{pos|-13%}} Dodge Chance <br><br>Grants all received attacks {{pos|+13%}} Life Drain. <br><br>Receiving a {{neg|Bleeding}} prolongs the effect by {{neg|1}} turn.

|Murkstrike =
|Description=Performs a {{W|charge}} towards the target and delivers a strike with {{pos|+66%}} Crit Efficiency, {{pos|+66%}} Daze Chance, {{pos|+66%}} Armor Penetration. <br><br>This skill can be used only while affected by {{pos|"Murk"}}.

|Murkwalk =
|Description=Performs a {{W|teleportation}} to the targeted tile. <br><br> Grants {{pos|+18%}} Dodge Chance for {{w|3}} turns and reduces all Cooldowns by {{pos|3}} turns. <br><br>This ability can't be used while affected by {{w|Immobilization}} or {{neg|"Net"}}.

|Neverending Torment =
|Description=Loses {{neg|3%}} Max Health each turn while there's both an enemy and an ally within Vision. If the Martyr is Alarmed, and there are no enemies within Vision, the Health loss is {{neg|tripled}}. <br><br>Upon death, grants "Blood Vow" to a random ally within Vision for {{W|99}} turns: <br><br>{{Pos|+33%}} Life Drain <br>{{pos|+33%}}Healing Efficiency <br>{{pos|+33%}} Abilities Energy Cost

|One Body =
|Description=Transfers {{neg|66%}} of the damage received by the Tentacle to the Summoner. <br>Transfers {{neg|33%}} of the damage received by the summoner to the Tentacle. When the Tentacle is destroyed, the summoner loses {{neg|9%}} Max Health and is applied with {{neg|+33%}} Damage Taken for an indefinite number of turns. <br><br>Killing the Anmarrak destroys its Tentacle Arm as well.

|Phantom Bats =
|Description=Marks an area. <br><br>Next turn releases a swarm of spectral bats at it, dealing {{unholy|26 Unholy Damage}} and applying {{unholy|Curse}} for {{w|13}} turns.

|Sacrificial Blood =
|Description=Applies the target with "Sacrificial Blood", which remains active until the caster's death. <br><br> Using {{W|Spells}} against a target affected by this effect grants {{pos|+9%}} Magic Power and {{pos|+9%}} Healing Efficiency (both effects stack up to {{W|6}} times) and also reduces all cooldowns by {{pos|3}} turns.

|Summon Blood Golem =
|Description=Summons a {{w|Blood Golem}} on the targeted tile.

|Summon the Restless =
|Description=Reanimates one of the bodies in the corpse pile.

|Summon Worm =
|Description=Spends {{neg|3%}} Max health to summon a {{w|Leechworm}} on a targeted tile.

|Tongue Leech =
|Description=Deals {{w|9 Piercing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}}  with {{pos|+33%}} Armor Penetration, {{pos|+66%}} Bleed Chance, {{pos|+66%}} Immobilization Chance, and {{pos|+66%}} Life Drain.

|Tongue Pull =
|Description=Deals {{w|9 Crushing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}} with {{pos|+33%}} Armor Penetration and {{w|99%}} chance to {{w|Pull}} the target {{w|4}} tiles closer. <br><br>This skill can't be countered.

|Tongue Push =
|Description=Deals {{w|9 Crushing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}} with {{pos|+33%}} Armor Penetration and {{w|99%}} chance to {{W|knock}} the target back {{w|2}} tiles. <br><br>This skill can't be countered.

|Tentacle Arm (skill) =
|Description=Summons a {{cl|White|Tentacle Arm}} on a targeted tile and activates the effect of {{pos|"Mountain of Flesh"}} for an indefinite number of turns: <br><br> {{pos|-99%}} Damage Taken <br>{{pos|+200%}} Move Resistance <br>{{pos|+66%}} Control Resistance <br>{{pos|+66%}} Healing Efficiency <br>{{neg|Disables basic attacks and movement to other tiles}}

|Unholy Anthems =
|Description=Grants one of the following effects to all Proselytes within {{w|9}} for {{w|6}} turns: <br><br>{{pos|Rapid Restoration}} <br>{{pos|Sturdiness}} <br>{{pos|Battle Rage}}

|Unholy Ritual =
|Description=Replenishes {{pos|+50%}} Max Health to all the Restless and grants them {{pos|+50%}} Damage.

|Draining Sigil =
|Description=Creates a {{W|Rune}} on the target's tile and two more on the tiles adjacent to it. The {{W|Runes}} persist for {{W|9}} turns or until the caster's death. <br><br>Remaining on the {{W|Runes}} deals {{c|Unholy|9 Unholy Damage}} with {{W|29%}} Immobilization Chance and permanently increases the caster's Max Health by {{pos|6%}}. <br><br>The {{W|Runes}} don't harm Proselytes, instead replenishing them {{pos|9%}} Max Health each turn.

|Wild Swipe =
|Description=Deliver a strike to three adjacent targets with {{pos|+100%}} Knockback Chance.

|Wild Swipe (Ascended Archon) =
|Description=Deliver a strike to three adjacent targets with {{pos|+100%}} Knockback Chance.

|Wild Swipe (Enhanced) =
|Description=Deliver a strike to three adjacent targets with {{pos|+100%}} Knockback Chance.

|Willing Sacrifice =
|Description=Replenishes Health to all allies within Vision for the amount of damage received.

|Witness His Might! =
|Description=Each type of Proselyte within Vision grants {{pos|+6%}} Max Health and {{pos|+6%}} Weapon Damage. <br><br>Hitting an enemy applies them with {{neg|+3%}} Damage Taken for {{w|6}} turns for each type of Proselyte within Vision.

|Wormfood =
|Description=Destroys a flesh-covered corpse and summons {{w|Leechworms}} on the tiles adjacent to it. The number of summoned {{w|Leechworms}} depends on the corpse's size. <br><br>Grants already existing worms {{pos|+9%}} Max Health, {{pos|+9%}} Bleed Chance, and {{pos|+9%}} Crit Chance.  


<!-- Sword skill data -->
<noinclude>Page for all Stoneshard Sword skill data.
</noinclude><includeonly>{{#switch: {{{1}}}

|Cleaving Strike= {{#switch: {{{2}}}
|Active=attack
|Type=Target Area, 3 Tiles
|Range=1
|Energy=10
|Cooldown=8
|Modifiers=Strength, Agility, Perception
|Requirements=- Requires one-handed sword Delivers a strike to three adjacent targets with {{Positive|+25%}} Bodypart Damage and {{Positive|+50%}} Bleed Chance.<br><br>Grants {{Positive|+5%}} Counter Chance for {{W|5}} turns for each enemy hit by the strike.<br><br>The effect stacks up to {{W|3}} times.
|Formuladesc=Delivers a strike to three adjacent targets with {{Positive|+(15 + AGL)%}} Bodypart Damage and {{Positive|+(30 + (2 * STR))%}} Bleed Chance.<br><br>Grants {{Positive|+(0.5 * PRC)%}} Counter Chance for {{W|5}} turns for each enemy hit by the strike.<br><br>The effect stacks up to {{W|3}} times.
|Enemydesc=Delivers a strike to three adjacent targets with {{Positive|+{{#expr: 15 + {{EnemyAttributes|AGL}}}}%}} Bodypart Damage and {{Positive|+{{#expr: 30 + (2 * {{EnemyAttributes|STR}})}}%}} Bleed Chance.<br><br>Grants {{Positive|+{{#expr: 0.5 * {{EnemyAttributes|PRC}}}}%}} Counter Chance for {{W|5}} turns for each enemy hit by the strike.<br><br>The effect stacks up to {{W|3}} times.
|formula_raw=Bodypart Damage: {{Positive| 10 + STR}}<br>Bleeding Chance: {{Positive| 20 + 2 * AGL}}<br>
|#default = }}

|Keeping Distance= {{#switch: {{{2}}}
|Active=maneuver
|Type=Target Tile
|Range=1
|Energy=14
|Cooldown=10
|Modifiers=Strength, Agility, Perception
|Requirements=- Requires one-handed sword {{W|Repositions}} to an adjacent tile.<br><br>Next turn delivers a free strike to a random adjacent enemy with {{Positive|+50%}} Stagger Chance and {{Positive|+10%}} Crit Chance.
|Formuladesc={{W|Repositions}} to an adjacent tile.<br><br>Next turn delivers a free strike to a random adjacent enemy with {{Positive|+(30 + (2 * STR))%}} Stagger Chance and {{Positive|+((0.5 * AGL) +(0.5 * PRC))%}} Crit Chance.
|formula_raw=Stagger Chance: {{Positive| 20 + 1.5 * STR}}<br>Crit Chance: {{Positive| 0.25 * AGL + 0.5 * PRC}}<br>
|#default = }}

|Blade Maintenance= {{#switch: {{{2}}}
|Active=passive
|Requirements=- Requires one-handed sword Grants sword strikes {{Pos|+5%}} Bleed Chance if the equipped {{W|sword's}} Durability is above {{W|80%}}, {{Pos|+5%}} Weapon Damage if its above {{W|90%}}, and {{Pos|+3%}} Crit Chance if it's above {{W|95%}}.<br><br>Reduces {{W|swords'}} Durability loss by {{W|50%}} when blocking with them and by {{W|20%}} when delivering strikes.
|#default = }}

|Fencer Stance= {{#switch: {{{2}}}
|Active=stance
|Type=No Target
|Energy=12
|Cooldown=10
|Requirements=- Requires one-handed sword Activates {{Pos|"Fencer Stance"}} for {{W|8}} turns:<br><br>{{Pos|+5%}} Counter Chance <br>{{Pos|+5%}} Block Chance <br>{{Pos|+5%}} Dodge Chance <br>{{Pos|+8%}} Bleed Chance<br><br>Using this ability tree's skills grants an extra stack of the effect (up to {{W|IV}} stacks).<br><br>Basic sword strikes prolong the duration by {{Pos|1}} turn (up to {{W|12}}) but reduce its number of stacks (no more than once per turn).<br><br>Only one {{W|Stance}} effect can be active at a time.
|formula_raw=Weapon Damage: {{Positive| Weapon Damage - 10}}<br>
|#default = }}

|Steady Tempo= {{#switch: {{{2}}}
|Active=passive
|Requirements=- Requires one-handed sword Using the ability tree's skills grants {{pos|+10%}} Energy Restoration for {{W|5}} turns and reduces the cooldown of the ability tree's random {{W|Attack}} skill by {{pos|1}} turn.<br><br> The effect stacks up to {{W|4}} times.
|#default = }}

|Gloat= {{#switch: {{{2}}}
|Active=passive
|Requirements=- Requires one-handed sword Grants sword strikes {{Pos|+1.5%}} Crit Chance, {{Pos|+3%}} Weapon Damage, and {{pos|+3%}} Energy Drain for each negative effect affecting the target.<br><br>{{pos|Doubles}} the bonuses if the negative effect is {{neg|Bleeding}}.
|#default = }}

|Onrush= {{#switch: {{{2}}}
|Active=attack/charge
|Type=Target Object
|Range=4
|Energy=20
|Cooldown=14
|Modifiers=Strength, Agility, Perception
|Requirements=- Requires one-handed sword Performs a {{W|Charge}} towards the target and delivers a strike with {{Positive|+20%}} Weapon Damage and {{Positive|+10%}} Armor Penetration.<br><br>If the strike does damage, applies the target with {{Negative|-15%}} Bleed Resistance and {{Negative|+10%}} Damage Taken for {{W|4}} turns.
|Formuladesc=Performs a {{W|Charge}} towards the target and delivers a strike with {{Positive|(PRC + AGL)%}} Weapon Damage and {{Positive|((0.5 * AGL) + (0.5 * PRC))%}} Armor Penetration.<br><br>If the strike does damage, applies the target {{Negative|-(1.5 * AGL)%}} Bleed Resistance and {{Negative|+(PRC))%}} Damage Taken for {{W|4}} turns.
|formula_raw=Weapon Damage: {{Positive| 1.5 * STR + 0.5 * AGL}}<br>Armor Piercing: {{Positive| 0.5 * AGL + PRC}}<br>Bleed Debuff: {{Positive| 1.5 * AGL}}<br>Damage Debuff: {{Positive| PRC}}<br>
|#default = }}

|Honed Edge= {{#switch: {{{2}}}
|Active=passive
|Requirements=- Requires one-handed sword Sword hits grants {{Pos|+5%}} Bleed Chance and {{Pos|+3%}} Armor Penetration for {{W|5}} turns.<br>The effect stacks up to {{W|5}} times.
|#default = }}

|#default = Data does not exist.}}</includeonly><noinclude>[[Category:Data]]</noinclude>

<!-- Axe skill data -->
<!-- Mace skill data -->
<!-- Dagger skill data -->
<!-- Two-handed Sword skill data -->
<!-- Two-handed Axe skill data -->
<!-- Two-handed Mace skill data -->
<!-- Spear skill data -->
<!-- Ranged skill data -->
<!-- Shield skill data -->
<!-- Staff skill data -->
<!-- Basic skill data -->
<!-- Athletic skill data -->
<!-- Warfare skill data -->
<!-- Magic Mastery skill data -->
<!-- Dual Wielding skill data -->
<!-- Survival skill data -->
<!-- Armored Combat skill data -->
<!-- Pyromancy skill data -->
<!-- Geomancy skill data -->
<!-- Electromancy skill data -->
</noinclude><includeonly>{{#switch: {{{1}}}
<!--

----- SWORD SKILLS -----

-->
|Cleaving Strike
|Keeping Distance
|Blade Maintenance
|Fencer Stance
|Steady Tempo
|Gloat
|Onrush
|Honed Edge = Sword skill data
<!--

----- AXE SKILLS -----

-->
|Mutilating Lunge
|Cut Through
|No Mercy
|Ferocity
|Massacre
|Reprisal
|Execution
|Tormenting Swings = Axe skill data
<!--

----- MACE SKILLS -----

-->
|Armor Break
|Onslaught
|Dazing Strikes
|Moment of Weakness
|Hammer and Anvil
|Respite
|Knock Out
|Concussion = Mace skill data
<!--

----- DAGGER SKILLS -----

-->
|Double Lunge
|Gaping Wound
|From the Shadows
|Quick Hands
|Painful Stabs
|Deadly Trick
|Weakening Jabs
|Coup de Grace
|Danse Macabre
|Counterattack Mastery = Dagger skill data
<!--

----- TWO-HANDED SWORD SKILLS -----

-->
|Parry
|Hewing Strike
|Recklessness
|Arc Cleave
|Feast of Steel
|Fight to the Death
|Revanche
|Heroic Charge
|Taste of Victory
|Courage = Two-handed Sword skill data
<!--

----- TWO-HANDED AXE SKILLS -----

-->
|Hooking Chop
|Dismember
|Shieldbreaker
|Reign in Blood
|Rampage
|Fatal Strike
|Finish `Em!
|Make Space
|Tool of Execution
|Maim and Kill = Two-handed Axe skill data
<!--

----- TWO-HANDED MACE SKILLS -----

-->
|Mighty Swing
|Unstoppable Force
|Unbalance
|Keep Them Coming
|Forceful Slam
|Striker Stance
|Bonebreaker (Two-Handed Mace skill)
|Skull Crusher
|Severe Concussion
|Revel in Battle = Two-handed Mace skill data
<!--

----- SPEAR SKILLS -----

-->
|Nail Down
|Impaling Lunge
|Precise Hits
|No Retreat
|Determination
|Pikeman Stance
|Wounding Spearhead
|Regroup
|One at a Time!
|Stay Back! = Spear skill data
<!--

----- RANGED WEAPON SKILLS -----

-->
|Taking Aim
|Distracting Shot
|Constant Practice
|Dexterity
|Startling Volley
|Suppression
|Anticipation
|Spot Weakness
|Long Shot
|Hunter's Mark
|Precision
|Headshot
|Shoot to Kill
|Upper Hand = Ranged skill data
<!--

----- SHIELD SKILLS -----

-->
|Raise Shield
|Breakthrough
|Moment of Retribution
|Embodiment of Resilience
|Shield Bash
|Last Bastion
|Hold the Line!
|Retaliation = Shield skill data
<!--

----- STAFF SKILLS -----

-->
|Hail of Blows
|Step Aside!
|Destabilizing Hits
|Battle Trance
|Unwavering Stance
|Triumph
|Now or Never
|Peacemaker = Staff skill data
<!--

----- BASIC SKILLS -----

-->
|Examine Surroundings
|Element of Surprise = Basic skill data
<!--

----- ATHLETIC SKILLS -----

-->
|Mighty Kick
|Leg Sweep
|Disengage
|Not This Time
|Dash
|Sudden Lunge
|Push the Falling
|Inner Reserves
|Elusiveness
|No Time to Linger
|Adrenaline Rush
|Sprint Training
|Peak Performance = Athletic skill data
<!--

----- WARFARE SKILLS -----

-->
|Seize the Initiative
|War Cry
|Opportune Moment
|Setup
|Offensive Tactic
|Defensive Tactic
|Right on Target
|Intimidation
|Against the Odds
|Finisher
|Tactical Advantage
|Thirst for Battle
|Armor Crusher
|Final Push = Warfare skill data
<!--

----- MAGIC MASTERY SKILLS -----

-->
|Seal of Finesse
|Seal of Power
|Seal of Insight
|Seal of Cleansing
|Seal of Reflection
|Seal of Shackles
|Precise Movements
|Dissipation
|Body and Spirit
|Lingering Incantations
|Thaumaturgy
|Arcane Lore = Magic Mastery skill data
<!--

----- DUAL WIELDING SKILLS -----

-->
|Flurry of Strikes
|Deflect
|Dual Wielding Training
|Dying Fervor
|Enough for Everyone
|Concentration
|Berserk Tradition
|Whirlwind
|Unstoppable
|More Blood! = Dual Wielding skill data
<!--

----- SURVIVAL SKILLS -----

-->
|First Aid
|Adaptability
|Pathfinder
|Will to Survive
|Austerity
|Ever Vigilant
|Huntmaster
|Resourcefulness
|Make a Halt
|Butchering
|Cauterize Wounds = Survival skill data
<!--

----- ARMORED COMBAT SKILLS -----

-->
|Self-Repair
|Brace for Impact!
|Hard Target
|Flexible Defense
|Battle-Forged
|Unyielding Defense
|Battering Ram
|Custom Adjustments= Armored Combat skill data
<!--

----- GEOMANCY SKILLS -----

-->
|Runic Boulder
|Stone Armor
|Rune of Enfeeblement
|Stone Spikes
|Petrification
|Rune of Binding
|Rune of Fortifying
|Rune of Absorption
|Earthquake
|Rune of Destabilization
|Boulder Toss
|Overflowing Power
|Rune of Cycle
|Rune of Sustention = Geomancy skill data
<!--

----- PYROMANCY SKILLS -----

-->
|Fire Barrage
|Ring of Fire
|Baptism by Fire
|Flame Saturation
|Blaze
|Magma Rain
|Scorch
|Feed the Flames
|Melting Ray
|Incineration
|Safe Distance
|Inferno
|Excess Heat
|Pyromania = Pyromancy skill data
<!--

----- ELECTROMANCY SKILLS -----

-->
|Jolt
|Impulse
|Short Circuit
|Static Field
|Ball Lightning
|Chain Lightning
|Tempest
|Residual Charge
|Potential Difference
|Unlimited Power
|Conductivity
|Resonance Cascade
|Chain Reaction
|Recharge = Electromancy skill data
<!--

----- BEASTS SKILLS -----

-->
|Animated Servant
|Baleful Scream (harpy)
|Bone Pyres
|Claw Swipe
|Corrosive Blood
|Dash (animal)
|Deadly Tail
|Deafening Roar
|Disturbed Hive
|Dying Rage
|Earthshaking Strike (Young Troll)
|Elusive Predators
|Grab ’Em!
|Howl
|Lion Leap
|Loud Barking
|Pack Sense
|Peck
|Primal Aether
|Ramming Charge (bison)
|Ramming Charge (boar)
|Ramming Charge (moose)
|Rapid Flight
|Regenerative Carapace
|Rend Flesh
|Rock Toss
|Shockwave
|Snake Stealth
|Swarm
|Taste for Flesh
|Troll Regeneration
|Unbearable Stench
|Vengeance of the Dead
|Voracity
|Web Spit = Beasts skill data
<!--

----- BRIGAND SKILLS -----

-->
|Coordinated Advance
|Dead or Alive
|Net Throw
|Raise the Banner!
|Sic! = Brigands skill data
<!--

----- UNDEAD SKILLS -----

-->
|Abominable Vitality
|Binding Sigil
|Bolt of Darkness
|Bone Throw
|Curse of Decay
|Curse of Agony
|Deadly Premonition
|Death Touch
|Desecration
|Spectral Haunting
|Grave Chill
|Necrophage
|Putrid Odor
|Lesser Ritual of Resurrection
|Greater Ritual of Resurrection
|Blasphemous Sigil
|Soul Sacrifice
|Steal Essence
|Strangling Grasp
|Unholy Blessing
|Wraith Summoning= Undead skill data
<!--

----- PROSELYTE SKILLS -----

-->
|Anthems of Bloodshed
|Baleful Scream
|Bestial Charge
|Bestial Rage
|Blessed in Death
|Blister Burst
|Blood Clot
|Blood Craze
|Blood Puddle
|Blood Scent
|Blood Spit
|Bloodthirst
|Brand of Anguish
|Burnt Offering
|Chain Strike
|Corpse Devourment
|Devastating Power
|Driven by Pain
|Earthshaking Strike
|Embrace the Murk
|Feed the Host
|Face of Horror
|Fiery Embers
|Flesh Explosion
|Fling Away
|For Whom The Bell Tolls
|Herald of Ruination
|Immolation
|Jump Away
|Lacerate
|Lash Blessing
|Life Leech
|Mark of the Feast
|Murkstrike
|Murkwalk
|Neverending Torment
|One Body
|Phantom Bats
|Sacrificial Blood
|Summon Blood Golem
|Summon the Restless
|Summon Worm
|Tentacle Arm (skill)
|Tongue Leech
|Tongue Pull
|Tongue Push
|Unholy Anthems
|Unholy Ritual
|Draining Sigil
|Wild Swipe
|Wild Swipe (Ascended Archon)
|Wild Swipe (Enhanced)
|Willing Sacrifice
|Witness His Might!
|Wormfood = Proselyte skill data
<!--

----- ENEMY SKILLS -----

-->
|Blood Oath
|Crimson Banner
|Dark Ritual
|Driven by Pain
|Flesh Explosion
|Swipe
|Vampiric Blood = Enemy skill data
|#default = Skill data missing.
}}</includeonly><noinclude>[[Category:Data]]</noinclude>
