<noincluide>Pages in category "Condition"
The following 152 pages are in this category, out of 152 total.

</noincluide><includeonly>{{#switch: {{{1}}}
Status Effects =
<!-- A -->
Abasa (Condition) =
Acid Bath =
Adrenaline Rush (Condition) =
Against the Odds (Condition) =
Al'qud (Condition) =
Al'qud Aftermath =
Anxiety =
Apathy =
<!-- B -->
Bad Trip =
Bad Trip Aftermath =
Battle Rage =
Bleeding =
Blessing =
Blindness =
Blood Craze (Condition) =
Blood Vow (Condition) =
Body Aches =
Burning =
<!-- C -->
Clear Vision =
Coma =
Concentration (Condition) =
Confusion =
Coughing =
Covered in Alcohol =
Covered in Oil =
Crimson Banner (Condition) =
Curse of Agony (Effect) =
Curse of Decay (Effect) =
<!-- D -->
Daze =
Deadly Intoxication =
Defensive Stance (Condition) =
Defensive Tactic (Condition) =
Despair =
Drunkenness =
<!-- E -->
Elusiveness (Condition) =
Energy Drain (Condition) =
Exceptional Precision =
Exhaustion =
<!-- F -->
Feast of Steel (Condition) =
Fencer's Stance (Condition) =
Freezing Stiff =
Frenzy =
<!-- G -->
Gaping Wound (Condition) =
<!-- H -->
Hammer and Anvil (Condition) =
Hand Injury (Stabilized) =
Head Injury (Stabilized) =
Heroism =
Hornet Honey (Condition) =
Hornet Honey Aftermath =
Hunger (Condition) =
Hunter's Mark (Condition) =
Hypochondria =
<!-- I -->
Immobilization =
Initiative Loss =
Intoxication (Condition) =
<!-- L -->
Leech Therapy =
Leg Injury (Stabilized) =
Life Drain (Condition) =
Light Thirst =
<!-- M -->
Maladies =
Mark of the Feast (Condition) =
Masochism =
Massacre (Condition) =
Medium Hand Injury =
Medium Head Injury =
Medium Leg Injury =
Medium Torso Injury =
Megalomania =
Mighty Swing (Condition) =
Mild Hand Injury (Stabilized) =
Mild Head Injury (Stabilized) =
Mild Leg Injury (Stabilized) =
Mild Paw Injury =
Mild Paw Injury (Stabilized) =
Mild Torso Injury (Stabilized) =
Minor Hand Injury =
Minor Head Injury =
Minor Leg Injury =
Minor Torso Injury =
<!-- N -->
Net =
Nikkaf (Condition) =
Nikkaf Aftermath =
<!-- O -->
Offensive Tactic (Condition) =
Optimism =
<!-- P -->
Pain =
Pain Shock =
Painful Stabs (Condition) =
Paregoric (Condition) =
Paregoric Aftermath =
Parry (Condition) =
Paw Injury =
Paw Injury (Stabilized) =
Petrification (Condition) =
Pikeman Stance (Condition) =
Place of Power =
Poisoning =
Prudence =
<!-- R -->
Rampage (Condition) =
Rapid Restoration =
Receptive =
Regroup (Condition) =
Runic Empowerment =
<!-- S -->
Sacrificial Blood (Condition) =
Sadism =
Satiety =
Second Wind =
Seized Initiative =
Severe Hand Injury =
Severe Hand Injury (Stabilized) =
Severe Head Injury =
Severe Head Injury (Stabilized) =
Severe Intoxication =
Severe Leg Injury =
Severe Leg Injury (Stabilized) =
Severe Paw Injury =
Severe Paw Injury (Stabilized) =
Severe Torso Injury =
Severe Torso Injury (Stabilized) =
Shield Raised =
Sic! (Condition) =
Slaughter (Condition) =
Sleep =
Stagger =
Stardust (Condition) =
Starvation =
Stone Armor (Condition) =
Stone Skin =
Strong Pain =
Stun =
Sturdiness =
Suppression (Condition) =
<!-- T -->
Taking Aim (Condition) =
Terrible Hunger =
Terrible Thirst =
Thirst (Condition) =
Thirst for Battle (Condition) =
Tiredness =
Torso Injury (Stabilized) =
<!-- U -->
Unholy Blessing (condition) =
Unwavering Stance (Condition) =
<!-- V -->
Vampiric Blood (Condition) =
Vigor =
Vomiting =
<!-- W -->
Weakness =
Weariness =
Web =
Wetness =
Willing Sacrifice (Condition) =

|#default = Condição ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>