<includeonly>{{#switch: {{{1}}}
<!-- NPCs -->
|Osbrook NPCs = NPCs de Osbrook
|Ormond (Butcher) = Ormond (Açougueiro)
|Jurg (Carpenter) = Jurg (Carpinteiro)
|Ram (Drunkard) = Ram (Bêbado)
|Rickerd (Emissary) = Rickerd (Emissário)
|Margyt (Food Trader) = Margyt (Comerciante de Alimentos)
|Gina (Fruit Trader) = Gina (Comerciante de Frutas)
|Frid (Herbalist) = Frid (Herbalista)
|Brukk (Innkeeper) = Brukk (Estalajadeiro)
|Elsbeth (Innkeeper (Night Time)) = Elsbeth (Estalajadeira (Noturno))
|Bert (Merchant) = Bert (Comerciante)
|Rona (Peasant) = Rona (Camponesa)
|Ursa (Peasant) = Ursa (Camponesa)
|Jebar (Smith) = Jebar (Ferreiro)
|Anselm (Stableman) = Anselm (Estábulo)
|Hold (Tailor) = Hold (Alfaiate)
|Odar (Village Elder) = Odar (Ancião da Vila)

|Manhshire NPCs = NPCs de Manhshire
|Knud (Elder) = Knud (Ancião)
|Weber vir Lecri (Governor) = Weber vir Lecri (Governador)
|Unar (Scribe) = Unar (Escriba)
|Josh (Priest) = Josh (Sacerdote)
|Dietrich (Smith) = Dietrich (Ferreiro)
|Lynd (the Blacksmith's Son & Apprentice) = Lynd (Filho do Ferreiro & Aprendiz)
|Dirk (NPC) = Dirk (NPC)
|Dirk (Carpenter) = Dirk (Carpinteiro)
|Arenn (Innkeeper) = Arenn (Estalajadeiro)
|Selma (Hostess) = Selma (Anfitriã)
|Gerolt (Merchant) = Gerolt (Comerciante)
|Irma (Vegetable Trader) = Irma (Comerciante de Vegetais)
|Agna (Food Trader) = Agna (Comerciante de Alimentos)
|Gunda (Food Trader) = Gunda (Comerciante de Alimentos)
|Rald (Shepherd) = Rald (Pastor)
|Uta (Merchant's Daughter) = Uta (Filha do Comerciante)
|Hilda (Old Woman) = Hilda (Velha Mulher)
|Frida (Drunkard) = Frida (Bêbada)
|Lotar (Drunkard) = Lotar (Bêbado)
|Alba (Peasant) = Alba (Camponesa)
|Celz (Peasant) = Celz (Camponesa)

|Brynn NPCs = NPCs de Brynn
|Alviso (Banker) = Alviso (Banqueiro)
|Erwurt vir Lecri (Professor) = Erwurt vir Lecri (Professor)
|Zeremee Lavar (Professor) = Zeremee Lavar (Professor)
|Armuz (Merchant) = Armuz (Comerciante)
|Valden vir Krenn (Printing House Owner) = Valden vir Krenn (Dono da Tipografia)
|Vegetable Trader = Comerciante de Vegetais
|Butcher (Trader) = Açougueiro (Comerciante)
|General Merchant (Trader) = Comerciante Geral (Comerciante)
|Herbalist (Trader) = Herbalista (Comerciante)
|Food Trader (Food Trader) = Comerciante de Alimentos (Comerciante de Alimentos)
|Fruit Trader (Food Trader) = Comerciante de Frutas (Comerciante de Alimentos)
|Skinflint Homs (Innkeeper) = Skinflint Homs (Estalajadeiro)
|Eric (Baker) = Eric (Padeiro)
|Fat Yann (Merchant) = Yann Gordo (Comerciante)
|Shea (Merchant) = Shea (Comerciante)
|Bern (Quartermaster of the Vanguard) = Bern (Intendente da Vanguarda)
|Rixa (Hostesses) = Rixa (Anfitriã)
|Maud (Hostesses) = Maud (Anfitriã)
|Letar (Jewelery Trader) = Letar (Comerciante de Joias)
|Giles vir Ivet (Baliff) = Giles vir Ivet (Oficial de Justiça)
|Noel vir Roan (Baliff) = Noel vir Roan (Oficial de Justiça)
|Keremit Lawe (Baliff) = Keremit Lawe (Oficial de Justiça)
|Renod Kann (Merchant) = Renod Kann (Comerciante)
|Elven (Merchant) = Elfo (Comerciante)
|Dwarven (Merchant) = Anão (Comerciante)
|Nistrian (Merchant) = Nistriano (Comerciante)
|Skadian (Merchant) = Skadiano (Comerciante)

|Denbrie NPCs = NPCs de Denbrie
|Reynold (Sergeant) = Reynold (Sargento)
|Mathis (Merchant) = Mathis (Comerciante)
|Wystan (Fisherman) = Wystan (Pescador)
|Salt Workers = Trabalhadores do Sal
|Fisherman = Pescador
|Peasants = Camponeses
|Guards = Guardas

|#default = Propriedade ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>