<includeonly>{{#switch: {{{1}}}
<!-- Add Valuables Names = Translated Names -->

<!--==Jewelry==-->

|Agate = Ágata
|Amethyst = Ametista
|Antique Agraffe = Agrafe Antiquado
|Aquamarine = Água-marinha
|Diamond = Diamante
|Emerald = Esmeralda
|Golden Brooch = Broche Dourado
|Golden Earrings = Brincos de Ouro
|Golden Tooth = Dente de Ouro
|Handful Of Amber = Punhado de Âmbar
|Jade = Jade
|Moonstone = Pedra da Lua
|Morion = Morion
|Ornate Agraffe = Agrafe Ornamentado 
|Ruby = Rubi
|Ruby Beads = Miçangas de Rubi
|Topaz = Topázio
|Sapphire = Safira
|Sea Pearls = Pérolas do Mar
|Silver Clasp = Fecho de Prata


<!--==Animal Pelts and Trophies==-->

<!--Hide, Pelt, Skin | Couro, Pelagem/Pele fina, Pele-->
<!--Como em Português, não temos todas essas convenções, será utilizado apenas Pele & Couro.-->

|Ghoul Hide = Pele de Ghoul
|Ghoul Heart = Coração de Ghoul 
|Bear Pelt = Pele de Urso
|Bison Horns = Chifres de Bisão
|Bison Pelt = Couro de Bisão
|Boar Pelt = Couro de Javali
|Crawler Eye = Olho de Crawler
|Crawler Mandibles = Mandíbula de Crawler
|Deer Antlers = Chifres de Veado
|Deer Pelt = Pele de Veado
|Dog Pelt = Pele de Cachorro
|Fox Pelt = Pele de Raposa
|Gulon Pelt = Pele de Gulon
|Harpy Feathers = Penas de Harpia
|Harpy Stomach = Estômago de Harpia
|Horse Pelt = Pele de Cavalo
|Moose Antlers = Chifres de Alce
|Moose Pelt = Pele de Alce
|Pig Pelt = Pele de Porco
|Rabbit Pelt = Pele de Coelho
|Saiga Horns = Chifres de Saiga
|Saiga Pelt = Pele de Saiga
|Sheep Pelt = Pele de Ovelha
|Snake Skin = Pele de Ccobra
|Squirrel Pelt = Pele de Esquilo
|Troll Pelt = Pele de Troll
|Troll Tusks = Presas de Troll
|Wolf Pelt = Pele de Lobo
|Young Troll Pelt = Pele de Troll Jovem


<!--==Valuable Items==-->

|Altar Bell = Sino do Altar
|Aspergillum = Aspersório
|Bolt of Cloth = Parafuso de Pano
|Bottle of Oil = Garrafa de Óleo
|Bronze Eagle = Águia de Bronze
|Casket = Caixão
|Censer = Incensário
|Drinking Horn = Copo de Chifre
|Exquisite Casket = Caixão Requintada
|Gaming Dice = Dados de Jogo
|Gold Nugget = Pepita de Ouro
|Golden Candelabrum = Candelabro de Ouro
|Golden Cup = Taça de Ouro
|Golden Plate = Prato de Ouro
|Hourglass = Ampulheta
|Copper Candlestick = Castiçal de Cobre
|Iron Ingot = Lingote de Ferro
|Ivory = Marfim
|Jade Figurine = Estatueta de Jade
|King's Bust = Busto do Rei
|Liturgical Chalice = Cálice Litúrgico
|Marble Bear = Urso de Mármore
|Ornate Inkpot = Tinteiro Ornamentado
|Ornate Mirror = Vidro Ornamentado
|Porcelain Vase = Vaso de Porcelana
|Ritual Candles = Velas Ritualísticas
|Candle-end = Ponta de Vela
|Sheath = Bainha
|Silk = Seda
|Silver Cup = Taça de Prata 
|Silver Cutlery = Talheres de Prata
|Silver Decanter = Decantador de Prata
|Silver Earrings = Brincos de Prata
|Silver Nugget = Pepita de Prata
|Silver Plate = Placa de Prata
|Spool of Thread = Carretel de Linha
|Stained Glass = Vitral
|King's Bust = Busto do Rei


<!--==Quest Items==-->

|Alchemy Apparatus = Aparelho de Alquimia
|Black Boar Head = Cabeça de Javali Preto
|Forbidden Grimoire = Grimório Proibido
|Heraldic Note = Nota Heráldica
|Holy Figurine = Estatueta Sagrada
|Monastery Chronicles = Crônicas do Monastério
|Old Census Records = Registros do Recenseamento Antigo
|Pile of Reports = Pilha de Relatórios
|Reliquary = Relicário
|Sack of Grain = Saco de Grãos


<!-- Junk -->
|Straw = Palha
|Coal Chunk = Pedra de Carvão
|Nails = Pregos
|Ladle = Concha
|Mug = Caneca
|Bowl = Tigela
|Pot = Panela
|Plate = Prato
|Rag = Pano
|Rope = Corda
|Folios = Folhas


|#default = Não Traduzido}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>