<includeonly>{{#switch: {{{1}}}
<!-- Swords -->
<!-- Espadas -->
|Ancient Scimitar = Cimitarra Antiga
|Arna's Sword = Espada de Arna
|Battle Cleaver = Machado de Batalha
|Brigand Blade = Lâmina de Bandido
|Captain Messer = Messer do Capitão
|Crude Falchion = Falchion Crude
|Drifter Sword = Espada do Vagante
|Elven Saber = Sabre Élfico
|Engraved Sword = Espada Gravada
|Fancy Sword = Espada Elegante
|Footman Sword = Espada do Soldado
|Goblin Sword = Espada de Goblin
|Guard Blade = Lâmina do Guarda
|Guardsman Broadsword = Espada Larga do Guarda
|Guild Blade = Lâmina da Guilda
|Heirloom Sword = Espada de Herança
|Homemade Sword = Espada Caseira
|Jagged Falchion = Falchion Serrilhado
|Jarl Blade = Lâmina do Jarl
|Jibean Scimitar = Cimitarra Jibean
|Katzbalger = Katzbalger
|Knightly Blade = Lâmina Cavaleiresca
|Mastercrafted Falchion = 
|Mercenary Falchion = Falchion de Mercenário
|Militia Falchion = Falchion de Milícia
|Nomad Saber = Sabre Nômade
|Norse Blade = Lâmina Nórdica
|Orcish Battlesickle = Foice de Batalha Orc
|Orcish Blade = Lâmina Orc
|Orcish Cleaver = Machado Orc
|Orcish Scimitar = Cimitarra Orc
|Ornate Saber = Sabre Ornamentado
|Radiant Sword = Espada Radiante
|Recruit Blade = Lâmina de Recruta
|Relict Blade = Lâmina Relíquia
|Royal Sword = Espada Real
|Rusty Sword = Espada Enferrujada
|Shortsword = Espada Curta
|Skonfert Sword = Lâmina Skonfert
|Supremacy of Flame = Supremacia da Chama
|Templar Sword = Espada Templária
|Theurgist Blade = Lâmina do Teurgo
|Traveler's Blade = Lâmina do Viajante
|Veteran Sword = Espada Veterana
|Royal Blade = Lâmina Real
|Watchman Sword = Espada do Guarda
|Wooden Sword = Espada de Madeira


<!-- Axes -->
<!-- Machados -->
|Aldwynn Axe = Machado de Aldwynn
|Barbaric Axe = Machado Bárbaro
|Baron Axe = Machado do Barão
|Battle Axe = Machado de Batalha
|Bearded Axe = Machado Barbado
|Bearded Hatchet = Machado Barbado
|Boarding Hatchet = Machado de Abordagem
|Broadaxe = Machado Largo
|Brynn Hatchet = Machado de Brynn
|Dwarven Axe = Machado Anão
|Elven Tabar = Tabar Élfico
|Elven Longaxe = Machado Longo Élfico
|Exquisite Tabar = Tabar Exquisito
|Felling Axe = Machado de Derrubada
|Footman Axe = Machado do Soldado
|Gilded Axe = Machado Dourado
|Heavy Aldorian Axe = Machado Pesado Aldoriano
|Heavy Broadaxe = Machado Largo Pesado
|Hunter Hatchet = Machado de Caçador
|Knightly Axe = Machado Cavaleiresco
|Knightly Hatchet = Machado Cavaleiresco
|Lordly Axe = Machado Nobre
|Makeshift Axe = Machado Improvisado
|Mercenary Axe = Machado de Mercenário
|Naval Hatchet = Machado Naval
|Nomad Sagaris = Sagaris Nômade
|Noble Axe = Machado Nobre
|Norse Axe = Machado Nórdico
|Orcish Axe = Machado Orc
|Peasant Hatchet = Machado de Peão
|Reinforced Axe = Machado Reforçado
|Rider Axe = Machado de Cavaleiro
|Sergeant Hatchet = Machado do Sargento
|Skadian Chekan = Chekan Skadiano
|Skadian Hatchet = Machado Skadiano


<!-- Maces -->
<!-- Maças -->
|Blacksmith Hammer = Martelo de Ferreiro
|Bozdogan = Bozdogan
|Carpenter Hammer = Martelo de Carpinteiro
|Chekan = Chekan
|Cudgel = Porrete
|Druzhyna Bludgeon = Maça Druzhyna
|Elven Flail = Mangual Élfico
|Flanged Mace = Maça Flangeada
|Footman Flail = Mangual do Soldado
|Footman Mace = Maça do Soldado
|Footman Warhammer = Martelo de Guerra do Soldado
|Heavy Club = Clava Pesada
|Heavy Flail = Mangual Pesado
|Iron Bar = Barra de Ferro
|Knightly Flail = Mangual Cavaleiresco
|Knightly Flanged Mace = Maça Flangeada Cavaleiresca
|Knightly Warhammer = Martelo de Guerra Cavaleiresco
|Mastercrafted Flanged Mace = Maça Flange Mastercrafted
|Mercenary Warhammer = Martelo de Guerra de Mercenário
|Militia Club = Clava de Milícia
|Militia Flail = Mangual de Milícia
|Morgenstern = Morgenstern
|Nistrian Mace = Maça Nistriana
|Noble Flanged Mace = Maça Flangeada Nobre
|Ornate Flanged Mace = Maça Flangeada Ornamentada
|Ornate Warhammer = Martelo de Guerra Ornamentado
|Peasant Flail = Mangual de Peão
|Reinforced Club = Clava Reforçada
|Reinforced Flanged Mace = Maça Flangeada Reforçada
|Shishpar = Shishpar
|Skadian Bludgeon = Maça Skadiana
|Soldier Club = Clava do Soldado
|Spiked Club = Clava Espinhosa
|Spiked Flail = Mangual Espinhoso
|Three-Headed Flail = Mangual de Três Cabeças
|Veteran Flail = Mangual Veterano
|Veteran Mace = Maça Veterana
|Voivode Bludgeon = Maça Voivode
|Voivod Mace = Maça Voivod
|War Flail = Mangual de Guerra
|Warhammer = Martelo de Guerra


<!-- Daggers -->
<!-- Adagas -->
|Aristocrat Quillon = Quillon Aristocrático
|Assassin Dagger = Adaga de Assassino
|Baselard = Baselard
|Bollock Dagger = Adaga de Bollock
|Brigand Dagger = Adaga de Bandido
|Ceremonial Dagger = Adaga Cerimonial
|Commoner Dagger = Adaga Comum
|Dirk = Punhal
|Ducal Dagger = Adaga Ducal
|Duelist Dagger = Adaga de Duelista
|Elven Stiletto = Estilete Élfico
|Gilded Dagger = Adaga Dourada
|Jambiya = Jambiya
|Kitchen Knife = Faca de Cozinha
|Merchant Dagger = Adaga de Mercador
|Misericorde = Misericorde
|Ornate Dagger = Adaga Ornamentada
|Parrying Dagger = Adaga de Parada
|Recruit Dagger = Adaga de Recruta
|Rondel = Rondel
|Shiv = Estilete
|Short Dagger = Adaga Curta
|Soldier Dagger = Adaga de Soldado
|Stiletto = Estilete
|Travelling Dagger = Adaga de Viajante
|Veteran Dagger = Adaga Veterana


<!-- Bows -->
<!-- Arcos -->
|Aldorian Bow = Arco Aldoriano
|Carved Longbow = Arco Longo Entalhado
|Curved Bow = Arco Curvado
|Curved Shortbow = Arco Curto Curvado
|Dirwin's Bow = Arco de Dirwin
|Dirwin's Shortbow = Arco Curto de Dirwin
|Eeders Bow = Arco de Eeders
|Eeders Longbow = Arco Longo de Eeders
|Guard Bow = Arco do Guarda
|Heavy Aldorian Bow = Arco Pesado Aldoriano
|Hunting Bow = Arco de Caça
|Hunting Shortbow = Arco Curto de Caça
|Levy Bow = Arco de Levy
|Longbow = Arco Longo
|Nomad Bow = Arco Nômade
|Nomad Shortbow = Arco Curto Nômade
|Norse Bow = Arco Nórdico
|Nistrian Bow = Arco Nistriano
|Peasant Bow = Arco de Peão
|Relict Bow = Arco Relíquia
|Relict Longbow = Arco Longo Relíquia
|Short Bow = Arco Curto
|Skirmisher Shortbow = Arco Curto de Escaramuçador
|Soldier Bow = Arco do Soldado
|Soldier Longbow = Arco Longo do Soldado
|Training Shortbow = Arco Curto de Treinamento
|Veteran Bow = Arco Veterano
|War Bow = Arco de Guerra
|Watchman Bow = Arco do Guarda
|Yew Bow = Arco de Teixo
|Yew Shortbow = Arco Curto de Teixo


<!-- Crossbows -->
<!-- Bestas -->
|Aldwynn Crossbow = Besta de Aldwynn
|Belt Hook Crossbow = Besta de Gancho de Cinto
|Brynn Crossbow = Besta de Brynn
|Carved Crossbow = Besta Entalhada
|Cranequin Crossbow = Besta de Cranequin
|Garrison Crossbow = Besta de Guarnição
|Guard Crossbow = Besta do Guarda
|Heavy Crossbow = Besta Pesada
|Hunting Crossbow = Besta de Caça
|Maen Crossbow = Besta de Maen
|Mercenary Crossbow = Besta de Mercenário
|Orient Crossbow = Besta Oriental
|Pull-Lever Crossbow = Besta de Alavanca
|Siege Crossbow = Besta de Cerco
|Soldier Crossbow = Besta do Soldado
|Training Crossbow = Besta de Treino
|War Crossbow = Besta de Guerra
|Watchman Crossbow = Besta do Vigia
|Windlass Crossbow = Besta de Torno
|Guardsman Crossbow = Besta da Guarda


<!-- Staves -->
<!-- Bastões -->
|Arcanist Staff = Bastão de Arcanista
|Astromancer Staff = Bastão de Astromante
|Axonian Warstaff = Bastão de Guerra Axoniano
|Battlemage Staff = Bastão do Mago de Batalha
|Cammock = Cammock
|Chronomancer Staff = Bastão de Cronomante
|Conjurer Staff = Bastão de Conjurador
|Court Mage Staff = Bastão do Mago da Corte
|Cryomancer Staff = Bastão de Criomante
|Dwarven Staff = Bastão Anão
|Electromancer Staff = Bastão de Eletromante
|Enchanter Staff = Bastão de Encantador
|Exquisite Staff = Bastão Exquisito
|Farseer Staff = Bastão do Vidente
|Geomancer Staff = Bastão de Geomante
|Gilded Warstaff = Bastão de Guerra Dourado
|Goblin Staff = Bastão de Goblin
|Healer Staff = Bastão de Curandeiro
|Hermit Staff = Bastão de Eremita
|Hexer Staff = Bastão do Bruxo
|Hierophant Staff = Bastão do Hierofante
|Metallic Staff = Bastão Metálico
|Monk Staff = Bastão de Monge
|Necromancer Staff = Bastão de Necromante
|Orcish Staff = Bastão Orc
|Orient Staff = Bastão Oriental
|Pilgrim Staff = Bastão de Peregrino
|Priest Staff = Bastão de Sacerdote
|Psimancer Staff = Bastão de Psimante
|Pyromancer Staff = Bastão de Piromante
|Relict Staff = Bastão Relíquia
|Reinforced Staff = Bastão Reforçado
|Sangvus Illumination = Iluminação de Sangvus
|Shaman Staff = Bastão de Xamã
|Skadian Staff = Bastão Skadiano
|Sorcerer Staff = Bastão do Feiticeiro
|Spellweaver Staff = Bastão do Tecelão de Feitiços
|Traveling Staff = Bastão de Viagem
|Tribal Staff = Bastão Tribal
|Vampiric Staff = Bastão Vampírico
|Venomancer Staff = Bastão de Venenador
|Wizard Staff = Bastão de Mago
|Witch Staff = Bastão de Bruxa


<!-- Spears -->
<!-- Lanças -->
|Awl Pike = Awl Pike
|Billhook = Billhook
|Brandistock = Brandistock
|Fauchard Fork = Garfo de Fa
|Footman Halberd = Alabarda do Soldado
|Footman Spear = Lança do Soldado
|Goedendag = Goedendag
|Guard Halberd = Alabarda do Guarda
|Guisarme = Guisarme
|Halberd = Alabarda
|Hilda's Spear = Lança de Hilda
|Hunting Spear = Lança de Caça
|Lance = Lança
|Magistrate Halberd = Alabarda do Magistrado
|Mancatcher = Mancatcher
|Mercenary Halberd = Alabarda de Mercenário
|Militia Spear = Lança de Milícia
|Norse Spear = Lança Nórdica
|Ox Tongue Spear = Lança de Língua de Boi
|Partizan = Partizan
|Peasant Pitchfork = Forquilha de Peão
|Peasant Spear = Lança de Peão
|Sabre Halberd = Alabarda Sabre
|Scorpion Halberd = Alabarda Escorpião
|Spear of the Faceless = Lança do Sem Rosto
|Spetum = Spetum
|Spontoon = Spontoon
|Veteran Spear = Lança Veterana
|War Pitchfork = Forquilha de Guerra
|War Spear = Lança de Guerra
|Watchman Halberd = Alabarda do Guarda


<!-- 2H Swords -->
<!-- 2H Espadas -->
|Blademaster Greatsword = Espada Grande do Mestre das Lâminas
|Captain Greatsword = Espada Grande do Capitão
|Claymore = Claymore
|Crude Longsword = Espada Longa Crude
|Dueling Two-Hander = Espada de Duas Mãos de Duelo
|Espadon = Espadão
|Exquisite Two-Hander = Espada de Duas Mãos Exquisita
|Flamberge = Flamberge
|Footman Bastard Sword = Espada Bastarda do Soldado
|Footman Longsword = Espada Longa do Soldado
|Grossmesser = Grossmesser
|Knightly Two-Hander = Espada de Duas Mãos Cavaleiresca
|Mercenary Longsword = Espada Longa de Mercenário
|Nistrian Rhomphaia = Rhomphaia Nistriana
|Noble Longsword = Espada Longa Nobre
|Ornate Longsword = Espada Longa Ornamentada
|Recruit Bastard Sword = Espada Bastarda de Recruta
|Sergeant Longsword = Espada Longa do Sargento
|Sergeant Two-Hander = Espada de Duas Mãos do Sargento
|Vanguard Two-Hander = Espada de Duas Mãos da Vanguarda
|War Scythe = Foice de Guerra
|Warbrand = Marca de Guerra


<!-- 2H Axes -->
<!-- 2H Machados -->
|Aldorian Longaxe = Machado Longo Aldoriana
|Aldorian Poleaxe = Alabarda Aldoriana
|Aldwynn Poleaxe = Alabarda de Aldwynn
|Captain Poleaxe = Alabarda do Capitão
|Doloire = Doloire
|Double Headed Longaxe = Machado Longo de Duas Cabeças
|Double-Headed Longaxe = Machado Longo de Duas Cabeças
|Eederax = Eederax
|Exquisite Longaxe = Machado Longo Exquisita
|Footman Longaxe = Machado Longo do Soldado
|Footman Poleaxe = Alabarda do Soldado
|Forholt Staff = Bastão de Forholt
|Garrison Eederax = Eederax de Guarnição
|Glaive = Glaive
|Heavy Eederax = Eederax Pesado
|Heavy Longaxe = Machado Longo Pesada
|Heavy Poleaxe = Alabarda Pesada
|Jagged Voulge = Voulge Serrilhada
|Knightly Poleaxe = Alabarda Cavaleiresca
|Lumberjack Axe = Machado de Lenhador
|Militia Bill = Bill de Milícia
|Militia Longaxe = Machado Longo de Milícia
|Militia Poleaxe = Alabarda de Milícia
|Nistrian Bardiche = Bardiche Nistriana
|Norse Longaxe = Machado Longo Nórdica
|Orient Longaxe = Machado Longo Oriental
|Ornate Voulge = Voulge Ornamentada
|Peasant Scythe = Foice de Peão
|Recruit Heavy Broadaxe = Machado Largo Pesado de Recruta
|Soldier Heavy Broadaxe = Machado Largo Pesado de Soldado
|Sergeant Poleaxe = Alabarda do Sargento
|Skadian Bardiche = Bardiche Skadiana
|Skadian Sovnya = Sovnya Skadiana
|Soldier Poleaxe = Alabarda do Soldado
|Veteran Longaxe = Machado Longo Veterana
|Veteran Poleaxe = Alabarda Veterana
|Voulge = Voulge
|Watchman Poleaxe = Alabarda do Guarda


<!-- 2H Maces -->
<!-- 2H Maças -->
|Aldorian Polehammer = Martelo de Pólo Aldoriano
|Aldwynn Polemace = Maça de Pólo de Aldwynn
|Brynn Polehammer = Martelo de Pólo de Brynn
|Elven Maul = Maça Élfica
|Elven War Maul = Maça de Guerra Élfica
|Exquisite Polemace = Maça de Pólo Exquisita
|Footman Polehammer = Martelo de Pólo do Soldado
|Footman Polemace = Maça de Pólo do Soldado
|Heavy Polemace = Maça de Pólo Pesada
|Heavy Warclub = Clava Pesada
|Heavy Warpick = Warpick Pesado
|Honorary Polehammer = Martelo de Pólo Honorário
|Hawk's Beak = Bico de Falcão
|Knightly Polehammer = Martelo de Pólo Cavaleiresco
|Knightly Polemace = Maça de Pólo Cavaleiresca
|Knightly War Maul = Maça de Guerra Cavaleiresca
|Kriegshammer = Kriegshammer
|Large Club = Clava Grande
|Long Flail = Mangual Longo
|Maen Flail = Mangual de Maen
|Mercenary Polehammer = Martelo de Pólo de Mercenário
|Militia Polehammer = Martelo de Pólo de Milícia
|Nistrian Polemace = Maça de Pólo Nistriana
|Orcish Warclub = Clava Orc
|Ornate Polehammer = Martelo de Pólo Ornamentado
|Recruit Polemace = Maça de Pólo de Recruta
|Reinforced Polehammer = Martelo de Pólo Reforçado
|Reinforced Warclub = Clava Reforçada
|Relict Hammer = Martelo Relíquia
|Soldier Polemace = Maça de Pólo do Soldado
|Spiked Warclub = Clava Espinhosa
|Veteran Polehammer = Martelo de Pólo Veterano
|Veteran Polemace = Maça de Pólo Veterana
|Veteran War Maul = Maça de Guerra Veterana
|War Maul = Maça de Guerra


<!-- Ammo -->
<!-- Munição -->
|Bodkin Arrows = Flechas de Ponta de Agulha
|Bodkin Bolts = Flechas de Ponta de Agulha
|Broadhead Arrows = Flechas de Ponta Larga
|Broadhead Bolts = Flechas de Ponta Larga
|Leaf-Shaped Arrows = Flechas em Forma de Folha
|Leaf-Shaped Bolts = Flechas em Forma de Folha


<!-- Quivers -->
<!-- Bainhas -->
|Crude Bolt Quiver = Bainha de Flechas Crude
|Eastern Quiver = Bainha Oriental
|Leather Bolt Quiver = Bainha de Flechas de Couro
|Leather Quiver = Bainha de Couro
|Ornate Quiver = Bainha Ornamentada
|Reinforced Bolt Quiver = Bainha de Flechas Reforçada
|Soldier's Bolt Quiver = Bainha de Flechas do Soldado
|Soldier's Quiver = Bainha do Soldado


<!-- Shields -->
<!-- Escudos -->
|Aristocrat Shield = 
|Assault Shield = 
|Board Shield = Escudo de Tábua
|Brotherhood of Ouroboros' Shield = Escudo da Irmandade de Ouroboros
|Brynn Pavise = Pavise de Brynn
|Buckler = Escudo de Braço
|Council Heater Shield = Escudo de Conselho
|Dwarven Shield = Escudo Anão
|Fist Shield = Escudo de Punho
|Footman Shield = Escudo do Soldado
|Gray Army Heater Shield = Escudo de Exército Cinza
|Guardsman Shield = Escudo do Guarda
|Heater Shield = Escudo de Aquecedor
|Heater Shield D = Escudo de Aquecedor D
|Heater Shield E = Escudo de Aquecedor E
|Heater Shield F = Escudo de Aquecedor F
|Huscarl Shield = Escudo de Huscarl
|Joust Shield = Escudo de Justa
|Kalkan = Kalkan
|Knightly Shield = Escudo Cavaleiresco
|Kite Shield = Escudo de Pipa
|Leather Targe = Escudo de Couro
|Long Shield = Escudo Longo
|Maaf Shield = Escudo Maaf
|Magistrate Heater Shield = Escudo de Magistrado
|Nomad Adarga = Adarga Nômade
|Oaken Shield = Escudo de Carvalho
|Orient Shield = Escudo Oriental
|Orient Tower Shield = Escudo de Torre Oriental
|Reinforced Kalkan = Kalkan Reforçado
|Reinforced Shield = Escudo Reforçado
|Relict Shield = Escudo Relíquia
|Rigild's Redemption = Redenção de Rigild
|Rider Shield = Escudo de Cavaleiro
|Rondache = Rondache
|Round Shield = Escudo Redondo
|Shield of the Truth's Eternal Sun = Escudo do Sol Eterno da Verdade
|Skadian Shield = Escudo Skadiano
|Skirmisher Shield = Escudo de Escaramuçador
|Squire Shield = Escudo de Escudeiro
|Thousand-Faced Shield = Escudo de Mil Faces
|Tower Shield = Escudo de Torre


<!-- Headgear -->
<!-- Capacete -->
|Academy Circlet = Circlet da Academia
|Aldorian Topfhelm = Topfhelm Aldoriano
|Apprentice Cowl = Capuz de Aprendiz
|Arcanist Cowl = Capuz do Arcanista
|Arming Cap = Gorro de Armar
|Barbute = Barbuta
|Battlemage Circlet = Circlet do Mago de Batalha
|Battlemage Cowl = Capuz do Mago de Batalha
|Bellows Visored Sallet = Sallet com Viseira de Fole
|Bellows-Visored Sallet = Sallet com Viseira de Fole
|Broad-Brimmed Hat = Chapéu de Aba Larga
|Captain Barbute = Barbuta do Capitão
|Ceremonial Sentinet = Sentinet Cerimonial
|Cervelliere = Cervelliere
|Cervelliere with Ear Guards = Cervelliere com Protetores de Orelha
|Chronomancer Cowl = Capuz do Cronomante
|Closed Coif = Coifa Fechada
|Cone Helmet = Elmo de Cone
|Court Mage Diadem = Diadema do Mago da Corte
|Crimson Headband = Bandana Carmesim
|Cryomancer Cowl = Capuz do Criomante
|Dwarven Circlet = Circlet Anão
|Electromancer Cowl = Capuz do Eletromante
|Exquisite Cowl = Capuz Exquisito
|Flat Kettle Helmet = Elmo de Chaleira Plano
|Fledgling Mage Cowl = Capuz do Mago Iniciante
|Forester Hat = Chapéu do Guarda Florestal
|Gamekeeper Hat = Chapéu do Guarda-caça
|Geomancer Cowl = Capuz do Geomante
|Gilded Circlet = Circlet Dourado
|Gryphon Sallet = Sallet de Grifo
|Guard Helmet = Elmo do Guarda
|Hermit Wreath = Coroa do Eremita
|Hired Blade Cowl = Capuz da Lâmina Contratada
|Hood = Capuz
|Hounskull Bascinet = Bascinete Hounskull
|Jousting Bascinet = Bascinete de Justa
|Jousting Topfhelm = Topfhelm de Justa
|Kettle Helmet = Elmo de Chaleira
|Klappvisor Bascinet = Bascinete Klappvisor
|Luxurious Sallet = Sallet Luxuoso
|Mail Cervelliere = Cervelliere de Malha
|Mail Coif = Coifa de Malha
|Mastercrafted Sallet = Sallet Mastercrafted
|Mercenary Captain Headwear = Touca do Capitão Mercenário
|Norrheim Helmet = Elmo de Norrheim
|Novice Mage Cowl = Capuz do Mago Novato
|Open Bascinet = Bascinete Aberto
|Open Sentinet = Sentinet Aberto
|Ornate Barbute = Barbuta Ornamentada
|Ornate Mail Coif = Coifa de Malha Ornamentada
|Ornate Sallet = Sallet Ornamentado
|Padded Coif = Coifa Acolchoada
|Peasant Cap = Gorro de Peão
|Peasant Hat = Chapéu de Peão
|Pig-Faced Bascinet = Bascinete de Cara de Porco
|Plague Doctor Mask = Máscara de Médico da Peste
|Pot Helmet = Elmo de Panela
|Pyromancer Cowl = Capuz do Piromante
|Radiant Topfhelm = Topfhelm Radiante
|Reinforced Sentinet = Sentinet Reforçado
|Ruby Circlet = Circlet de Rubi
|Sallet = Sallet
|Skadian Helmet = Elmo Skadiano
|Spellweaver Cowl = Capuz do Tecelão de Feitiços
|Squire Mail Coif = Coifa de Malha do Escudeiro
|Topaz Circlet = Circlet de Topázio
|Topfhelm = Topfhelm
|Vagabond Knight's Sentinet = Sentinet do Cavaleiro Vagabundo
|Vagrant Cowl = Capuz do Vagabundo
|Visored Barbute = Barbuta com Viseira
|Visored Cervelliere = Cervelliere com Viseira
|Visored Grand Bascinet = Grande Bascinete com Viseira
|Visored Pot Helmet = Elmo de Panela com Viseira
|Visored Sallet = Sallet com Viseira
|Visored Sentinet = Sentinet com Viseira
|Wanderer's Cowl = Capuz do Viajante
|War Hat = Chapéu de Guerra
|Witch Hat = Chapéu de Bruxa
|Witchfinder Hat = Chapéu do Caçador de Bruxas
|Wolf Ribs Bascinet = Bascinete de Costelas de Lobo


<!-- Chestpieces -->
<!-- Armadura -->
|Aldwynn Cuirass = Couraça de Aldwynn
|Apprentice Robe = Manto de Aprendiz
|Arcanist Mantle = Manto do Arcanista
|Aristocrat Doublet = Gibão Aristocrático
|Battlemage Gambeson = Gambesão do Mago de Batalha
|Battlemage Mantle = Manto do Mago de Batalha
|Brigand Mantle = Manto do Bandido
|Captain Brigandine = Brigantina do Capitão
|Captain Cuirass = Couraça do Capitão
|Captain Gambeson = Gambesão do Capitão
|Ceremonial Armor = Armadura Cerimonial
|Ceremonial Cuirass = Couraça Cerimonial
|Chronomancer Mantle = Manto do Cronomante
|Court Mage Mantle = Manto do Mago da Corte
|Court Wizard Mantle = Manto do Mago da Corte
|Cryomancer Mantle = Manto do Criomante
|Der Vyrne Heirloom Cuirass = Couraça de Herança Der Vyrne
|Dirwin's Vest = Colete de Dirwin
|Doublet = Gibão
|Duelist Doublet = Gibão do Duelista
|Elven Brigandine = Brigantina Élfica
|Elven Garment = Vestimenta Élfica
|Electromancer Mantle = Manto do Eletromante
|Exquisite Mantle = Manto Exquisito
|Fencer Doublet = Gibão do Esgrimista
|Fjall Armor = Armadura de Fjall
|Flagbearer Armor = Armadura do Porta-Bandeira
|Fledgling Mage Mantle = Manto do Mago Iniciante
|Footman Brigandine = Brigantina do Soldado
|Footman Mail = Malha do Soldado
|Fur Vest = Colete de Pele
|Gambeson = Gambesão
|Geomancer Mantle = Manto do Geomante
|Hauberk = Cota de Malha
|Hermit Garment = Vestimenta do Eremita
|Hired Mage Mantle = Manto do Mago Contratado
|Initiate Robe = Manto de Iniciado
|Jonna's Mantle = Manto de Jonna
|Jousting Armor = Armadura de Justa
|Knightly Armor = Armadura Cavaleiresca
|Knightly Brigandine = Brigantina Cavaleiresca
|Lamellar Gambeson = Gambesão Lamelar
|Leather Vest = Colete de Couro
|Linen Shirt = Camisa de Linho
|Long Gambeson = Gambesão Longo
|Magistrate Gambeson = Gambesão do Magistrado
|Magistrate Mail = Malha do Magistrado
|Mail Mantle = Manto de Malha
|Mail Shirt = Camisa de Malha
|Maen Mantle = Manto de Maen
|Magehunter Gambeson = Gambesão do Caçador de Magos
|Merchant Garment = Vestimenta de Mercador
|Mercenary Brigandine = Brigantina de Mercenário
|Mercenary Cuirass = Couraça de Mercenário
|Mirror Plate Gambeson = Gambesão de Placa Espelhada
|Noble Armor = Armadura Nobre
|Norrheim Garment = Vestimenta de Norrheim
|Novice Mage Mantle = Manto do Mago Novato
|Old Shirt = Camisa Velha
|Old-Fashioned Armor = Armadura Antiga
|Padded Doublet = Gibão Acolchoado
|Padded Leather Vest = Colete de Couro Acolchoado
|Plate Cuirass = Couraça de Placa
|Pourpoint = Pourpoint
|Pyromancer Mantle = Manto do Piromante
|Quilted Jacket = Jaqueta Acolchoada
|Recruit Mail = Malha de Recruta
|Red Silk Mantle = Manto de Seda Vermelha
|Royal Ranger Gambeson = Gambesão do Guarda Real
|Scaled Armor = Armadura Escamada
|Skarhogg Garment = Vestimenta de Skarhogg
|Soldier Mantle = Manto do Soldado
|Spellweaver Mantle = Manto do Tecelão de Feitiços
|Tattered Rags = Farrapos Esfarrapados
|Townsman Garment = Vestimenta de Cidadão
|Townsman Shirt = Camisa de Cidadão
|Velmir's Embroidered Caftan = Caftan Bordado de Velmir
|Vehement Brigandine = Brigantina Veemente
|Vehement Gambeson = Gambesão Veemente
|Vagabond Knight's Armor = Armadura do Cavaleiro Vagabundo
|Wanderer's Mantle = Manto do Viajante


<!-- Capes -->
<!-- Capas -->
|Azure Cape = Capa Azul
|Court Mage Cloak = Capa do Mago da Corte
|Court Mage Mantle = Manto do Mago da Corte
|Jibean Cape = Capa Jibean
|Jousting Cloak = Capa de Justa
|Nistrian Noble Cloak = Capa Nobre Nistriana
|Occult Cloak = Capa Oculta
|Travelling Cape = Capa de Viagem
|Velvet Cloak = Capa de Veludo
|Worn Cloak = Capa Desgastada


<!-- Gloves -->
<!-- Luvas -->
|Battlemage Gloves = Luvas do Mago de Batalha
|Blacksmith Mittens = Luvas do Ferreiro
|Brigandine Gloves = Luvas de Brigantina
|Captain Gloves = Luvas do Capitão
|Court Mage Gloves = Luvas do Mago da Corte
|Falconeer Gloves = Luvas do Falcão
|Jonna's Casting Bracers = Braçadeiras de Lançamento de Jonna
|Knightly Gauntlets = Manoplas Cavaleirescas
|Leather Bracers = Braçadeiras de Couro
|Leather Gloves = Luvas de Couro
|Leosthenes' Bracers = Braçadeiras de Leosthenes
|Mail Gloves = Luvas de Malha
|Mage Bracers = Braçadeiras de Mago
|Mystic Gloves = Luvas Místicas
|Novice Hand Wraps = Envoltórios de Mão de Novato
|Orient Bracers = Braçadeiras Orientais
|Plate Gauntlets = Manoplas de Placa
|Plate Mittens = Luvas de Placa
|Riveted Gloves = Luvas Rebitadas
|Ruby Mage Bracers = Braçadeiras de Mago de Rubi
|Sapphire Mage Bracers = Braçadeiras de Mago de Safira
|Sergeant Gloves = Luvas do Sargento
|Soldier Gloves = Luvas do Soldado
|Sorcerer Bracers = Braçadeiras do Feiticeiro
|Splint Bracers = Braçadeiras de Talas
|Splint Vambraces = Braçadeiras de Talas
|Tied Gloves = Luvas Amarradas
|Town Gloves = Luvas de Cidade
|Work Gloves = Luvas de Trabalho


<!-- Boots -->
<!-- Botas -->
|Aldwynn Sabatons = Sabatons de Aldwynn
|Baron Sabatons = Sabatons do Barão
|Captain Boots = 
|Court Mage Boots = Botas do Mago da Corte
|Duelist Boots = Botas do Duelista
|Elven Boots = Botas Élficas
|Engraved Greaves = Grevas Gravadas
|Fancy Boots = Botas Elegantes
|Hide Boots = Botas de Pele
|Knightly Sabatons = Sabatons Cavaleirescos
|Magehunter Boots = Botas do Caçador de Magos
|Mail Boots = Botas de Malha
|Mahir's Boots = Botas de Mahir
|Noble Sabatons = Sabatons Nobres
|Norse Boots = Botas Nórdicas
|Peasant Shoes = Sapatos de Peão
|Pointy Shoes = Sapatos Pontudos
|Recruit Boots = Botas de Recruta
|Reinforced Boots = Botas Reforçadas
|Riding Boots = Botas de Montaria
|Rusted Shackles = Algemas Enferrujadas
|Sardar Boots = Botas de Sardar
|Scaled Boots = Botas Escamadas
|Sergeant Greaves = Grevas do Sargento
|Sergeant Sabatons = Sabatons do Sargento
|Soldier Boots = Botas do Soldado
|Splint Boots = Botas de Talas
|Tanned Boots = Botas Curtidas
|Town Shoes = Sapatos de Cidade
|Travelling Shoes = Sapatos de Viagem
|Veteran Greaves = Grevas Veteranas


<!-- Belts -->
<!-- Cintos -->
|Armor Belt = Cinto de Armadura
|Aristocrat Belt = Cinto Aristocrático
|Braided Girdle = Cinta Trançada
|Captain Waistband = Cinta do Capitão
|Chain Belt = Cinto de Corrente
|Court Mage Belt = Cinto do Mago da Corte
|Court Wizard Belt = Cinto do Mago da Corte
|Decorated Sash = Faixa Decorada
|Duelist Belt = Cinto do Duelista
|Embroidered Belt = Cinto Bordado
|Fancy Belt = Cinto Elegante
|Footman Belt = Cinto do Soldado
|Footman Girdle = Cinta do Soldado
|Fur Belt = Cinto de Pele
|Gilded Belt = Cinto Dourado
|Gilded Duelist Belt = Cinto Dourado do Duelista
|Gilded Nobleman Belt = Cinto Dourado do Nobre
|Jorgrim's Belt = Cinto de Jorgrim
|Knightly Belt = Cinto Cavaleiresco
|Knightly Girdle = Cinta Cavaleiresca
|Leather Belt = Cinto de Couro
|Luxurious Belt = Cinto Luxuoso
|Mercenary Belt = Cinto de Mercenário
|Mercenary Waistband = Cinta de Mercenário
|Mystic Belt = Cinto Místico
|Nomad Girdle = Cinta Nômade
|Nomad Sash = Faixa Nômade
|Norse Belt = Cinto Nórdico
|Ornate Girdle = Cinta Ornamentada
|Peasant Sash = Faixa de Peão
|Plated Belt = Cinto Placado
|Rope Belt = Cinto de Corda
|Ruby Sash = Faixa de Rubi
|Wolfbrother Belt = Cinto do Irmão Lobo


<!-- Rings -->
<!-- Aneis -->
|Ancient Copper Ring = Anel de Cobre Antigo
|Berserk Ring = Anel do Berserker
|Brass Agate Ring = Anel de Ágata de Latão
|Brass Ring = Anel de Latão
|Brass Signet = Sinete de Latão
|Bronze Amethyst Ring = Anel de Bronze com Ametista
|Carved Gold Ring = Anel de Ouro Entalhado
|Copper Ring = Anel de Cobre
|Exquisite Ruby Ring = Anel de Rubi Exquisito
|Exquisite Gold Ring = Anel de Ouro Exquisito
|Gold Aquamarine Ring = Anel de Ouro com Água-marinha
|Gold Diamond Ring = Anel de Ouro com Diamante
|Gold Ring = Anel de Ouro
|Gold Ruby Ring = Anel de Ouro com Rubi
|Gold Sapphire Ring = Anel de Ouro com Safira
|Hermit Ring = Anel do Eremita
|Mastercrafted Silver Ring = Anel de Prata Mastercrafted
|Morion Ring = Anel de Morion
|Silver Amethyst Ring = Anel de Prata com Ametista
|Silver Aquamarine Ring = Anel de Prata com Água-marinha
|Silver Emerald Ring = Anel de Prata com Esmeralda
|Silver Insert Gold Ring = Anel de Ouro com Inserção de Prata
|Silver Jade Ring = Anel de Prata com Jade
|Silver Ring = Anel de Prata
|Silver Ruby Ring = Anel de Prata com Rubi
|Silver Sapphire Ring = Anel de Prata com Safira
|Silver Topaz Ring = Anel de Prata com Topázio
|Steel Signet = Sinete de Aço
|Velmir's Ring = Anel de Velmir
|Verren's Ring = Anel de Verren


<!-- Amulets -->
<!-- Amuletos -->
|Amber Amulet = Amuleto de Âmbar
|Amethyst Pendant = Pingente de Ametista
|Amulet of the Everflaming = Amuleto da Chama Eterna
|Bow Amulet = Amuleto de Arco
|Bow Pendant = Pingente de Arco
|Carved Topaz Amulet = Amuleto de Topázio Entalhado
|Carved Topaz Pendant = Pingente de Topázio Entalhado
|Coin Talisman = Talismã de Moeda
|Copper Chain = Corrente de Cobre
|Crescent Amulet = Amuleto Crescente
|Crescent Necklace = Colar Crescente
|Crude Amulet = Amuleto Cru
|Everflaming Pendant = Pingente da Chama Eterna
|Fang Amulet = Amuleto de Presa
|Fang Pendant = Pingente de Presa
|Gold Diamond Talisman = Talismã de Ouro com Diamante
|Gold Medallion = Medalhão de Ouro
|Gold Sapphire Talisman = Talismã de Ouro com Safira
|Gold Talisman = Talismã de Ouro
|Hand Amulet = Amuleto de Mão
|Hexer Talisman = Talismã do Bruxo
|Hilda's Amulet = Amuleto de Hilda
|Jade Amulet = Amuleto de Jade
|Jade Talisman = Talismã de Jade
|Jibean Pendant = Pingente Jibean
|Jibean Talisman = Talismã Jibean
|Jorgrim's Amulet = Amuleto de Jorgrim
|Jorgrim's Pendant = Pingente de Jorgrim
|Lazurite Amulet = Amuleto de Lazurita
|Lazurite Pendant = Pingente de Lazurita
|Mastercrafted Aquamarine Necklace = Colar de Água-marinha Mastercrafted
|Mastercrafted Emerald Pendant = Pingente de Esmeralda Mastercrafted
|Oracle Star = Estrela do Oráculo
|Pagan Amulet = Amuleto Pagão
|Pagan Pendant = Pingente Pagão
|Pearl Necklace = Colar de Pérolas
|Phylactery = Filactério
|Phylactery Talisman = Talismã de Filactério
|Ruby Necklace = Colar de Rubi
|Ruby Pendant = Pingente de Rubi
|Runic Amulet = Amuleto Rúnico
|Sapphire Pendant = Pingente de Safira
|Sapphire Talisman = Talismã de Safira
|Silver Aquamarine Amulet = Amuleto de Prata com Água-marinha
|Silver Amethyst Amulet = Amuleto de Prata com Ametista
|Silver Emerald Amulet = Amuleto de Prata com Esmeralda
|Trophy Necklace = Colar de Troféu
|Venemist's Talisman = Talismã do Venemista
|Warding Hand Amulet = Amuleto de Mão Protetora


<!-- Treatises -->
<!-- Tratados -->
<!-- Moved to PT-BR_Treatises-->
<!-- Movidos para PT-BR_Treatises-->


<!-- Drinks -->
<!-- Bebidas -->
|Brandy = Conhaque
|Brynn Vermouth = Vermute de Brynn
|Dark Ale = Cerveja Escura
|Elven Ice Wine = Vinho de Gelo Élfico
|Elven Mud = Lama Élfica
|Jug of Milk = Jarra de Leite
|Jug of Spoiled Milk = Jarra de Leite Estragado
|Mannshire Fortified = Fortificado de Mannshire
|Mead = Hidromel
|Spirit = Aguardente
|Waterskin = Cantil


<!-- Mushrooms -->
<!-- Cogumelos -->
|Chanterelle = Cantarela
|Death Cap = Chapéu da Morte
|Fly Agaric = Amanita
|Magefungus = Fungus de Mago
|Morel = Morchela
|Penny Bun = Boleto
|Pinecap = Pinhão
|Roasted Chanterelle = Cantarela Torrada
|Roasted Death Cap = Chapéu da Morte Torrado
|Roasted Fly Agaric = Amanita Torrada
|Roasted Morel = Morchela Torrada
|Roasted Penny Bun = Boleto Torrado
|Roasted Pinecap = Pinhão Torrado
|Rotten Chanterelle = Cantarela Podre
|Rotten Death Cap = Chapéu da Morte Podre
|Rotten Fly Agaric = Amanita Podre
|Rotten Morel = Morchela Podre
|Rotten Penny Bun = Boleto Podre
|Rotten Pinecap = Pinhão Podre


<!-- Herbs -->
<!-- Ervas -->
|Acorn = Bolota
|Agrimony = Agrimônia
|Bogbean = Feijão-do-brejo
|Burdock = Bardana
|Burnet = Pimpinela
|Fleawort = Erva-das-pulgas
|Henbane = Beladona
|Hop Cone = Cone de Lúpulo
|Horsetail = Cavalinha
|Mindwort = Erva-da-mente
|Nettle = Urtiga
|Pine Cone = Pinha
|Poppy = Papoula
|Roasted Acorn = Bolota Torrada
|Rhubarb = Ruibarbo
|Spearmint = Hortelã
|Stick = Graveto
|Thyme = Tomilho
|Wormwood = Losna


<!-- Tools & Stuff -->
<!-- Ferramentas & Coisas -->
|Backpack = Mochila
|Battle Sling = Estilingue de Batalha
|Broom = Vassoura
|Carpenter Hammer = Martelo de Carpinteiro
|Chain = Corrente
|Hunting Sling = Estilingue de Caça
|Lute = Alaúde
|Makeshift Sling = Estilingue Improvisada
|Militia Sling = Estilingue de Milícia
|Ornate Sling = Estilingue Ornamentada
|Peasant Sling = Estilingue de Peão
|Pickaxe = Picareta
|Shackles = Algemas
|Sickle = Foice
|Training Sling = Estilingue de Treinamento


<!-- Junk -->
<!-- Lixo -->
|Bone = Osso
|Skull = Crânio
|Rib Cage = Caixa Torácica
|Pelvic Bone = Osso Pélvico
|Bone Foot = Pé de Osso
|Coal Chunk = Pedra de Carvão
|Rope = Corda
|Horseshoe = Ferradura
|Jug = Jarra
|Plate = Prato
|Pot = Panela
|Ladle = Concha
|Straw = Palha
|Candle-end = Ponta de Vela
|Simple Earrings = Brincos Simples
|Bucket = Balde
|Comb = Pente
|Bowl = Tigela
|Mug = Caneca
|Nails = Pregos
|Travel Pot = Panela de Viagem
|Copper Candlestick = Castiçal de Cobre


|#default = Item ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>