<includeonly>{{#switch: {{{1}}}
<!--Neutral Conditions-->
|Terrible Hunger = Fome Terrível
|Body Aches = Dores no Corpo
|Vigor = Vigor
|Freezing Stiff = Congelando
|Hunger = Fome
|Pain = Dor
|Strong Pain = Forte Dor
|Vomiting = Vomitando


<!--Abilities Conditions-->
|Seal of Protection = Selo de Proteção
|Seal of Finesse = Selo de Finesse
|Seal of Power = Selo de Poder
|Seal of Pyromancy = Selo de Piromancia
|Seal of Electromancy = Selo de Eletromancia
|Seal of Geomancy = Selo de Geomancia
|Seal of Unholiness = Selo de Impiedade
|Seal of Sanguimancy = Selo de Sanguimancia
|Seal of Reflection = Selo de Reflexão
|Seal of Shackles = Selo de Correntes

<!--Items/Consumables Specific Conditions-->
|Acid Bath = Banho Ácido
|Al'qud = Al'qud
|Abasa = Abasa
|Hornet Honey = Mel de Vespa 
|Nikkaf = Nikkaf
|Stardust = Pó de Estrela
|Paregoric = Paregoric
|Al'qud Aftermath = Pós-efeito de Al'qud
|Hornet Honey Aftermath = Pós-efeito de Mel de Vespa
|Paregoric Aftermath = Pós-efeito de Paregoric
|Nikkaf Aftermath = Pós-efeito de Nikkaf
|Bad Trip Aftermath = Pós-efeito de Bad Trip
|Stagger = Cambaleando


<!--Maladies Conditions-->
|Bleeding = Sangrando
|Dehydration = Desidratação
|Blindness = Cegueira
|Sturdiness = Firmeza
|Clumsiness = Bobeira
|Confusion = Confusão


<!--Battle Conditions-->
|Minor Hand Injury = Lesão Leve na Mão
|Medium Hand Injury = Lesão Média na Mão
|Severe Hand Injury = Lesão Grave na Mão
|Minor Leg Injury = Lesão Leve na Perna
|Medium Leg Injury = Lesão Média na Perna
|Severe Leg Injury = Lesão Grave na Perna
|Minor Head Injury = Lesão Leve na Cabeça
|Medium Head Injury = Lesão Média na Cabeça
|Severe Head Injury = Lesão Grave na Cabeça
|Minor Torso Injury = Lesão Leve no Torso
|Medium Torso Injury = Lesão Média no Torso
|Severe Torso Injury = Lesão Grave no Torso
|Minor Hand Injury (Stabilized) = Lesão Leve na Mão (Estabilizado)
|Medium Hand Injury (Stabilized) = Lesão Média na Mão (Estabilizado)
|Severe Hand Injury (Stabilized) = Lesão Grave na Mão (Estabilizado)
|Minor Leg Injury (Stabilized) = Lesão Leve na Perna (Estabilizado)
|Medium Leg Injury (Stabilized) = Lesão Média na Perna (Estabilizado)
|Severe Leg Injury (Stabilized) = Lesão Grave na Perna (Estabilizado)
|Minor Head Injury (Stabilized) = Lesão Leve na Cabeça (Estabilizado)
|Medium Head Injury (Stabilized) = Lesão Média na Cabeça (Estabilizado)
|Severe Head Injury (Stabilized) = Lesão Grave na Cabeça (Estabilizado)
|Minor Torso Injury (Stabilized) = Lesão Leve no Torso (Estabilizado)
|Medium Torso Injury (Stabilized) = Lesão Média no Torso (Estabilizado)
|Severe Torso Injury (Stabilized) = Lesão Grave no Torso (Estabilizado)
|Shield Raised = Escudo Levantado
|Lightning Enchantment = Encantamento de Raios
|Mark of the Feast = Marca do Banquete
|Lightning Reflexes = Reflexos de Raios
|Crimson Gift = Presente Carmesim
|Blood Oath = Juramento de Sangue
|Unholy Blessing = Benção Profana
|Fencer's Stance = Postura de Esgrimista
|Stone Armor = Armadura de Pedra
|Runic Empowerment = Empoderamento
|Daze = Atordoado
|Defensive Stance = Postura Defensiva
|Massacre = Massacre
|Hammer & Anvil = Martelo & Bigorna
|Feast of Steel = Banquete de Aço
|Parry = Parry
|Minor Paw Injury = Lesão Leve na Pata
|Medium Paw Injury = Lesão Média na Pata
|Severe Paw Injury = Lesão Grave na Pata
|Minor Paw Injury (Stabilized) = Lesão Leve na Pata (Estabilizado)
|Medium Paw Injury (Stabilized) = Lesão Média na Pata (Estabilizado)
|Severe Paw Injury (Stabilized) = Lesão Grave na Pata (Estabilizado)
|Unwavering Stance = Postura Inabalável
|Taking Aim = Mirando
|Suppression = Supressão
|Painful Stabs = Golpes Dolorosos
|Hunter's Mark = Marca do Caçador
|Gaping Wound = Ferida Aberta
|Vampiric Blood = Sangue Vampírico
|Blood Craze = Frenesi de Sangue
|Willing Sacrifice = Sacrifício Voluntário
|Seized Initiative = Iniciativa Tomada
|Initiative Loss = Perda de Iniciativa
|Defensive Tactic = Tática Defensiva
|Offensive Tactic = Tática Ofensiva
|Thirst for Battle = Sede de Batalha
|Adrenaline Rush = Adrenalina
|Blessing = Benção
|Troll Regeneration = Regeneração de Troll
|Maneuver = Manobra
|Pikeman Stance = Postura de Piqueiro
|Concentration = Concentração
|Enough for Everyone = Suficiente para Todos
|Soul Sacrifice = Sacrifício de Alma
|Binding Sigil = Símbolo de Ligação
|Sic! = Sic!
|Suffocating Cloud = Nuvem Asfixiante
|Coughing = Tosse
|Covered in Alcohol = Coberto em Álcool
|Covered in Oil = Coberto em Óleo
|Mighty Swing = Golpe Poderoso
|Striker Stance = Postura de Atacante
|Rampage = Fúria


<!--Undefined Conditions-->
|Wanted: Fine or Jail = Procurado: Multa ou Prisão
|Wanted: Attacked on Sight = Procurado: Atacar à Vista

|Agony = Agonia
|Bad Trip = Bad Trip
|Battle Rage = Fúria de Batalha
|Wetness = Molhança
|Drunkenness = Embebedamento
|Elusiveness = Elusividade
|Fury = Fúria
|Exceptional Precision = Precisão Excepcional
|Ensnarement = Aprisionamento
|Burning = Queimando
|Sacrificial Blood = Sangue Sacrificial
|Satiety = Saciedade
|Light Hunger = Fome Leve
|Petrification = Petrificação
|Poisoning = Envenenamento
|Possession = Possessão
|Rapid Restoration = Restauração Rápida
|Pain Shock = Choque Anafilático
|Sleep = Sono
|Starvation = Inanição
|Stone Skin = Pele de Pedra
|Stun = Atordoamento
|Instability = Instabilidade
|Weakness = Fraqueza
|Receptiveness = Receptividade
|//Golden Touch// = //Golden Touch//
|True Sight = Visão Verdadeira
|Life Drain = Vampirismo
|Energy Drain = Drenagem de Energia
|//Broken Armor// = //Broken Armor//
|Clear Vision = Visão Clara
|Light Thirst = Sede Leve
|Thirst = Sede
|Terrible Thirst = Sede Terrível
|Light Intoxication = Embriaguez Leve
|Intoxication = Embriaguez
|Severe Intoxication = Embriaguez Severa
|Deadly Intoxication = Embriaguez Mortal
|Against The Odds = Contra Todas as Probabilidades
|//Coup De Grace// = //Coup De Grace//
|//Tantrum// = //Tantrum//
|Leech Therapy = Terapia de Sanguessugas
|Immobilization = Imobilização
|Coma = Coma
|Curse = Maldição
|Bestial Rage = Fúria Bestial
|Murk = Escuridão
|Mountain of Flesh = Montanha de Carne
|Will to Survive = Vontade de Sobreviver
|Resonance = Ressonância
|Impulse = Impulso
|Static Field = Campo Estático
|Place of Power = Lugar de Poder
|Weariness = Esgotação
|Tiredness = Cansaço
|Exhaustion = Exaustão
|Dead or Alive = Vivo ou Morto


|#default = Propriedade ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>