<includeonly>{{#switch: {{{1}}}
<!-- BEASTS SKILLS-->
|Rend Flesh = Rasgar Carne
|Snake Stealth = Furtividade de Cobra
|Loud Barking = Latido Alto
|Grab 'Em! = Agarre-os!
|Animated Servant = Servo Animado
|Baleful Scream (harpy) = Grito Funesto (harpia)
|Bone Pyres = Piras de Ossos
|Claw Swipe = Golpe de Garra
|Corrosive Blood = Sangue Corrosivo
|Dash (animal) = Investida (animal)
|Deadly Tail = Cauda Mortal
|Deafening Roar = Rugido Ensurdecedor
|Disturbed Hive = Colmeia Perturbada
|Dying Rage = Fúria Mortal
|Earthshaking Strike (Young Troll) = Golpe Abalador (Jovem Troll)
|Elusive Predators = Predadores Elusivos
|Howl = Uivo
|Lion Leap = Salto do Leão
|Pack Sense = Sentido de Matilha
|Peck = Bicada
|Primal Aether = Éter Primal
|Ramming Charge (bison) = Investida (bisão)
|Ramming Charge (boar) = Investida (javali)
|Ramming Charge (moose) = Investida (alce)
|Rapid Flight = Voo Rápido
|Regenerative Carapace = Carapaça Regenerativa
|Rock Toss = Arremesso de Pedra
|Shockwave = Onda de Choque
|Swarm = Enxame
|Taste for Flesh = Gosto por Carne
|Troll Regeneration = Regeneração de Troll
|Unbearable Stench = Fedor Insuportável
|Vengeance of the Dead = Vingança dos Mortos
|Voracity = Voracidade
|Web Spit = Cuspe de Teia

<!-- BRIGANDS SKILLS -->
|Coordinated Advance = Avanço Coordenado
|Dead or Alive = Vivo ou Morto
|Net Throw = Arremesso de Rede
|Raise the Banner! = Levante a Bandeira!
|Sic! = Ataque!

<!-- UNDEAD SKILLS -->
|Binding Sigil = Sigilo de Ligação
|Soul Sacrifice = Sacrifício de Alma
|Death Touch = Toque da Morte
|Bolt of Darkness = Raio de Escuridão
|Curse = Maldição
|Curse of Weakness = Maldição de Fraqueza
|Necrophage = Necrófago
|Rend Flesh = Rasgar Carne
|Resurrection = Ressurreição
|Sigil of Darkness = Sigilo de Escuridão
|Bone Throw = Arremesso de Osso
|Unholy Blessing = Benção Profana
|Dispersal = Dispersão
|Grave Chill = Arrepio de Túmulo
|Curse of Decay = Maldição de Decadência
|Curse of Agony = Maldição de Agonia
|Deadly Premonition = Premonição Mortal
|Desecration = Profanação
|Spectral Haunting = Assombração Espectral
|Putrid Odor = Odor Pútrido
|Lesser Ritual of Resurrection = Ritual Menor de Ressurreição
|Greater Ritual of Resurrection = Ritual Maior de Ressurreição
|Blasphemous Sigil = Sigilo Blasfemo
|Steal Essence = Roubar Essência
|Strangling Grasp = Aperto Estrangulador
|Wraith Summoning = Invocação de Aparição

<!-- PROSELYTE SKILLS -->
|Baleful Scream = Grito Funesto
|Blood Craze = Loucura de Sangue
|Swipe = Golpe
|Curse of Weakness = Maldição de Fraqueza
|Driven by Pain = Movido pela Dor
|Chain Strike = Golpe em Cadeia
|Immolation = Imolação
|Lacerate = Lacerar
|Lash Blessing = Benção de Chicote
|Mark of the Feast = Marca do Banquete
|Sacrificial Blood = Sangue Sacrificial
|Summon Blood Golem = Invocar Golem de Sangue
|Vampiric Blood = Sangue Vampírico
|Vampiric Rune = Runa Vampírica
|Willing Sacrifice = Sacrifício Voluntário
|Anthems of Bloodshed = Hinos de Derramamento de Sangue
|Bestial Charge = Investida Bestial
|Bestial Rage = Fúria Bestial
|Blessed in Death = Abençoado na Morte
|Blister Burst = Explosão de Feridas
|Blood Scent = Cheiro de Sangue
|Blood Clot = Coágulo de Sangue
|Blood Puddle = Poça de Sangue
|Blood Spit = Cuspe de Sangue
|Bloodthirst = Sede de Sangue
|Brand of Anguish = Marca de Angústia
|Burnt Offering = Oferta Queimada
|Cannibalistic Craze = Loucura Canibal
|Corpse Devourment = Devoramento de Cadáver
|Devastating Power = Poder Devastador
|Earthshaking Strike = Golpe Abalador
|Embrace the Murk = Abraçar a Escuridão
|Face of Horror = Rosto do Horror
|Feed the Host = Alimentar o Hospedeiro
|Fiery Embers = Brasas Ardentes
|Flesh Explosion = Explosão de Carne
|Fling Away = Arremessar
|For Whom The Bell Tolls = Para Quem o Sino Toca
|Herald of Ruination = Arauto da Ruína
|Jump Away = Pular para Longe
|Life Leech = Sanguessuga de Vida
|Murkstrike = Golpe Sombrio
|Murkwalk = Caminhada Sombria
|Neverending Torment = Tormento Interminável
|One Body = Um Corpo
|Phantom Bats = Morcegos Fantasmas
|Summon the Restless = Invocar os Inquietos
|Summon Worm = Invocar Verme
|Tongue Leech = Sanguessuga de Língua
|Tongue Pull = Puxão de Língua
|Tongue Push = Empurrão de Língua
|Tentacle Arm (skill) = Braço Tentáculo (habilidade)
|Unholy Anthems = Hinos Profanos
|Unholy Ritual = Ritual Profano
|Draining Sigil = Sigilo de Drenagem
|Wild Swipe = Golpe Selvagem
|Wild Swipe (Ascended Archon) = Golpe Selvagem (Arconte Ascendido)
|Wild Swipe (Enhanced) = Golpe Selvagem (Aprimorado)
|Witness His Might! = Testemunhe Seu Poder!
|Wormfood = Comida de Vermes


<!--

WEAPON ABILITIES
Habilidades de Armas

-->
<!-- SWORDS -->
<!--T1-->
|Cleaving Strike = Golpe Cortante
|Blade Maintenance = Manutenção de Lâmina
|Keeping Distance = Mantendo Distância
<!--T2-->
|Gloat = Regozijo
|Fencer Stance = Postura de Esgrimista
|Steady Tempo = Ritmo Constante
<!--T3-->
|Honed Edge = Borda Afiada
|Onrush = Investida

<!-- AXES -->
<!--T1-->
|Mutilating Lunge = Estocada Mutiladora
|Ferocity = Ferocidade
|Cut Through = Corte Através
|No Mercy = Sem Clemência
<!--T2-->
|Reprisal = Represália
|Massacre = Massacre
<!--T3-->
|Execution = Execução
|Tormenting Swings = Balanços Atormentadores

<!-- MACES -->
<!--T1-->
|Onslaught = Investida
|Dazing Strikes = Acertos Estonteantes
|Armor Break = Quebra de Armadura
|Moment of Weakness = Momento de Fraqueza
<!--T2-->
|Respite = Respiro
|Hammer and Anvil = Martelo e Bigorna
<!--T3-->
|Knock Out = Nocaute
|Concussion = Concussão

<!-- DAGGERS -->
<!--T1-->
|Quick Hands = Mãos Rápidas
|Double Lunge = Estocada Dupla
|Gaping Wound = Feridas Abertas
|From the Shadows = Das Sombras
<!--T2-->
|Deadly Trick = Pegadinha Mortal
|Weakening Jabs = Jabs Enfraquecedores
|Painful Stabs = Esfaqueadas Dolorosas
<!--T3-->
|Counterattack Mastery = Maestria em Contra-ataque
|Danse Macabre = Dança Macabra
|Coupe de Grace = Coupe de Grace

<!-- WANDS -->
<!--T1-->
|
|
|
|
<!--T2-->
|
|
|
|
<!--T3-->
|
|
|
|
<!--T4-->

<!-- 2H SWORDS-->
<!--T1-->
|Hewing Strike = Golpe de Corte
|Recklessness = Imprudência
|Parry = Aparar
<!--T2-->
|Revanche = Revanche
|Feast of Steel = Banquete de Aço
|Arc Cleave = Corte de Arco
|Fight to the Death = Lute até a Morte
<!--T3-->
|Taste of Victory = Gosto da Vitória
|Heroic Charge = Avanço Heroico
|Courage = Coragem

<!-- 2H AXES-->
<!--T1-->
|Hooking Chop = Corte de Gancho
|Shieldbreaker = Quebra Escudos
|Dismember = Desmembramento
<!--T2-->
|Rampage = Frenesi
|Fatal Strike = Golpe Fatal
|Finish 'Em! = Finalize-os!
|Reign in Blood = Reine em Sangue
<!--T3-->
|Tool of Execution = Ferramenta de Execução
|Make Space = Faça Espaço
|Maim and Kill = Mutilar e Matar

<!-- 2H MACES -->
<!--T1-->
|Keep Them Coming = Mantenha-os Vindo
|Mighty Swing = Balanço Poderoso
|Unstoppable Force = Força Imparável
|Unbalance = Desbalancear
<!--T2-->
|Striker Stance = Postura do Atacante
|Bonebreaker = Quebra-Ossos
|Forceful Slam = Pancada Forçada
<!--T3-->
|Revel in Battle = Releve na Batalha
|Skull Crusher = Esmagador de Crânio
|Severe Concussion = Concussão Severa

<!-- SPEARS -->
<!--T1-->
|Precise Hits = Acertos Precisos
|Nail Down = Afunilar
|Impaling Lunge = Estocada Empaladora
|No Retreat = Sem Recuar
<!--T2-->
|Pikeman Stance = Postura de Pique
|Wounding Spearhead = Ponta de Lança Ferida
|Determination = Determinação
<!--T3-->
|One at a Time! = Um de cada Vez!
|Regroup = Regroupar
|Stay Back! = Se Afaste!

<!-- RANGED WEAPONS -->
<!--T1-->
|Taking Aim = Mirando
|Constant Practice = Prática Constante
|Dexterity = Destreza
|Distracting Shot = Disparo de Distração
<!--T2-->
|Spot Weakness = Ache a Fraqueza
|Startling Volley = Salva Surpreendente
|Suppression = Supressão
|Anticipation = Antecipação
<!--T3-->
|Long Shot = Disparo Longo
|Precision = Precisão
|Hunter's Mark = Marca do Caçador
<!--T4-->
|Shoot to Kill = Dispare para Matar
|Headshot = Headshot
|Upper Hand = Mão Superior

<!-- SHIELDS -->
<!--T1-->
|Raise Shield = Levantar Escudo
|Breakthrough = Rompimento
|Embodiment of Resilience = Personificação da Resiliência
|Moment of Retribution = Momento de Retribuição
<!--T2-->
|Shield Bash = Golpe de Escudo
|Last Bastion = Último Bastião
<!--T3-->
|Hold the Line! = Segure a Linha!
|Retaliation = Retaliação

<!-- STAVES -->
<!--T1-->
|Hail of Blows = Chuva de Golpes
|Step Aside! = Saia da Frente!
|Destabilizing Hits = Acertos Desestabilizadores
|Battle Trance = Transe da Batalha
<!--T2-->
|Unwavering Stance = Postura Inabalável
|Triumph = Triunfo
|Now or Never = Agora ou Nunca
<!--T3-->
|Peacemaker = Pacificador


<!--

Utility Abilities
Habilidades de Utilidade

-->
<!-- BASIC SKILLS -->
<!--T1-->
|Examine Surroundings = Examinar Arredores
|Element of Surprise = Elemento Surpresa

<!-- DUAL WIELDING -->
<!--T1-->
|Flurry of Strikes = Enxurrada de Golpes
|Dual Wielding Training = Treinamento de Empunhadura Dupla
|Deflect = Defletir
|Dying Fervor = Fervor Moribundo
<!--T2-->
|Enough for Everyone = Suficiente para Todos
|Concentration = Concentração
|Berserk Tradition = Tradição Berserk
<!--T3-->
|Unstoppable = Imparável
|Whirlwind = Tornado
|More Blood! = Mais Sangue!

<!-- SURVIVAL -->
<!--T1-->
|Butchering = Esfolamento
|Make a Halt = Faça uma Parada
|Cauterize Wounds = Cauterizar Feridas
<!--T2-->
|Resourcefulness = Recursos
|Pathfinder = Explorador
|Austerity = Austeridade
|First Aid = Primeiros Socorros
<!--T3-->
|Huntmaster = Caçador Mestre
|Ever Vigilant = Sempre Vigilante
|Adaptability = Adaptabilidade
|Will to Survive = Vontade de Sobreviver

<!-- Warfare -->
<!--T1-->
|Seize the Initiative = Aproveite a Iniciativa
|Opportune Moment = Momento Oportuno
|Setup = Setup
|War Cry = Grito de Guerra
<!--T2-->
|Right on Target = Bem no Alvo
|Offensive Tactic = Tática Ofensiva
|Defensive Tactic = Tática Defensiva
|Intimidation = Intimidação
<!--T3-->
|Finisher = Finalizador
|Tactical Advantage = Vantagem Tática
|Against the Odds = Contra as Chances
<!--T4-->
|Armor Crusher = Amassador de Armadura
|Thirst for Battle = Sede por Batalha
|Final Push = Último Empurro

<!-- Atletismo -->
<!--T1-->
|Disengage = Desengajar
|Leg Sweep = Tropeço
|Not This Time = Não dessa Vez
|Mighty Kick = Chute Poderoso
<!--T2-->
|Dash = Dash
|Inner Reserves = Reservas Internas
|Sudden Lunge = Estocada Repentina
|Push the Falling = Empurre a Queda
<!--T3-->
|Elusiveness = Elusividade
|No Time to Linger = Sem Tempo a Perder
<!--T4-->
|Sprint Training = Treinamento de Corrida
|Adrenaline Rush = Rush de Adrenalina
|Peak Performance = Performance Máxima

<!-- Maestria Mágica -->
<!--T1-->
|Seal of Finesse = Selo da Sutileza
|Precise Movements = Movimentos Precisos
|Dissipation = Dissipação
|Seal of Power = Selo de Poder
<!--T2-->
|Seal of Insight = Selo da Percepção
|Lingering Incantations = Incantações Persistentes
|Seal of Cleansing = Selo da Purificação
|Body and Spirit = Corpo e Espírito
<!--T3-->
|Thaumaturgy = Taumaturgia
|Seal of Reflection = Selo de Reflexão
<!--T4-->
|Seal of Shackles = Selo de Grilhões
|Arcane Lore = História Arcana

<!-- Combate Blindade -->
<!--T1-->
|Self-Repair = Auto-Reparo
|Brace for Impact! = Preparar para o Impacto!
|Hard Target = Alvo Difícil
<!--T2-->
|Flexible Defense = Defesa Flexível
|Battle-Forged = Forjado na Batalha
|Unyielding Defense = Defesa Inabalável
<!--T3-->
|Battering Ram = Aríete
|Custom Adjustments = Ajustes Personalizados


<!--

Sorcery Abilities
Habilidades de Feitiço

-->
<!-- PYROMANCY -->
<!--T1-->
|Fire Barrage = Barragem de Fogo
|Ring of Fire = Anel de Fogo
|Flame Saturation = Saturação da Chama
|Baptism by Fire = Batismo de Fogo
<!--T2-->
|Flame Wave = Onda de Chamas
|Magma Rain = Chuva de Magma
|Feed the Flames = Alimente as Chamas
|Scorch = Queimadura
<!--T3-->
|Incineration = Incineração
|Melting Ray = Raio Derretedor
|From Blaze to Furnace = Da Chama ao Forno
<!--T4-->
|Inferno = Inferno
|Excess Heat = Calor Excessivo
|Pyromania = Piromania

<!-- GEOMANCY -->
<!--T1-->
|Runic Boulder = Pedregulho Rúnico
|Stone Armor = Armadura de Pedra
<!--T2-->
|Stone Spikes = Espetos de Pedra
|Rune of Sustention = Runa de Sustentação
|Rune of Fortifying = Runa de Fortificação
|Rune of Enfeeblement = Runa de Enfraquecimento
<!--T3-->
|Earthquake = Terremoto
|Petrification = Petrificação
|Rune of Binding = Runa de Aprisionamento
|Rune of Cycle = Runa de Ciclo
<!--T4-->
|Overflowing Power = Transbordamento de Poder
|Boulder Toss = Arremesso de Pedregulho
|Rune of Destabilization = Runa de Desestabilização
|Rune of Absorption = Runa de Absorção

<!-- ELETROMANCY -->
<!--T1-->
|Jolt = Choque
|Impulse = Impulso
<!--T2-->
|Residual Charge = Carga Residual
|Short Circuit = Curto-Circuito
|Static Field = Campo Estático
|Potential Difference = Diferença Potencial
<!--T3-->
|Chain Lightning = Raios em Cadeia
|Unlimited Power = Poder Ilimitado
|Conductivity = Condutividade
|Ball Lightning = Bola de Raios
<!--T4-->
|Chain Reaction = Reação em Cadeia
|Resonance Cascade = Cascata de Ressonância
|Tempest = Tempestade
|Recharge = Recarregar


|#default = Não há Tradução}}
</includeonly>
<noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>