<includeonly>{{#switch: {{{1}}}
<!-- Add consumables that use PropertyText or Description, put translated texts here. See Bandage for example. -->
|Bandage =
|Bandage Description =
|Argimony =

<!-- Ammo -->
|Leaf-Shaped Arrows =
|Broadhead Arrows =
|Bodkin Arrows =
|Leaf-Shaped Bolts =
|Broadhead Bolts =
|Bodkin Bolts =

|#default = Consumível, Descrição ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>


<!-- Beverages -->
<!-- Bebidas -->
|Waterskin = Cantil
|Elven Mud = Lama Élfica
|Mannshire Fortified = Fortificado de Mannshire
|Brynn Vermouth = Vermute de Brynn
|Elven Ice Wine = Vinho de Gelo Élfico
|Spirit = Espírito
|Abasa = Abasa
|Brandy = Conhaque
|Dark Ale = Cerveja Escura
|Mead = Hidromel
|Jug of Milk = Jarra de Leite

<!-- Food -->
<!-- Comida -->
|Roasted Fatty Meat = Carne Gorda Assada
|Fatty Meat = Carne Gorda
|Rotten Meat (Fatty Meat) = Carne Gorda Podre
|Roasted Tough Meat = Carne Dura Assada
|Tough Meat = Carne Dura
|Rotten Meat (Tough Meat) = Carne Dura Podre
|Roasted Tender Meat = Carne Macia Assada
|Tender Meat = Carne Macia
|Rotten Meat (Tender Meat) = Carne Macia Podre
|Roasted Sinewy Meat = Carne Fibrosa Assada
|Sinewy Meat = Carne Fibrosa
|Rotten Meat (Sinewy Meat) = Carne Fibrosa Podre
|Roasted Meat Morsels = Pedaços de Carne Assada
|Meat Morsels = Pedaços de Carne
|Rotten Meat Morsels = Pedaços de Carne Podre
|Roasted Drumstick = Coxa Assada
|Raw Drumstick = Coxa Crua
|Rotten Drumstick = Coxa Podre
|Sausage = Linguiça
|Smoked Ham = Presunto Defumado
|Cooked Carp = Carpa Cozida
|Carp = Carpa
|Rotten Carp = Carpa Podre
|Cheese = Queijo
|Spoiled Cheese = Queijo Estragado
|Goat Cheese = Queijo de Cabra
|Spoiled Goat Cheese = Queijo de Cabra Estragado
|Egg = Ovo
|Boiled Egg = Ovo Cozido
|Rotten Egg = Ovo Podre
|Cooked Harpy Egg = Ovo de Harpia Cozido
|Harpy Egg = Ovo de Harpia
|Rotten Harpy Egg = Ovo de Harpia Podre
|Peach = Pêssego
|Apple = Maçã
|Rotten Apple = Maçã Podre
|Pear = Pera
|Rotten Pear = Pera Podre
|Fig = Figo
|Dried Fig = Figo Seco
|Grape = Uva
|Rotten Grape = Uva Podre
|Elven Citrus = Cítrico Élfico
|Spoiled Elven Citrus = Cítrico Élfico Estragado
|Dragon Fruit = Fruta do Dragão
|Spoiled Dragon Fruit = Fruta do Dragão Estragada
|Barberry = Bérberis
|Rotten Barberry = Bérberis Podre
|Bilberry = Mirtilo
|Rotten Bilberry = Mirtilo Podre
|Blueberry = Mirtilo Azul
|Rotten Blueberry = Mirtilo Azul Podre
|Gooseberry = Groselha
|Rotten Gooseberry = Groselha Podre
|Lingonberry = Amora
|Rotten Lingonberry = Amora Podre
|Raspberry = Framboesa
|Rotten Raspberry = Framboesa Podre
|Carrot = Cenoura
|Rotten Carrot = Cenoura Podre
|Baked Potato = Batata Assada
|Potato = Batata
|Rotten Potato = Batata Podre
|Leek = Alho-poró
|Rotten Leek = Alho-poró Podre
|Onion = Cebola
|Rotten Onion = Cebola Podre
|Garlic = Alho
|Rotten Garlic = Alho Podre
|White Radish = Rabanete Branco
|Rotten White Radish = Rabanete Branco Podre
|Beet = Beterraba
|Rotten Beet = Beterraba Podre
|Tomato = Tomate
|Rotten Tomato = Tomate Podre
|Roasted Acorn = Bolota Torrada
|Acorn = Bolota
|Ginger Root = Raiz de Gengibre
|Bread = Pão
|Moldy Bread = Pão Bolorento
|Flatbread = Pão Sírio
|Spoiled Flatbread = Pão Sírio Estragado
|Pancakes = Panquecas
|Spoiled Pancakes = Panquecas Estragadas
|Pretzel = Pretzel
|Spoiled Pretzel = Pretzel Estragado
|Bilberry Pie = Torta de Mirtilo
|Spoiled Bilberry Pie = Torta de Mirtilo Estragada
|Peasant Stew = Ensopado de Camponês
|Spoiled Peasant Stew = Ensopado de Camponês Estragado
|Lentil Soup = Sopa de Lentilha
|Spoiled Lentil Soup = Sopa de Lentilha Estragada
|Roasted Penny Bun = Cogumelo Penny Bun Assado
|Penny Bun = Cogumelo Penny Bun
|Rotten Penny Bun = Cogumelo Penny Bun Podre
|Roasted Pinecap = Cogumelo Pinecap Assado
|Pinecap = Cogumelo Pinecap
|Rotten Pinecap = Cogumelo Pinecap Podre
|Roasted Fly Agaric = Cogumelo Fly Agaric Assado
|Rotten Fly Agaric = Cogumelo Fly Agaric Podre
|Roasted Death Cap = Cogumelo Chapéu da Morte Assado
|Roasted Chanterelle = Cogumelo Chanterelle Assado
|Chanterelle = Cogumelo Chanterelle
|Rotten Chanterelle = Cogumelo Chanterelle Podre
|Bunting (carcass) = Carcaça de Pássaro
|Rotten Bunting = Carcaça de Pássaro Podre
|Duck = Pato
|Rotten Duck = Pato Podre
|Jay (carcass) = Carcaça de Gaio
|Rotten Jay = Carcaça de Gaio Podre
|Raven (carcass) = Carcaça de Corvo
|Rotten Raven = Carcaça de Corvo Podre
|Sparrow (carcass) = Carcaça de Pardal
|Rotten Sparrow = Carcaça de Pardal Podre
|Swallow (carcass) = Carcaça de Andorinha
|Rotten Swallow = Carcaça de Andorinha Podre
|Thrush (carcass) = Carcaça de Tordo
|Rotten Thrush = Carcaça de Tordo Podre
|Tit (carcass) = Carcaça de Chapim
|Rotten Tit = Carcaça de Chapim Podre
|Wren (carcass) = Carcaça de Carruíra
|Rotten Wren = Carcaça de Carruíra Podre
|Chicken (carcass) = Carcaça de Galinha
|Rotten Chicken = Carcaça de Galinha Podre
|Rooster (carcass) = Carcaça de Galo
|Rotten Rooster = Carcaça de Galo Podre


<!-- Herbs -->
<!-- Ervas -->
|Acorn = Bolota
|Agrimony = Agrimônia
|Bogbean = Feijão-do-brejo
|Burdock = Bardana
|Burnet = Pimpinela
|Fleawort = Erva-das-pulgas
|Henbane = Beladona
|Hop Cone = Cone de Lúpulo
|Horsetail = Cavalinha
|Mindwort = Erva-da-mente
|Nettle = Urtiga
|Pine Cone = Pinha
|Poppy = Papoula
|Roasted Acorn = Bolota Torrada
|Rhubarb = Ruibarbo
|Spearmint = Hortelã
|Stick = Graveto
|Thyme = Tomilho
|Wormwood = Losna

<!--Ingredients-->
<!--Ingredientes-->
|Death Cap = Chapéu da Morte
|Fly Agaric = Amanita Muscaria
|Stick = Graveto
|Pine Cone = Pinha
|Agrimony = Agrimônia
|Bogbean = Feijão-do-brejo
|Burdock = Bardana
|Burnet = Pimpinela
|Fleawort = Erva-das-pulgas
|Henbane = Beladona
|Horsetail = Cavalinha
|Mindwort = Erva-da-mente
|Nettle = Urtiga
|Spearmint = Hortelã
|Poppy = Papoula
|Rhubarb = Ruibarbo
|Thyme = Tomilho
|Wormwood = Losna

<!--Materials-->
<!--Materiais-->
|Rag = Trapo
|Rags = Trapos
|Wire = Arame

<!--Medicine-->
<!--Medicamento-->
|Antidote = Antídoto
|Antitoxin = Antitoxina
|Bandage = Bandagem
|Ether Inhaler = Inalador de Éter
|Gwynnel's Elixir = Elixir de Gwynnel
|Healing Salve = Bálsamo Curativo
|Herbal Extract = Extrato Herbal
|Leeches = Sanguessugas
|Soporific Sponge = Esponja Soporífera
|Splint = Tala
|Surgeon's Toolkit = Kit de Cirurgião
|Vivifying Essence = Essência Vivificante

<!--Potions-->
<!--Poções-->


<!--Scrolls-->
<!--Pergaminhos-->
|Identification Scroll = A result of a longstanding clash between the Mages Guild and the Enchanters Guild. Reveals the properties of an [[Unidentified]] item (such as [[Potions]], or magical equipment).

|Enchantment Scroll = Another powerful blow delivered by the Mages Guild to the Enchanters Guild. Enchants [[Weapons]], [[Armor]] and [[Jewelry]] with magical properties. If used on an item that is already magical, it will re-roll the [[Enchantments]] into a new one.

|Disenchantment Scroll = Fight fire with fire: it magically purges items of all traces of magic. Removes the magical properties of an item. Disenchantment Scroll is currently the only way to remove curse from [[Cursed items]].

<!--
|-
|'''[[Map]]'''[[File:Map.png|alt=Map|center|class=image2x]]
| {{slots|2|1}}
| 10
| Helps with navigation.<br>Alas, does not guarantee that you won't get lost.
| data-sort-value="Infinity" | ∞
| A map of the southern march of Brynn and its landmarks. Although there aren't many of them.
| Using opens the interface of the local map, displaying [[Points of Interest]]. Map is not consumed upon use.
-->
|}

<!--Tools & Traps-->
<!--Ferramentas & Armadilhas-->
|'''[[Bloodletting Lancet]]'''[[File:Bloodletting Lancet.png|alt=|center|class=image2x]]
| {{slots|2|1}}
| 20
| 25
|[[Hunger, Thirst & Intoxication|Intoxication]] Change: {{Positive|-3%}} (15x)
[[Injuries & Pain|Pain]]: {{Negative|+5%}}

Causes [[Bleeding]] but reduces [[Hunger, Thirst & Intoxication|Intoxication]].
|10
|Sometimes bleeding out is the surest way to NOT kick the bucket.
|
Can be equipped as a one-handed melee weapon.

Using as a tool does not require being equipped.
|-

|'''[[Crowbar]]'''[[File:Crowbar.png|alt=|center|class=image2x]]
| {{slots|1|3}}
| 10
| 50
| Guaranteed to pick a lock or disarm a mechanical trap.
| -
|This tool works wonders in skillful hands.
Just need to keep it quiet and concentrate on the job.
|
Can be equipped as a one-handed melee weapon.

Using as a tool does not require being equipped.

Loses 1 point of durability per use. Prioritized over [[Lockpicks]] upon use from the target's context menu.
|-

|'''[[Lockpicks]]'''[[File:Lockpick.png|alt=|center|class=image2x]]
| {{slots|1|1}}
| -
| 25
| Allows picking locks.<br>Breaks if the lockpicking attempt fails.
|3
|Every self-respecting burglar has one of these.
| 
|-

|'''[[Repair Kit]]'''[[File:RepairingKit.png|alt=|center|class=image2x]]
| {{slots|2|2}}
| 120
| 400
| Restores '''30''' durability points to a selected item.
| -
|If you want something done well, do it yourself.
|
Upon use, up to 30 durability is subtracted from the tool's durability and added to the target item's durability.

Can be used multiple times on the same item.

Disappears when durability of itself reaches 0.
|-

|'''[[Crafting Kit]]'''[[File:Craftkit.png|alt=|center|class=image2x]]
| {{slots|2|2}}
| -
| -
| Allows [[Crafting]] to create {{C|Epic|advanced}} items without a [[Workbench]].
| 10
| A small selection of tools neccessary for working with wood and metal in field conditions.
| TODO
|-

|'''[[Shovel]]'''[[File:Shovel.png|alt=|center|class=image2x]]
| {{slots|2|3}}
| -
| 30
| Crushing Damage: 16

Allows you to do some digging.
| -
| Make sure not to dig too greedily and too deep.
|
Using requires being equipped. Occupies both hands.

Usable as a melee weapon as well. Upon landing critical strikes, Shovel cleaves over 3 tiles similar to other two-handed weapons.
|-

|'''[[Smoke Bomb]]'''[[File:Smoke Bomb.png|alt=|center|class=image2x]]
| {{slots|1|2}}
| 
| 85
| Creates a slowly spreading smoke cloud at the tile of landing.

The smoke has 50% chance to cause {{cl|-|Cough}} and applies the following effects:

{{neg|-25%}} Accuracy<br>
{{neg|+25%}} Fumble Chance<br>
{{neg|-75%}} Vision
| 1
| A simple metal shell, stuffed with a mix of tinder, oil, tar, and dry grass, used by peasants to smoke out wild beasts from their dens.
| Usable through [[throwing]].

Leaves an [[Empty Casing]] at the landing location.
|-

|'''[[Empty Casing]]'''[[File:Empty Casing.png|alt=|center|class=image2x]]
|No more smoke: the mix inside is completely burnt out.
|No properties, left over after using a [[Smoke Bomb]].
|-

|'''[[Throwing Net]]'''[[File:Throwing Net.png|alt=|center|class=image2x]]
| {{neg|Immobilizes}} the affected target.<br>
The duration of {{neg|immobilization}} and durability loss depend on the target's size. The net doesn't immobilize neither tiny nor giant targets.
| An indispensable tool for hunting small and medium game.
| Usable through [[throwing]].
Can be picked up once the affected enemy is killed or frees themselves, if not destroyed.<br><br> Loses 3 durability per use. 
|-

|'''[[Torch]]'''[[File:Torch.png|alt=|center|class=image2x]]
| Will drive away darkness. Or it might attract something worse.


===Traps===

|'''[[Claw Trap]]'''[[File:Claw Trap.png|alt=|center|class=image2x]]
| {{slots|2|2}}
| 3
| 100
| Rending Damage: {{pos|30}}

{{pos|100%}} chance to {{neg|Immobilize}} for {{pos|3}} turns and apply Confusion for {{pos|6-10}} turns.
| 1
| One of the primary reasons to watch your step.
| Loses 1 durability per trigger (including successful disarms).

A Claw Trap is armed when placed by "Use" action (placement range: 1).

Can be picked up only when disarmed.
|-

|'''[[Caltrops]]'''[[File:Caltrops.png|alt=|center|class=image2x]]
| {{slots|1|2}}
|
| 15
| Piercing Damage: {{pos|20}}
Ignores 90% Armor and has {{pos|+50%}} Bodypart Damage

{{pos|75%}} chance to apply {{cl|-|Confusion}} for {{pos|6}} turns.<br>
{{pos|75%}} chance to {{neg|Immobilize}} for {{pos|2}} turns.<br>
{{pos|75%}} chance to {{neg|Stagger}} for {{pos|2}} turns.
| 1
| During the Brynn siege, the Magistrate mercenaries made liberal use of these things: a carpet of caltrops blocking a narrow street can easily hold off an enemy advance, be it cavalry or light infantry.
| Can be set up by [[throwing]].

Once within vision, can be picked up without any additional actions.

If landed directly onto enemy, does not inflict damage, landing onto an adjacent tile instead.
|-

|}
