<includeonly>{{#switch: {{{1}}}
<!-- Properties from Template:Property_sort -->
|Armor Penetration = Penetração de Armadura
|Armor Damage = Dano de Armadura
|Bodypart Damage = Dano em Partes do Corpo
|Block Power = Poder de Bloqueio
|Accuracy = Precisão
|Crit Efficiency = Eficiência de Crítico
|Damage Taken = Dano Recebido
|Damage Reflection = Reflexão de Dano
|Range = Alcance
|Bonus Range = Alcance Bônus
|Energy = Energia
|Energy Restoration = Restauração de Energia
|Skills Energy Cost = Custo de Energia das Habilidades
|Spells Energy Cost = Custo de Energia dos Feitiços
|Cooldowns Duration = Duração dos Tempos de Recarga
|Magic Power = Poder Mágico
|Arcanistic Power = Poder Arcanístico
|Astromantic Power = Poder Astromântico
|Chronomantic Power = Poder Cronomântico
|Cryomantic Power = Poder Criomântico
|Electromantic Power = Poder Eletromântico
|Geomantic Power = Poder Geomântico
|Psionic Power = Poder Psíquico
|Pyromantic Power = Poder Piromântico
|Venomantic Power = Poder Venenoso
|Health Restoration = Restauração de Saúde
|Healing Efficiency = Eficiência de Cura
|Fortitude = Fortitude
|Life Drain = Drenagem de Vida
|Energy Drain = Drenagem de Energia
|Stealth = Furtividade
|Lockpicking & Disarming = Arrombamento e Desarmamento
|Vision = Visão
|Thirst = Sede
|Pain = Dor
|Pain Limit = Limite de Dor
|Sanity = Sanidade
|Morale = Moral
|Energy Replenishment = Reabastecimento de Energia
|Health Replenishment = Reabastecimento de Saúde
|Injury Treatment = Tratamento de Ferimentos
|Immunity = Imunidade


<!-- RESISTANCES -->
|Physical Resistance = Resistência Física
|Nature Resistance = Resistência à Natureza
|Magic Resistance = Resistência Mágica
|Slashing Resistance = Resistência a Cortes
|Piercing Resistance = Resistência a Perfurações
|Crushing Resistance = Resistência a Esmagamentos
|Rending Resistance = Resistência a Rasgos
|Fire Resistance = Resistência ao Fogo
|Frost Resistance = Resistência ao Gelo
|Shock Resistance = Resistência a Choques
|Caustic Resistance = Resistência a Substâncias Cáusticas
|Poison Resistance = Resistência a Venenos
|Arcane Resistance = Resistência Arcana
|Unholy Resistance = Resistência Profana
|Sacred Resistance = Resistência Sagrada
|Psionic Resistance = Resistência Psíquica
|Bleed Resistance = Resistência a Sangramentos
|Knockback Resistance = Resistência a Recuos
|Move Resistance = Resistência a Movimentos
|Stun Resistance = Resistência a Atordoamentos
|Control Resistance = Resistência a Controles
|Pain Resistance = Resistência à Dor
|Intoxication Resistance = Resistência à Intoxicação
|Hunger Resistance = Resistência à Fome
|Fatigue Resistance = Resistência à Fadiga

<!-- General texts -->
|Price = Preço
|Properties = Propriedades
|Ammunition Type = Tipo de Munição
|Class = Classe
|Protection = Proteção
|Damage = Dano
|Durability = Durabilidade
|Armor Durability = Durabilidade da Armadura
|Weight = Peso
|Item = Item
|Price = Preço
|Properties = Propriedades
|Rarity = Raridade
|Unobtainable = Inobtível
|Acquired From = Adquirido de
|See also = Veja também
|Currently no merchant sells this item. = Atualmente nenhum mercador vende este item.

<!-- Item Rarity -->
|Common = Comum
|Unique = Único
|Legendary = Lendário

<!-- Armor Class -->
|Light = Leve
|Medium = Médio
|Heavy = Pesado

<!-- Damage Types -->
|Arcane = Arcano
|Caustic = Cáustico
|Crushing = Esmagamento
|Fire = Fogo
|Frost = Gelo
|Piercing = Perfuração
|Poison = Veneno
|Psionic = Psíquico
|Rending = Rasgo
|Sacred = Sagrado
|Shock = Choque
|Slashing = Corte
|Unholy = Profano
|Arcane Damage = Dano Arcano
|Backfire Damage = Dano de Retrocesso
|Caustic Damage = Dano Cáustico
|Crushing Damage = Dano de Esmagamento
|Frost Damage = Dano de Gelo
|Main Hand Damage = Dano da Mão Principal
|Off-Hand Damage = Dano da Mão Secundária
|Physical Damage = Dano Físico
|Piercing Damage = Dano de Perfuração
|Poison Damage = Dano de Veneno
|Psionic Damage = Dano Psíquico
|Rending Damage = Dano de Rasgo
|Sacred Damage = Dano Sagrado
|Shock Damage = Dano de Choque
|Slashing Damage = Dano de Corte
|Unholy Damage = Dano Profano
|Weapon Damage = Dano da Arma

<!-- Weapon Types -->
|Sword = Espada
|Axe = Machado
|Mace = Maça
|Dagger = Adaga
|Greatsword = Espada Grande
|Two-Handed Sword = Espada de Duas Mãos
|Two-Handed Axe = Machado de Duas Mãos
|Two-Handed Mace = Maça de Duas Mãos
|Spear = Lança
|Stave = Bastão
|Staff = Cajado
|Bow = Arco
|Crossbow = Besta

<!-- Armor Types -->
|Headgear = Capacete
|Chestpiece = Peitoral
|Gloves = Luvas
|Belt = Cinto
|Boots = Botas
|Shield = Escudo
|Cape = Capa

<!-- Consumable Types -->
|Alcohol = Álcool
|Beverage = Bebida
|Food = Comida
|Ingredient = Ingrediente
|Medicine = Remédio
|Potion = Poção
|Scroll = Pergaminho
|Treatise = Tratado

<!-- Condition Types -->
|Berserk = Berserk
|Blindness = Cegueira
|Burn = Queimadura
|Condition = Condição
|Confusion = Confusão
|Daze = Tontura
|Deafness = Surdez
|Disease = Doença
|Fear = Medo
|Freezing = Congelamento
|Hunger = Fome
|Immobilization = Imobilização
|Injury = Lesão
|Intoxication = Intoxicação
|Knockback = Recuo
|Magical = Mágico
|Mental = Mental
|Pain = Dor
|Physical = Físico
|Poisoning = Envenenamento
|Shock = Choque
|Silence = Silêncio
|Stagger = Cambaleamento
|State = Estado
|Stun = Atordoamento
|Wound = Ferida
|Bleeding = Sangramento

<!-- Condition Change -->
|Backfire Damage Change = Mudança de Dano de Retrocesso
|Fatigue Change = Mudança de Fadiga
|Hunger Change = Mudança de Fome
|Intoxication Change = Mudança de Intoxicação
|Morale Change = Mudança de Moral
|Pain Change = Mudança de Dor
|Sanity Change = Mudança de Sanidade
|Thirst Change = Mudança de Sede

<!-- Condition Chance -->
|Backfire Chance = Chance de Retrocesso
|Bleed Chance = Chance de Sangramento
|Block Chance = Chance de Bloqueio
|Burn Chance = Chance de Queimadura
|Counter Chance = Chance de Contra-Ataque
|Crit Chance = Chance de Crítico
|Daze Chance = Chance de Tontura
|Dodge Chance = Chance de Esquiva
|Fumble Chance = Chance de Falha
|Immobilization Chance = Chance de Imobilização
|Knockback Chance = Chance de Recuo
|Miracle Chance = Chance de Milagre
|Stagger Chance = Chance de Cambalear
|Stun Chance = Chance de Atordoamento

<!-- More Properties -->
|Received Experience = Experiência Recebida
|Health = Saúde
|Level = Nível
|Experience = Experiência
|Gold = Ouro
|Weight = Peso
|Size = Tamanho

<!-- Playable -->
|Race = Raça
|Gender = Gênero
|Unique Trait = Traço Único
|RelicSeeker = Caçador de Relíquias
|Reaver = Saqueador
|KnightMaiden = Donzela Cavaleira
|Woodward = Guarda Florestal
|RunawaySorceress = Feiticeira Fugitiva
|Revenger = Vingador
|Verren = Verren
|Jorgrim = Jorgrim
|Arna = Arna
|Dirwin = Dirwin
|Jonna = Jonna
|Velmir = Velmir

<!-- Attributes -->
|Level = Nível
|Strength = Força
|Agility = Agilidade
|Perception = Percepção
|Vitality = Vitalidade
|Willpower = Força de Vontade
|STR = FOR
|AGL = AGI
|PRC = PER
|VIT = VIT
|WIL = VON
|Faction = Facção
|Size = Tamanho
|XP = XP


<!-- OTHERS -->
|Active = Ativa
|Annotation = Anotação
|AP = 
|Autocast  = Autocast
|Block Power Recovery = Recuperação de Poder de Bloqueio
|Causes Drunkenness = Causa Embriaguez
|Cast Time  = Tempo de Conjuração
|Cooldown = Cooldown
|Cooldown = Tempo de Espera
|Effect  = Efeito
|Energy Per Turn = Energia por Turno
|Experience Gain = Ganho de Experiência
|Fatigue = Fadiga
|Main Hand Efficiency = Eficiência da Mão Principal
|Max Energy = Energia Máxima
|Max Energy Threshold = Limite de Energia Máxima
|Max Health = Saúde Máxima
|Max Health Threshold = Limite de Saúde Máxima
|Miracle Potency = Potência do Milagre
|Modified by = Modificado por
|Noise Produced = Ruído Produzido
|No symptoms = Sem sintomas
|No Target = Sem Alvo
|Off-Hand Efficiency = Eficiência da Mão secundária
|Pain Limit = Limite a Dor
|Passive  = Passiva
|Passive bonus = Bônus passivo
|SP = 
|Swimming Cost = Custo de Natação
|Target = Alvo
|Target Area  = Área Alvo
|Target Object = Objeto Alvo
|Target Tile  = Azulejo Alvo
|Type = Tipo
|This article is about= Este artigo é sobre
|For = Para
|see = veja
|, see = , veja



<!-- REQUIREMENTS -->
|- Requires one-handed sword = - Requer uma espada de uma mão
|- Requires a bleeding body part = - Requer uma parte do corpo em sangramento
|- Requires a one-handed sword = - Requer uma espada de duas mãos
|- Requires a one-handed axe = - Requer um machado de duas mãos
|- Requires a one-handed mace = - Requer uma maça de uma mão
|- Requires a dagger = - Requer uma adaga
|- Requires a two-handed sword  = - Requer uma espada de duas mãos
|- Requires a ranged weapon and ammunition = - Requer uma arma de longo alcance e munição
|- Requires a shield  = - Requer um escudo
|- Requires dual weapons = - Requer uma arma de empunhadura dupla
|- Requires a weapon  = - Requer uma arma
|- Requires a staff  = - Requer um bastão
|Read the corresponding treatise to unlock this Ability = Leia
|- Requires a spear  = - Requer uma lança
|- Requires a two-handed mace  = - Requer uma espada de duas mãos
|- Requires a two-handed axe = - Requer um machado de duas mãos
|- Requires a sword, an axe, a dagger, a two-handed sword, or a two-handed axe.  = - Requer uma espada, um machado, uma adaga, uma espada de duas mãos ou um machado de duas mãos.
|or invest at least $ into the following Attributes: = ou invista pelo menos $ nos seguintes Atributos:
|- Requires specific materials = - Requer materiais específicos
|- Requires an Injury or damaged Health  = - Requer um Machucado ou Saúde danificada
|- Requires a negative effect or damaged Health  = - Requer um efeito negativo ou Saúde danificada

<!--Body Parts -->
|Head = Cabeça
|Torso = Torso
|Hands = Mãos
|Legs = Pernas


|#default = Propriedade ou tradução ausente}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>