<noinclude>Page for selecting the correct skill tree data.

Selects from:
</noinclude><includeonly>{{#switch: {{{1}}}

<!--
 BEASTS SKILLS
-->
|Animated Servant = Summona dois esqueletos dos montes de ossos mais próximos ao personagem. <br><br>Os esqueletos persistem por {{w|24}} turnos, então se desfazem, repondo {{pos|4%}} de Vida Máxima e {{C|Energia|8%}} de Energia Máxima ao Mantícora.

|Baleful Scream (harpy) = Deixa escapar um grito, causando {{w|7 Psionic Damage}} ao alvo. <br>Tem {{w|75%}} de chance de {{w|Daze}} o alvo por {{w|2}} turnos ou de {{w|Stagger}} por {{w|4}} turnos.

|Bone Pyres = Destrói cada esqueleto na arena, enviando fragmentos de ossos que causam {{w|12 Piercing}} e {{unholy|10}} Unholy Damage com {{w|40%}} de Penetração de Armadura a todos os inimigos adjacentes. <br><br> Cria {{C|Arcane|fogos etéreos}} no lugar dos esqueletos destruídos por {{w|8}} turnos. Enquanto o personagem estiver adjacente a um fogo etéreo, ele queima {{C|Energia|5%}} de sua Energia Máxima a cada turno. <br><br>Os fogos etéreos não podem ser apagados com água, mas podem ser apagados pisando sobre eles. Fazer isso causa {{C|fire|5 Fire}}, {{unholy|5 Unholy}}, {{C|sacred|5 Sacred}}, e {{arcane|5 Arcane Damage}} com {{w|100%}} de Penetração de Armadura.

|Claw Swipe = Disfere um golpe, causando {{pos|+100%}} de Dano. <br><br>Se a Energia do Troll for maior que {{C|Energia|10%}}, o golpe ganha {{pos|+33%}} de Dano, {{pos|+50%}} de Chance de Sangramento, {{pos|+125%}} de Chance de Knockback, {{pos|+25%}} de Precisão e {{pos|+30%}} de Penetração de Armadura.

|Corrosive Blood = Receber ataques corpo a corpo causa {{C|Caustic|2 Caustic}} e {{C|Poison|1 Poison}} de Dano ao atacante. <br><br> Cada {{neg|Sangramento}} e {{neg|grau de lesão}} aumenta o {{C|Caustic|Dano Caustico}} em {{w|1}}.

|Dash (animal) = Performa um dash em direção a um tile alvo. <br><br>O Custo de Energia da habilidade é aumentado em {{neg|15%}} para cada inimigo adjacente à posição de início. <br><br>Na chegada, concede {{pos|+20%}} de Chance de Contra-ataque e {{pos|+20%}} de Chance de Esquiva por {{w|4}} turnos se houver um inimigo adjacente.

|Deadly Tail = Disfere um golpe no alvo: <br><br>Com {{w|33%}} de chance, aplica {{poison|Envenenamento}} por {{w|6}} turnos <br> Ou com {{w|33%}} de chance, aplica {{neg|"Sangue Sacrificial"}} por {{w|6}} turnos <br>Ou com {{w|33%}} de chance, aplica {{neg|"Maldição"}} por {{w|6}} turnos <br><br>A chance de receber esses efeitos é reduzida com Resistências a Veneno, Sangramento e Profano, respectivamente.

|Deafening Roar = Solta um rugido, causando {{psionic|5 Psionic Damage}} a todos os inimigos em uma grande área. <br><br>O Rugido Ensurdecedor tem {{w|25%}} de chance de {{w|Desarmar}}, forçando as armas equipadas a caírem no chão. <br>Se este efeito falhar em se aplicar, tem {{w|75%}} de chance de {{w|Atordoar}} por {{w|2}} turnos. <br>Se este outro efeito também falhar em se aplicar, tem {{w|100%}} de chance de {{w|Atordoar}} por {{w|5}} turnos.

|Disturbed Hive = Cada {{w|8}} turnos, invoca um {{neg|Enxame de Ferrões}} {{w|(até 3)}}. <br><br>Cada instância de Dano {{neg|reduz}} a contagem regressiva para o próximo enxame em {{w|1}} turno.

|Dying Rage = Concede {{pos|-50}} de Limite de Dor, {{pos|-25}} de Dano Recebido e {{pos|+25}} de Dano quando a Vida está abaixo de {{neg|40%}}.

|Earthshaking Strike (Young Troll) = Bate no chão, afetando alvos em uma grande área. Este ataque tem {{pos|+33%}} de Chance de Atordoamento e {{pos|+66%}} de Chance de Daze.

|Elusive Predators = Concede {{pos|+50%}} de Chance de Esquiva e {{pos|25%}} de Chance de Contra-ataque. <br>Permite escapar do campo de batalha {{w|2}} turnos após começar a {{w|Retirada}}.

|Grab ’Em! = Ataca uma parte aleatória do corpo do alvo, causando {{pos|100%}} de dano com {{pos|+25%}} de Dano em Partes do Corpo. <br><br>Se o ataque atingir as pernas, tem uma chance de {{w|Imobilizar}}. <br>Se o ataque atingir os braços, tem uma chance de {{w|Desarmar}}, fazendo com que uma arma do slot correspondente caia no chão. <br><br>Quanto maior a {{w|Proteção}} da Parte do Corpo afetada, menores são as chances de {{w|Imobilização}} e {{w|Desarmamento}}.

|Howl = Gera uma grande quantidade de {{w|Noise}}, atraindo lobos próximos dentro deste tile do mapa e instantaneamente {{pos|reiniciando}} os Cooldowns ativos de todos os outros lobos dentro da Visão.

|Lion Leap = Performa um salto para um tile alvo. Esta habilidade não pode ser usada se uma das patas estiver {{neg|Severamente Ferida}}.

|Loud Barking = Quando o Cão se torna Hostil, coloca esta habilidade em cooldown de {{W|5}} turnos. Faz um grande barulho, atraindo todos os aliados dentro de {{W|25}} tiles.

|Pack Sense = Concede {{pos|+3%}} de Chance de Esquiva, {{pos|+3%}} de Chance de Crítico e {{neg|-5%}} de Duração de Cooldown para cada outra harpia dentro da Visão.

|Peck = Performa um ataque com {{pos|+50%}} de Dano em Partes do Corpo, {{pos|+25%}} de Chance de Crítico e {{pos|+50%}} de Chance de Sangramento. <br><br>Se este ataque atingir a {{w|cabeça}} e causar pelo menos {{neg|4%}} da Vida Máxima do alvo como dano, aplica o alvo com {{neg|Cegueira}} por {{w|2}} turnos.

|Primal Aether = Marca uma área. <br><br> No próximo turno, lança um arco de energia que atinge tudo em sua trajetória, causando {{arcane|12 Arcane}}, {{C|sacred|12 Sacred}}, e {{unholy|12 Unholy Damage}} com {{w|80%}} de Penetração de Armadura, {{pos|+125%}} de Chance de Knockback e {{pos|+100%}} de Chance de At

|Ramming Charge (bison) = Avança rapidamente para um tile alvo, entregando um golpe com {{pos|+10%}} de Dano, {{pos|+15%}} de Chance de Atordoamento e {{pos|+20%}} de Chance de Knockback para cada tile percorrido.

|Ramming Charge (boar) = Avança rapidamente para um tile alvo, entregando um golpe com {{pos|+10%}} de Dano, {{pos|+15%}} de Chance de Atordoamento e {{pos|+20%}} de Chance de Knockback para cada tile percorrido.

|Ramming Charge (moose) = Avança rapidamente para um tile alvo, entregando um golpe com {{pos|+10%}} de Dano, {{pos|+15%}} de Chance de Atordoamento e {{pos|+20%}} de Chance de Knockback para cada tile percorrido.

|Rapid Flight = Avança rapidamente para um tile alvo, recebendo {{pos|+25%}} de Chance de Esquiva por {{w|2}} turnos. <br><br>Esta habilidade não entra em cooldown se as asas da harpia não estiverem feridas.

|Regenerative Carapace = Cada turno restaura {{pos|5%}} de Durabilidade da Armadura. Cada {{w|1%}} de Durabilidade da Armadura concede {{pos|+0.5%}} de Resistência Mágica e de Natureza.

|Rend Flesh = Disfere um golpe com {{pos|+100%}} de Dano em Partes do Corpo e {{pos|+50%}} de Dano em Armadura.

|Rock Toss = Marca uma área. No próximo turno, entrega um golpe, causando {{w|45 Crushing Damage}} a todos os alvos afetados com {{w|150%}} de chance de Knockback. Cada tile de distância para o alvo aumenta o Dano do Rock Toss em {{pos|10%}}.

|Shokcwave = Marca uma área. No próximo turno, entrega um golpe, causando {{w|45 Crushing Damage}} a todos os alvos afetados com {{w|150%}} de chance de Knockback. Cada tile de distância para o alvo aumenta o Dano do Shockwave em {{pos|10%}}.

|Snake Stealth = Cobras se escondem na grama, atacando apenas quando são ameaçadas. <br><br> Cobras podem ser detectadas com alta {{w|Perception}} ou usando {{w|"Examine Surroundings"}}.

|Swarm = Concede {{pos|+0.25%}} de Chance de Esquiva e {{neg|-1%}} de Dano para cada {{neg|percentual}} de Vida faltante.

|Taste for Flesh = Disfere um golpe com {{pos|+150%}} de Dano em Partes do Corpo, {{pos|+80%}} de Chance de Sangramento e {{pos|+25%}} de Drenagem de Vida. Se este ataque causar uma lesão ou piorar uma já existente, o Gulon reabastece {{pos|+25%}} de Vida Máxima.

|Troll Regeneration = Remove todos os efeitos negativos. Então concede o efeito de {{pos|"Troll Regeneration"}} por {{w|4}} turnos: <br><br>{{pos|-75%}} de Dano Recebido <br>{{pos|+50%}} de Fortitude <br>Reabastece {{pos|5%}} de Vida Máxima por turno <br>{{neg|Não pode usar habilidades, se mover ou atacar}} <br>Receber um golpe corpo a corpo {{neg|remove}} o efeito e aplica {{neg|+200%}} de Dano Recebido por {{w|2}} turnos.

|Unbrable Stench = Tem {{w|33%}} de chance de provocar {{neg|Tosse}} em todos os inimigos adjacentes. Este efeito de múltiplas harpias não se acumula.

|Vengeance of the Dead = Marca {{w|6-8}} tiles em uma grande área ao redor do personagem, incluindo o tile em que ele está atualmente. <br><br> No próximo turno, faz com que espinhos de ossos irrompam dos tiles marcados, causando {{w|28 Piercing}} e {{unholy|12 Unholy Damage}} com {{w|60%}} de Penetração de Armadura, {{pos|+100%}} de Chance de Sangramento e {{pos|+100%}} de Chance de Imobilização. Os Espinhos de Ossos persistem por {{w|12}} turnos, mas podem ser destruídos com dano ou quando esta habilidade é usada novamente.

|Voracity = Cada ataque subsequente contra um alvo concede {{pos|+15%}} de Drenagem de Vida e {{pos|7.5%}} de Penetração de Armadura por {{w|6}} turnos.

|Web Spit = Cospe uma teia no alvo, causando {{C|Caustic|8 Caustic}} e {{C|Poison|4 Poison}} de Dano ao alvo, enquanto também aplica o efeito de {{neg|"Web"}} por {{w|6-8}} turnos.


<!--
 BRIGANDS SKILLS 
-->
|Coordinated Advance = Para cada aliado dentro do campo de visão, concede {{pos|+7.5%}} de Dano de Arma e {{pos|+5%}} de Chance de Crítico tanto para eles quanto para o Renegado. Usar Habilidades reduz os Cooldowns Ativos do Renegado e de seus aliados em {{w|1}} turno.

|Dead or Alive = Aplica o alvo com um efeito que persiste até a morte do Mestre de Pagamentos. <br><br> Ao atacar o alvo afetado, todos os Brigands com o Mestre de Pagamentos em sua Visão ganham: <br><br> {{pos|+10%}} Precisão <br>{{pos|+15%}} Penetração de Armadura <br>{{pos|+20%}} Dano em Partes do Corpo

|Net Throw = Joga uma rede de caça com {{W|88%}} de Precisão. Se atingir o alvo, aplica-o com {{neg|"Net"}} por {{w|6}} turnos: <br><br>{{neg|+30%}} Chance de Erro <br>{{neg|-25%}} Chance de Esquiva <br>{{neg|-50%}} Chance de Bloqueio <br>{{neg|-50%}} Chance de Contra-ataque <br>{{neg|+30%}} Chance de Retrocesso

|Raise the Banner! = Restaura a vontade de lutar dos Brigands em fuga e concede a todos os Brigands dentro da Visão o efeito de {{pos|"Battle Rage"}} por {{w|10-15}} turnos.

|Sic! = Aplica o alvo com {{neg|"Sic!"}} por {{w|10}} turnos. <br><br> Os Cães causam {{pos|+50%}} de Dano aos alvos sob o efeito de {{w|"Sic!"}}.


<!--
 UNDEAD SKILLS 
-->
|Abominable Vitality = {{w|É apenas um arranhão!}} Ao receber dano letal, o Inquieto tem {{W|75%}} de chance de {{W|evitar a morte}}, {{pos|totalmente}} Repondo sua Vida enquanto {{neg|perde}} sua parte do corpo mais danificada.

|Binding Sigil = Ativa {{pos|"Binding Sigil"}} e concede o mesmo efeito a um aliado Morto-Vivo por {{w|13}} turnos: <br><br>Concede ao aliado {{pos|-33%}} de Dano Recebido <br>Transfere {{W|33%}} do dano recebido pelo lançador para o aliado <br>Reabastece a Energia do lançador para {{W|33%}} do dano causado pelo aliado.

|Bolt of Darkness = Dispara um raio de energia sombria, causando {{unholy|9 Unholy Damage}} com {{W|90%}} de Precisão. Se o feitiço atingir o alvo, queima sua Energia pela quantidade de dano causado e reabastece a mesma quantidade de Energia ao lançador.

|Bone Throw = Lança um osso em um alvo, causando {{w|3 Crushing}}, {{w|3 Piercing}}, {{poison|3 Poison}}, e {{unholy|3 Unholy}} com {{w|80%}} de Precisão, {{w|30%}} de Chance de Atordoamento e {{w|30%}} de Chance de Sangramento.

|Curse of Decay = Aplica o alvo com {{neg|"Maldição da Decadência"}} por {{W|13}} turnos: <br><br>{{neg|-6%}} de Vida Máxima <br>{{neg|-6%}} de Energia Máxima <br>{{neg|-6%}} de Restauração de Energia <br>{{neg|9%}} de Eficiência de Cura <br><br>{{W|IV}} pilhas do efeito: cada turno piora a Condição de uma parte do corpo aleatória em {{neg|1%}} <br><br>Cada turno aplica uma pilha extra do efeito (até {{W|IV}}. Golpes básicos, tiros e uso de habilidades reduzem o número de pilhas em {{pos|2}}.

|Curse of Agony = Aplica o alvo com {{neg|"Maldição da Agonia"}} por {{W|13}} turnos: <br><br>{{neg|+1%}} de Mudança de Dor <br>{{neg|-6%}} de Dano de Arma <br>{{neg|-9%}} de Poder Mágico <br>{{neg|-9%}} de Fortitude <br>{{neg|-9%}} de Resistência Profana <br><br>As penalidades mudam dinamicamente dependendo da Dor atual do alvo.

|Deadly Premonition = Aplica o alvo com {{neg|"Premonição Mortal"}} por um número indefinido de turnos: <br><br>Concede ao próximo uso de uma habilidade de {{W|Ataque}} ou {{W|Feitiço}} {{neg|+50%}} de Chance de Erro, {{neg|+50%}} de Chance de Retrocesso e {{neg|+50%}} de Duração de Cooldown. <br><br>Usar habilidades de {{W|Ataque}} ou {{W|Feitiço}} remove o efeito e reduz os Cooldowns do lançador em {{pos|2}} turnos.

|Death Touch = Causa {{unholy|13 Unholy Damage}}. <br><br>Reabastece a Vida de todos os Mortos-Vivos dentro da Visão para {{pos|66%}} do dano causado pelo feitiço.

|Desecration = Dispara um raio de energia sombria, causando {{unholy|9 Unholy Damage}} com {{W|90%}} de Precisão. Se o feitiço atingir o alvo, queima sua Energia pela quantidade de dano causado e reabastece a mesma quantidade de Energia ao lançador.

|Spectral Haunting = Ativa {{pos|"Spectral Haunting"}} por {{W|1}} turno. Receber dano remove o efeito. <br><br>Enquanto {{pos|"Spectral Haunting"}} está ativo, concede a todos os golpes e tiros recebidos {{neg|+20%}} de Chance de Erro e {{neg|-10%}} de Precisão. Quando o efeito expira, o Wraith desaparece por {{W|2}}-{{W|4}} turnos, então se materializa em um tile adjacente a um inimigo e entrega um golpe a ele. <br><br>Se o golpe atingir seu alvo, aumenta a Vida Máxima do Wraith em {{pos|20%}} e permanentemente concede a ele {{pos|+3%}} de Chance de Crítico.

|Grave Chill = Causa {{unholy|9 Unholy}} e {{C|Frost|9 Frost Damage}} em um tile adjacente e dois tiles atrás dele. <br><br>Com {{W|94%}} de chance {{W|Imobiliza}} todos os alvos dentro da área de efeito do feitiço e os aplica com {{neg|+25%}} de Chance de Erro e {{neg|-25%}} de Restauração de Energia por {{W|2}} turnos.

|Necrophage = Consome um cadáver coberto de carne. Reabastece {{pos|50%}} de Vida Máxima e {{C|Energia|50%}} de Energia Máxima, então se transforma em um necrófago mais poderoso.

|Putrid Odor = Aplica a todos os inimigos adjacentes {{neg|+5%}} de Chance de Erro, {{neg|+0.5%}} de Chance de Intoxicação e {{neg|-0.25%}} de Mudança de Moral. <br><br>A cada turno, com {{W|20%}} de chance, faz com que todos os inimigos adjacentes {{neg|Tossem}}. <br><br>Esses efeitos não se acumulam.

|Lesser Ritual of Ressurection = Reanima um Morto-Vivo abatido, repondo {{pos|66%}} de Vida Máxima e {{C|Energia|66%}} de Energia Máxima. <br><br>A Durabilidade da Armadura do Morto-Vivo reanimado é definida como {{W|0%}}, e todas as suas habilidades são colocadas em cooldown por {{W|50%}} do número máximo de turnos.

|Greater Ritual of Resurrection = Reanima todos os Mortos-Vivos abatidos dentro de {{W|6}} tiles, repondo {{pos|33%}} de Vida Máxima e {{C|Energia|33%}} de Energia Máxima. <br><br>A Durabilidade da Armadura do Morto-Vivo reanimado é definida como {{W|0%}}, e todas as suas habilidades são colocadas em cooldown. 

|Blasphemous Sigil = Cria uma {{W|Runa}} no tile alvo, que persiste por {{W|9}} turnos. <br><br>Permanecer na {{W|Runa}} causa {{unholy|9 Unholy Damage}} e reabastece a Energia do lançador para {{W|100%}} do dano causado. <br><br>A {{W|Runa}} não prejudica Mortos-Vivos ou Prosélitos, em vez disso, concede a eles {{pos|-33%}} de Chance de Erro, {{pos|+33%}} de Restauração de Energia e {{pos|+9%}} de Chance de Crítico.

|Soul Sacrifice = Aplica um aliado Morto-Vivo com {{neg|"Sacrifício de Alma"}} até o próximo turno. <br><br>Quando o efeito expira, o alvo explode, causando {{unholy|Unholy Damage}} igual à sua Vida restante (mas não mais do que {{W|20%}} de seu valor máximo) a todos os tiles adjacentes. <br><br>O feitiço só pode ser usado em alvos com menos de {{neg|20%}} de Vida.

|Steal Essence = Rouba {{neg|6%}} de Vida Máxima e {{C|Energia|6%}} de Energia Máxima de um aliado Morto-Vivo, transferindo-os para o lançador. <br><br> Ativa {{pos|"Stolen Essence"}} por {{w|3-}} turnos: <br><br>{{pos|+13%}} de Poder Mágico <br>{{pos|-9%}} de Custo de Energia de Feitiços <br>{{pos|-9%}} de Duração de Cooldowns <br>{{pos|-9%}} de Dano Recebido <br>Usar {{W|Feitiços}} reabastece a Vida para {{W|9%}} da Energia gasta <br><br>O uso repetido do feitiço concede uma pilha extra do efeito (até {{W|IV}}) e renova sua duração.

|Strangling Grasp = Performa um {{W|charge}} em direção ao alvo e entrega um golpe com {{neg|-50%}} de Dano de Arma e {{W|57%}} de Chance de Imobilização. <br><br>{{pos|Dobra}} o bônus de Chance de Imobilização se o alvo estiver afetado por {{neg|"Maldição da Decadência"}} e {{pos|anula}} a penalidade de Dano de Arma se estiver afetado por {{neg|"Maldição da Agonia"}}.

|Unholy Blessing = Reabastece {{pos|13%}} de Vida Máxima ao alvo e concede {{pos|"Unholy Blessing"}} por {{w|13}} turnos: <br><br>{{pos|13%}} de Drenagem de Vida <br>{{pos|13%}} de Drenagem de Energia <br>{{pos|13%}} de Reflexão de Dano.

|Wraith Summoning = Invoca um {{W|Wraith}} no tile alvo. O poder do {{W|Wraith}} depende do número de pilhas de {{pos|"Stolen Essence"}}.<br><br>Usar a habilidade remove {{pos|"Stolen Essence"}}.


<!--
 PROSELYTE SKILLS 
-->
|Anthems of Bloodshed = Concede que cada {{w|sexto}} golpe tenha {{pos|+99%}} de Chance de Crítico e {{pos|+66%}} de Chance de Sangramento. <br><br>Se o golpe atingir seu alvo, concede {{pos|"Voto de Sangue"}} a todos os aliados dentro da Visão por {{w|3}} turnos: <br><br>{{pos|+33%}} de Drenagem de Vida <br>{{pos|+33%}} de Eficiência de Cura <br>{{pos|-33%}} de Custo de Energia de Habilidades.

|Baleful Scream = Deixa escapar um grito, causando {{w|7 Psionic Damage}} ao alvo. <br>Tem {{w|75%}} de chance de {{w|Daze}} o alvo por {{w|2}} turnos ou de {{w|Stagger}} por {{w|4}} turnos.

|Bestial Charge = Avança em linha reta por {{w|5}} tiles. O primeiro alvo em seu caminho recebe {{pos|666%}} de dano. <br><br>Se o Arconte colidir com o cenário durante a carga, ele é {{w|Atordoado}} por {{w|2}} turnos.

|Bestial Rage = A o receber dano, atingir alvos e usar habilidades aumenta a estatística oculta de {{neg|Rage}} do Yagram. Quando ela atinge seu máximo, ativa {{pos|"Bestial Rage"}} por um número indefinido de turnos: <br><br> {{pos|+33%}} de Dano <br>{{pos|+66%}} de Chance de Knockback <br>{{neg|+33%}} de Dano Recebido <br>{{neg|66%}} de chance de desferir um golpe em um alvo aleatório adjacente em vez do original...

|Blessed in Death = Enquanto o Mártir Morto estiver dentro da Visão de seus aliados, concede a eles {{pos|+9%}} de Dano de Arma, {{pos|+9%}} de Precisão, {{pos|-9%}} de Dano Recebido. <br><br>Destruir o Mártir Morto remove o {{pos|"Voto de Sangue"}} anteriormente concedido.
|Blister Burst = Loses {{neg|6%}} Max Health. Deals {{unholy|6 Unholy}} and {{caustic|6 Caustic Damage}} to all adjacent targets except Proselytes and Undead. <br>Replenishes {{pos|9%}} Health and {{C|Energy|9%}} Max Energy to all affected Proselytes. <br><br>Creates {{W|Blood Puddles}} on all adjacent tiles for {{w|6}} turns. <br><br>Remaining in the {{W|Blood Puddle}} deals {{unholy|6 Unholy}} and {{caustic|6 Caustic Damage}} and grants {{neg|-6%}} Unholy Resistance for {{w|13}} turns. <br><br>{{W|Blood Puddles}} don't harm Proselytes, instead replenishing them {{pos|3%}} Max Health and {{C|Energy|3%}} Max Energy each turn.

|Blood Craze = Hitting an enemy grants {{pos|"Blood Craze"}} for {{w|3}} turns:<br><br>{{pos|+6%}} Weapon Damage <br>{{pos|+3%}} Crit Chance <br><br>While {{pos|"Blood Craze"}} is active, each next hit grants an extra stack of the effect (up to {{w|VI}}) and refreshes its duration.

|Blood Scent = Each {{neg|Bleeding}} enemy or ally within Vision grants {{pos|+6%}} Damage, {{pos|+9%}} Counter Chance, and {{pos|+3%}} Crit Chance. <br><br>If an enemy within 9 tiles starts {{neg|Bleeding}}, attracts the Proselyte to their location.

|Blood Clot = Launches a clot of blood at the target, dealing {{unholy|4 Unholy Damage}} and {{C|Caustic|4 Caustic Damage}}.

|Blood Puddle = Marks an area. Next turn pours a puddle of boiling blood in it. <br><br>Puddles persist for {{w|2}} turns and deal {{unholy|15 Unholy Damage}} and {{C|Caustic|15 Caustic Damage}} per turn.

|Blood Spit = Loses {{neg|3%}} Max Health. Spits blood, dealing {{unholy|13 Unholy}} and {{caustic|9 Caustic Damage}} with {{W|95%}} Accuracy.<br><br>If the skill hits its target, applies it with {{neg|-6%}} Unholy Resistance for {{w|13}} turns and creates a {{W|Blood Puddle}} on its tile for {{W|3}} turns. <br><br>Remaining in the {{W|Blood Puddle}} deals {{unholy|13 Unholy}} and {{caustic|6 Caustic Damage}} and also grants {{neg|-6%}} Unholy Resistance for {{w|13}} turns. <br><br>{{W|Blood Puddles}} don't harm Proselytes, instead replenishing them {{pos|3%}} Max Health and {{C|Energy|3%}} Max Energy each turn.

|Bloodthirst = Delivers a strike with {{pos|+27%}} Life Drain and {{pos|+27%}} Bleed Chance. <br><br>Activates {{pos|"Vampiric Blood"}} for {{w|3}} turns:<br><br>{{pos|+9%}} Life Drain<br>Replenishes {{pos|6%}} Max Health and Energy each turn.

|Brand of Anguish = Delivers a strike with {{pos|+33%}} Fire Damage, causing {{W|100%}} more Pain. <br><br>If the strike hits a target affected by positive effects, removes one of them and permanently grants the Brander {{pos|+9%}} Life Drain.

|Burnt Offering = Destroys a corpse within Vision, leaving a {{W|Pyre}} in its place, which persists until it's extinguished or the Brander's death. Replenishes {{pos|9%}} Max Health. <br><br>Each burning {{W|Pyre}} replenishes {{pos|3%}} Max Health to the Brander each turn, and also grants him {{c|Fire|+3}} Fire Damage, {{pos|-6%}} Damage Taken, and {{pos|+6%}} Crit Chance. The effect stacks up to {{W|6}} times.

|Cannibalistic Craze =  '''Repositions''' to a tile with a fleshy corpse and consumes it, replenishing {{c|+|13%}} Max Health and {{c|Energy|26%}} Max Energy.<br><br>With 33% chance activates one of the following effects for 9 turns:<br><br>[[Blood Craze]]<br>[[Blood Oath]]<br>[[Rapid Restoration]]<br>[[Battle Rage]].

|Chain Strike = Delivers a strike with {{neg|-66%}} Damage, {{pos|+66%}} Daze Chance and {{pos|+66%}} Knockback Chance.

|Corpse Devourment = Devours a corpse, replenishing {{pos|33%}} Max Health and {{C|Energy|33%}} Max Energy.

|Devastating Power = Marks a tile. Next turn delivers a strike to the marked tile with {{pos|+33%}} Weapon Damage, {{pos|+33%}} Bodypart Damage, and {{pos|+66%}} Stun Chance.<br><br>{{pos|Doubles}} the bonuses if the strike is delivered to a target affected by {{W|Immobilization}}, {{W|Daze}}, {{W|Stun}}, {{W|Stagger}}, or {{W|Confusion}}.

|Driven by Pain = Grants {{pos|+0.33%}} Damage, {{pos|-0.33%}} Damage Taken and {{pos|+0.13%}} Life Drain for each missing {{neg|percent}} of Health.

|Earthshaking Strike = Delivers a strike to three adjacent tiles and three tiles behind them with {{pos|+33%}} Stun Chance and {{pos|+66%}} Daze Chance. <br><br>Each target within the skill's area of effect increases the Yagram's {{neg|Rage}}.

|Embrace the Murk = Performs a {{W|teleportation}} to the targeted tile. <br><br>Removes all negative effects and activates {{pos|"Murk"}} for {{W|9}} turns: <br><br>{{pos|+6%}}Crit Chance <br>{{pos|+9%}} Bodypart Damage <br>{{pos|+9%}} Bleed Chance <br>{{pos|+9%}} Life Drain <br>Replenishes {{pos|+6%}} Max Health and {{C|Energy|+6%}} Max Energy each turn. <br><br>Each turn grants a stack of the effect (up to {{w|VI}}). <br><br>While {{pos|"Murk"}} is active, grants {{pos|+66%}} Dodge Chance. Receiving damage, using abilities, and delivering strikes removes the effect. <br><br>This ability can't be used while affected by {{w|Immobilization}} or {{neg|"Net"}}.

|Face of Horror = Makes a large amount of {{W|noise}} and deals {{C|Psionic|9 Psionic Damage}} with {{W|99%}} chance to {{W|Immobilize}} the target for {{W|2}} turns. The chance to {{W|Immobilize}} can be reduced by the target's Psionic Resistance.<br><br>Activates {{pos|"Battle Rage"}} and grants the same effect to all Proselytes within Vision for {{W|9}} turns.

|Feed the Host = Replenishes {{pos|66%}} of the damage dealt as Health to the summoner.

|Fiery Embers = Deals {{c|Fire|9 Fire}} and {{unholy|3 Unholy Damage}}, then creates {{W|Fiery Embers}} on the target's tile and three behind it, which persists for {{W|6}} turns. <br><br> Remaining on {{W|Fiery Embers}} applies {{neg|-9%}} Fire Resistance, {{neg|+6%}} Fumble Chance, and with {{W|33%}} chance causes the target to {{c|Fire|Ignite}}. The chance to {{c|Fire|Ignite}} can be reduced by the target's Fire Resistance. <br><br>The effect stacks up to {{W|6}} times. {{W|Fiery Embers}} don't harm Proselytes.

|Flesh Explosion = The Blood Golem explodes the next turn after its death, dealing {{unholy|9 Unholy}} and {{C|caustic|26 Caustic Damage}} to all adjacent tiles.

|Fling Away = Delivers a strike with {{pos|+50%}} Stagger Chance, {{pos|+50%}} Stun Chance, and {{pos|+150%}} chance to Knock the target back {{w|2}} tiles.

|For Whom The Bell Tolls = Makes a large amount of {{W|noise}}, attracting all proselyte within {{w|9}} tiles. <br><br>Deals {{psionic|9 Psionic Damage}} with {{W|75%}} Armor Penetration to all enemies within {{W|9}} tiles and applies them with {{neg|+9%}} Damage Taken for {{w|9}} turns and {{neg|-6%}} Sanity.

|Herald of Ruination = Delivers a strike to a large area within {{W|4}} tiles with {{pos|+99%}} Daze Chance and {{W|99%}} chance to cause {{W|Confusion}} for {{W|2}} turns. The chance to {{W|Confuse}} can be reduced by a target's Move Resistance.<br><br>Reduces all cooldowns by {{pos|3}} turns for each target or object of environment within the skill's area of effect.

|Immolation = Upon death, grants {{pos|"Blood Vow"}} to all Proselytes within Vision for {{W|6}} turns: <br><br>{{pos|+33%}} Life Drain<br>{{pos|+33%}} Healing Efficiency<br>{{pos|-33%}} Abilities Energy Cost

|Jump Away = Jumps {{w|2}} tiles or less, gains {{pos|+66%}} Dodge Chance and {{pos|-33%}} Damage Taken for the next turn.

|Lacerate = Delivers a strike with {{neg|-66%}} Damage and {{pos|+66%}} Bleed Chance.

|Lash Blessing = Delivers a strike with {{neg|-66%}} Weapon Damage to himself or an ally, granting {{pos|"Battle Rage"}} for {{w|9}} turns: <br><br>{{pos|+10%}} Damage <br>{{pos|+7.5%}} Crit Chance <br>{{pos|+20%}} Crit Efficiency

|Life Leech = Deals {{unholy|9 Unholy Damage}} <br><br>Replenishes Health for the amount of damage dealt by the spell. If Health is at {{neg|100%}}, increase it by the same amount for {{W|9}} turns.

|Mark of the Feast = Applies {{neg|"Mark of the Feast"}} for {{W|3}} turns: <br><br>{{pos|-26%}} Bleed Resistance <br>{{pos|-13%}} Dodge Chance <br><br>Grants all received attacks {{pos|+13%}} Life Drain. <br><br>Receiving a {{neg|Bleeding}} prolongs the effect by {{neg|1}} turn.

|Murkstrike = Performs a {{W|charge}} towards the target and delivers a strike with {{pos|+66%}} Crit Efficiency, {{pos|+66%}} Daze Chance, {{pos|+66%}} Armor Penetration. <br><br>This skill can be used only while affected by {{pos|"Murk"}}.

|Murkwalk = Performs a {{W|teleportation}} to the targeted tile. <br><br> Grants {{pos|+18%}} Dodge Chance for {{w|3}} turns and reduces all Cooldowns by {{pos|3}} turns. <br><br>This ability can't be used while affected by {{w|Immobilization}} or {{neg|"Net"}}.

|Neverending Torment = Loses {{neg|3%}} Max Health each turn while there's both an enemy and an ally within Vision. If the Martyr is Alarmed, and there are no enemies within Vision, the Health loss is {{neg|tripled}}. <br><br>Upon death, grants "Blood Vow" to a random ally within Vision for {{W|99}} turns: <br><br>{{Pos|+33%}} Life Drain <br>{{pos|+33%}}Healing Efficiency <br>{{pos|+33%}} Abilities Energy Cost

|One Body = Transfers {{neg|66%}} of the damage received by the Tentacle to the Summoner. <br>Transfers {{neg|33%}} of the damage received by the summoner to the Tentacle. When the Tentacle is destroyed, the summoner loses {{neg|9%}} Max Health and is applied with {{neg|+33%}} Damage Taken for an indefinite number of turns. <br><br>Killing the Anmarrak destroys its Tentacle Arm as well.

|Phantom Bats = Marks an area. <br><br>Next turn releases a swarm of spectral bats at it, dealing {{unholy|26 Unholy Damage}} and applying {{unholy|Curse}} for {{w|13}} turns.

|Sacrificial Blood = Applies the target with "Sacrificial Blood", which remains active until the caster's death. <br><br> Using {{W|Spells}} against a target affected by this effect grants {{pos|+9%}} Magic Power and {{pos|+9%}} Healing Efficiency (both effects stack up to {{W|6}} times) and also reduces all cooldowns by {{pos|3}} turns.

|Summon Blood Golem = Summons a {{w|Blood Golem}} on the targeted tile.

|Summon the Restless = Reanimates one of the bodies in the corpse pile.

|Summon Worm = Spends {{neg|3%}} Max health to summon a {{w|Leechworm}} on a targeted tile.

|Tongue Leech = Deals {{w|9 Piercing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}}  with {{pos|+33%}} Armor Penetration, {{pos|+66%}} Bleed Chance, {{pos|+66%}} Immobilization Chance, and {{pos|+66%}} Life Drain.

|Tongue Pull = Deals {{w|9 Crushing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}} with {{pos|+33%}} Armor Penetration and {{w|99%}} chance to {{w|Pull}} the target {{w|4}} tiles closer. <br><br>This skill can't be countered.

|Tongue Push = Deals {{w|9 Crushing}}, {{poison|6 Poison}}, and {{unholy|6 Unholy Damage}} with {{pos|+33%}} Armor Penetration and {{w|99%}} chance to {{W|knock}} the target back {{w|2}} tiles. <br><br>This skill can't be countered.

|Tentacle Arm (skill) = Summons a {{cl|White|Tentacle Arm}} on a targeted tile and activates the effect of {{pos|"Mountain of Flesh"}} for an indefinite number of turns: <br><br> {{pos|-99%}} Damage Taken <br>{{pos|+200%}} Move Resistance <br>{{pos|+66%}} Control Resistance <br>{{pos|+66%}} Healing Efficiency <br>{{neg|Disables basic attacks and movement to other tiles}}

|Unholy Anthems = Grants one of the following effects to all Proselytes within {{w|9}} for {{w|6}} turns: <br><br>{{pos|Rapid Restoration}} <br>{{pos|Sturdiness}} <br>{{pos|Battle Rage}}

|Unholy Ritual = Replenishes {{pos|+50%}} Max Health to all the Restless and grants them {{pos|+50%}} Damage.

|Draining Sigil = Creates a {{W|Rune}} on the target's tile and two more on the tiles adjacent to it. The {{W|Runes}} persist for {{W|9}} turns or until the caster's death. <br><br>Remaining on the {{W|Runes}} deals {{c|Unholy|9 Unholy Damage}} with {{W|29%}} Immobilization Chance and permanently increases the caster's Max Health by {{pos|6%}}. <br><br>The {{W|Runes}} don't harm Proselytes, instead replenishing them {{pos|9%}} Max Health each turn.

|Wild Swipe = Causa um golpe em três alvos adjacentes com {{pos|+100%}} de Chance de Knockback.

|Wild Swipe (Ascended Archon) = Causa um golpe em três alvos adjacentes com {{pos|+100%}} de Chance de Knockback.

|Wild Swipe (Enhanced) = Causa um golpe em três alvos adjacentes com {{pos|+100%}} de Chance de Knockback.

|Willing Sacrifice = Replenishes Health to all allies within Vision for the amount of damage received.

|Witness His Might! = Each type of Proselyte within Vision grants {{pos|+6%}} Max Health and {{pos|+6%}} Weapon Damage. <br><br>Hitting an enemy applies them with {{neg|+3%}} Damage Taken for {{w|6}} turns for each type of Proselyte within Vision.

|Wormfood = Destroys a flesh-covered corpse and summons {{w|Leechworms}} on the tiles adjacent to it. The number of summoned {{w|Leechworms}} depends on the corpse's size. <br><br>Grants already existing worms {{pos|+9%}} Max Health, {{pos|+9%}} Bleed Chance, and {{pos|+9%}} Crit Chance.  


<!-- 
 ATHLETIC SKILLS 
-->
|Mighty Kick = Causa {{W|10 Crushing Damage}} com {{W|120%}} de Precisão, {{W|100%}} de Chance de Imobilização e {{W|80%}} de Chance de Knockback.<br><br>O dano causado depende da Proteção das {{W|botas}} equipadas.<br><br>Ao atingir o alvo, aplica-o com {{Neg|-30%}} de Poder de Bloqueio Máximo, {{Neg|-20%}} de Resistência ao Controle, {{Neg|-20%}} de Resistência ao Movimento e {{neg|-15%}} de Esquiva de Crítico por {{W|4}} turnos.<br><br>O efeito se acumula até {{W|2}} vezes.

|Leg Sweep = Causa {{W|7 Crushing Damage}} em três tiles adjacentes com {{W|100%}} de Precisão e {{W|85%}} de Chance de Imobilização.<br>Então permite {{W|Reposition}} para um tile adjacente.<br><br>O dano causado depende da Proteção das {{W|botas}} equipadas.<br><br>Ao atingir o alvo, aplica-o com {{Neg|+10%}} de Chance de Erro, {{Neg|-10%}} de Chance de Crítico e {{W|-10%}} de Dano de Arma por {{W|3}} turnos.<br><br>O efeito se acumula até {{W|2}} vezes.<br><br>Se o alvo foi atingido pelo golpe e está adjacente após o uso da habilidade, com {{W|125%}} de chance aplica-o com {{W|Stagger}}.

|Disengage = Reduz a chance de acionar ataques de oportunidade (de {{Neg|50%}} para {{Neg|25%}}).<br><br>Concede {{pos|+0.2%}} de Resistência Mágica e {{pos|+0.2}} de Resistência à Natureza para cada {{pos|1%}} de Chance de Esquiva<br><br>Aplica todos os inimigos adjacentes com {{Neg|+3%}} de Chance de Erro, {{Neg|-3%}} de Precisão e {{neg|-3%}} de Chance de Crítico.

|Not This Time = Bloqueios totais e esquivas concedem {{pos|+5%}} de Resistência ao Controle e {{pos|+5%}} de Resistência ao Movimento por {{W|5}} turnos.<br><br>O efeito se acumula até {{W|2}} vezes.<br><br>Uma vez a cada {{W|90}} turnos remove {{w|Stun}}, {{w|Daze}}, {{w|Stagger}} ou {{w|Immobilization}} ao recebê-los.

|Dash = Performa um {{W|charge}} em direção ao tile alvo.<br><br>Concede a habilidade {{Neg|-1}} de Alcance para cada inimigo adjacente (até {{W|2}} de alcance).<br><br>Se houver inimigos adjacentes após o uso da habilidade, concede {{Pos|+15%}} de Chance de Esquiva e {{Pos|+15%}} de Chance de Contra-ataque por {{W|2}} turnos.

|Sudden Lunge = Inflige um golpe com {{Neg|-50%}} de Dano de Arma e {{W|80%}} de Chance de Stagger.<br><br>Reduz todos os Cooldowns em {{Pos|2}} turnos.<br><br>Se o golpe causar dano, coloca as habilidades do alvo em um Cooldown de {{W|2}} turnos.<br><br>Se equipado com uma {{W|lança}}, concede a habilidade {{Pos|+1}} de Alcance.

|Push the Falling = {{W|Dazing}}, {{W|Stunning}}, {{W|Staggering}}, {{W|Confusing}}, {{W|Immobilizing}} e causar {{Neg|Bleeding}} com golpes reabastece {{c|Energia|4%}} de Energia Máxima.<br><br>Usar {{W|"Mighty Kick"}} contra alvos com esses efeitos prolonga sua duração em {{Neg|1-2}} turnos, dependendo do limite de duração de cada efeito individual.

|Inner Reserves = Uma vez a cada {{W|30}} turnos, reabastece {{C|Energia|15%}} de Energia Máxima quando a Energia cai abaixo de {{C|Energia|33%}}.

|Elusiveness = Ativa {{W|5}} pilhas de {{Pos|"Elusiveness"}} por {{W|6}} turnos:<br><br>{{Pos|+6%}} de Chance de Esquiva<br>{{Pos|-3%}} de Dano Recebido<br><br>Cada esquiva, bem como golpes e tiros errados recebidos, prolongam a duração do efeito em {{pos|1}} turno (até {{W|6}}), mas reduzem o número de pilhas.<br><br>Mover-se para outros tiles ({{W|Cargas}} e {{W|Manobras}} contam também) concede uma pilha extra do efeito para cada tile percorrido (até {{W|V}}).<br><br>Aplica todos os inimigos adjacentes com {{Neg|+10%}} de Chance de Erro por {{W|4}} turnos.<br><br>O efeito não se acumula.

|No Time to Linger = Concede golpes e tiros contra alvos {{W|Dazed}}, {{W|Stunned}}, {{W|Staggered}}, {{W|Confused}}, {{W|Immobilized}}, ou {{Neg|Bleeding}} {{Pos|+5%}} de Precisão, {{pos|-5%}} de Chance de Erro e {{Pos|+5%}} de Chance de Crítico.<br><br>Usar {{Pos|"Sudden Lunge"}} contra alvos com esses efeitos concede ao golpe {{Pos|+25%}} de Dano de Arma e não consome um turno.

|Adrenaline Rush = Restaura {{c|Energia|10%}} de Energia Máxima, concede {{Pos|-20%}} de Dor e ativa {{Pos|"Adrenaline Rush"}} por {{W|5}} turnos:<br><br>{{Pos|-5%}} de Dano Recebido<br>{{Pos|-10%}} de Custo de Energia de Habilidades<br>{{Pos|+10%}} de Restauração de Energia<br>{{Pos|+5%}} de Chance de Crítico<br>{{Pos|+10%}} de Resistência à Dor<br>{{W|III}} pilhas: reduz todos os Cooldowns em {{Pos|1}} turno.<br>{{W|VI}} pilhas: reabastece {{pos|4%}} de Vida Máxima se a Vida atual estiver abaixo de {{neg|40%}}<br><br>Concede uma pilha extra do efeito (até {{W|VI}}) para cada inimigo dentro da Visão ao ativá-lo.<br>Os inimigos adjacentes são contados duas vezes.<br><br>A duração do efeito e a quantidade de Dor reduzida e Energia reabastecida aumentam com a Vida faltante.

|Sprint Training = Concede {{Pos|+1}} de Alcance, {{Pos|-30%}} de Custo de Energia e {{Pos|-30%}} de Duração de Cooldown para todas as habilidades de {{W|Carga}}.

|Peak Performance = Concede {{Pos|+10%}} de Dano de Arma, {{Pos|+10%}} de Chance de Esquiva e {{Pos|-10%}} de Duração de Cooldowns se a Energia estiver acima de {{c|Energia|50%}}.

<!-- 
 WARFARE SKILLS
-->
|Seize the Initiative = Aplica o alvo com {{Neg|-20%}} de Chance de Esquiva e {{Neg|-20%}} de Chance de Bloqueio até o próximo turno e desfere um golpe em sua parte do corpo menos protegida com {{Pos|+10%}} de Precisão e {{Pos|-10%}} de Chance de Erro.<br><br>Se o golpe causar dano, ativa {{Pos|"Seized Initiative"}} por {{W|2}} turnos:<br><br>{{Pos|+5%}} de Precisão<br>{{Pos|-5%}} de Chance de Erro<br>{{Pos|-10%}} de Duração de Cooldowns<br>{{Pos|-10%}} de Custo de Energia de Habilidades<br><br>Aplica o alvo com {{Neg|"Initiative Loss"}} por {{W|2}} turnos, que penaliza as mesmas estatísticas.<br><br>Golpes e tiros que causam dano prolongam a duração de ambos os efeitos em {{Pos|1}} turno.<br><br>{{Neg|"Initiative Loss"}} só pode estar ativo em um alvo por vez.<br><br>Concede à habilidade {{Pos|+1}} de Alcance (se equipado com uma {{W|lança}}) ou define seu Alcance para o da arma (se equipado com uma {{W|arma de longo alcance}}).

|War Cry = Com {{W|90%}} de chance {{W|Confunde}} todos os inimigos dentro de {{W|9}} tiles por {{W|10}} turnos ou {{W|Atordoa}} por {{W|2-3}} turnos.<br><br>Ativa {{Pos|"Battle Rage"}} por {{W|4}} turnos ({{W|+2}} turnos para cada inimigo {{W|Confundido}} ou {{W|Atordoado}} pela habilidade):<br><br>{{Pos|+10%}} de Dano de Arma<br>{{Pos|+5%}} de Chance de Crítico<br>{{Pos|+20%}} de Eficiência de Crítico

|Opportune Moment = Golpes críticos, tiros e contra-ataques que causam dano reabastecem {{c|Energia|5%}} de Energia Máxima.

|Setup = Avançar um turno, trocar para outro equipamento ou usar {{W|Posturas}} e {{W|Manobras}} concede {{Pos|+5%}} de Precisão, {{Pos|-5%}} de Dano Recebido e {{Pos|-5%}} de Custo de Energia de Habilidades por {{W|3}} turnos.<br><br>O efeito se acumula até {{W|2}} vezes.

|Offensive Tactic = Ativa {{Pos|"Tática Ofensiva"}} por {{W|6}} turnos ({{W|+1}} turno para cada inimigo dentro da Visão):<br><br>{{Pos|+2%}} de Chance de Crítico<br>{{Pos|+4%}} de Precisão<br>{{Pos|-3%}} de Chance de Erro<br>{{Pos|-4%}} de Custo de Energia de Habilidades<br>{{Pos|-4%}} de Duração de Cooldowns<br><br>Golpes básicos, tiros e o uso de habilidades de {{W|Ataque}} reduzem o número de pilhas (não mais de uma vez por turno).<br><br>Matar inimigos aumenta o número de pilhas em {{Pos|2}} (até {{W|VI}}).<br><br>Enquanto {{Pos|"Tática Ofensiva"}} está ativa, usar {{W|"Tática Defensiva"}} não consome um turno.<br><br>Apenas uma {{Pos|"Tática"}} pode estar ativa por vez.

|Defensive Tactic = Ativa {{Pos|"Tática Defensiva"}} por {{W|6}} turnos ({{W|+1}} turno para cada inimigo dentro da Visão):<br><br>{{Pos|+4%}} de Esquiva de Crítico<br>{{Pos|+3%}} de Chance de Bloqueio<br>{{Pos|+5%}} de Chance de Esquiva<br>{{Pos|+4%}} de Chance de Contra-ataque<br>{{Pos|+6%}} de Resistência a Sangramento<br><br>Golpes básicos, tiros e o uso de habilidades de {{W|Ataque}} reduzem o número de pilhas.<br><br>Matar inimigos aumenta o número de pilhas em {{Pos|2}} (até {{W|VI}}).<br><br>Enquanto {{Pos|"Tática Defensiva"}} está ativa, usar {{W|"Tática Ofensiva"}} não consome um turno.<br><br>Apenas uma {{Pos|"Tática"}} pode estar ativa por vez.

|Right on Target = Concede a todas as habilidades de {{W|Ataque}} {{Pos|+3%}} de Precisão, {{Pos|-3%}} de Chance de Erro e {{Pos|+3%}} de Chance de Crítico.<br><br>Se equipado com uma {{W|arma de uma mão}} enquanto o segundo slot de arma estiver {{W|vazio}}, concede:<br><br>{{Pos|+2%}} de Eficiência da Mão Principal<br>{{Pos|+5%}} de Dano de Arma<br>{{Pos|+5%}} de Penetração de Armadura<br>{{Pos|-5%}} de Chance de Erro<br>{{Pos|-5%}} de Dano Recebido<br>{{Pos|-10%}} de Custo de Energia de Habilidades<br><br>O bônus de Eficiência da Mão Principal depende do número de Pontos de Habilidade investidos nas árvores de {{W|Armas}}.

|Intimidation = Golpes e tiros bem-sucedidos aplicam seus alvos com {{Neg|-5%}} de Esquiva de Crítico e {{Neg|-5%}} de Fortitude por {{W|5}} turnos.<br><br>O efeito se acumula até {{W|5}} vezes.<br><br>Aumenta o impacto negativo das ações do personagem na {{W|vontade de lutar}} dos inimigos em {{Pos|+50%}}.

|Against the Odds = Ativa {{Pos|"Against the Odds"}} por {{W|2}} turnos:<br><br>{{Pos|-50%}} de Dano Recebido<br>{{Pos|+50%}} de Resistência a Sangramento<br>{{Pos|+50%}} de Resistência ao Movimento<br>{{Pos|+50%}} de Resistência ao Controle<br>{{pos|+50%}} de Esquiva de Crítico<br><br>Enquanto {{Pos|"Against the Odds"}} está ativo, a Vida não pode cair abaixo de {{Neg|25%}}, e matar inimigos reabastece {{Pos|25%}} de Vida Máxima e {{c|Energia|25%}} de Energia Máxima.<br><br>O primeiro golpe recebido no mesmo turno em que a habilidade é usada não causará dano.

|Finisher = Performa um {{W|charge}} em direção ao alvo e desfere um golpe em sua parte do corpo mais danificada com {{Pos|+25%}} de Dano de Parte do Corpo, {{Pos|+15%}} de Chance de Crítico, {{Pos|-20%}} de Chance de Erro e {{Pos|+50%}} de Dreno de Energia.<br><br>Mata instantaneamente o alvo se o golpe colocar sua Vida abaixo de {{Neg|13%}} (mas não mais que {{W|15}}).<br><br>Se o golpe matar seu alvo, reabastece instantaneamente todos os Cooldowns de outras habilidades e reabastece {{c|Energia|15%}} de Energia Máxima.<br><br>Se equipado com uma {{W|lança}}, concede à habilidade {{Pos|+1}} de Alcance.

|Tactical Advantage = Concede {{W|+2}} turnos adicionais à duração de {{Pos|"Tática Defensiva"}} e {{Pos|"Tática Ofensiva"}}.<br><br>Concede a todas as {{W|Posturas}} e {{W|Manobras}} {{Pos|-20%}} de Custo de Energia e {{Pos|-20%}} de Duração de Cooldowns.<br><br>Se afetado por {{Pos|"Tática Ofensiva"}}, usar {{W|"Tática Defensiva"}} reabastece {{Pos|5%}} de Vida Máxima e {{c|Energia|20%}} de Energia Máxima.<br><br>Se afetado por {{Pos|"Tática Defensiva"}}, usar {{W|"Tática Ofensiva"}} concede {{Pos|+25%}} de Dano de Arma por {{W|3}} turnos.<br><br>O efeito não se acumula.

|Thirst for Battle = Ativa {{Pos|"Thirst for Battle"}} por {{W|8}} turnos.<br><br>Cada {{Neg|percentual}} de Vida faltante concede:<br><br>{{Pos|+0.5%}} de Dano de Arma<br>{{Pos|+0.25%}} de Chance de Crítico<br>{{Pos|+0.5%}} de Eficiência de Crítico<br>{{Pos|+0.33%}} de Dreno de Vida<br>{{Pos|+0.5%}} de Dreno de Energia<br><br>O poder do efeito muda dinamicamente dependendo da Vida atual.<br><br>Golpes e tiros críticos prolongam a duração do efeito em {{Pos|1}} turno (até {{W|8}}).<br><br>O primeiro golpe recebido no mesmo turno em que a habilidade é usada é garantido para acionar um contra-ataque.

|Armor Crusher = Concede golpes e tiros {{Pos|+10%}} de Penetração de Armadura e {{Pos|+50%}} de Dano de Armadura se a Durabilidade da Armadura do alvo estiver acima de {{W|0%}}.<br><br>Ao atingir o alvo, aplica-o com {{W|+10%}} de Dano Recebido por {{W|5}} turnos se ele {{W|não tiver Armadura}} ou sua Durabilidade de Armadura estiver em {{W|0%}}.<br><br>Concede {{pos|+5%}} de Chance de Crítico por {{W|5}} turnos para cada golpe ou tiro bloqueado pelo alvo.<br><br>Ambos os efeitos se acumulam até {{W|3}} vezes.

|Final Push = Concede {{Pos|+5%}} de Dano de Arma e {{Pos|+5%}} de Precisão para cada {{Neg|20%}} de Vida faltante.<br><br>Concede {{Pos|-5%}} de Duração de Cooldowns e {{Pos|-10%}} de Custo de Energia de Habilidades para cada {{c|Energia|20%}} de Energia faltante.<br><br>Concede {{pos|+5%}} de Fortitude, {{pos|+5%}} de Resistência a Sangramento, {{pos|+5%}} de Resistência ao Controle e {{pos|+5%}} de Resistência ao Movimento para cada efeito negativo.

<!-- 
 ELECTROMANCY SKILLS
-->
|Jolt = Causa {{c|Shock|6 de Dano de Choque}} ao alvo com {{W|35%}} de chance de Knockback e {{W|70%}} de chance de aplicar {{Neg|"Resonance"}} por {{W|8}} turnos: <br><br>{{Neg|-20%}} de Resistência ao Choque <br>{{Neg|-7.5%}} de Resistência ao Movimento <br>{{Neg|-5%}} de Resistência ao Controle <br> {{Neg|+10%}} de Duração de Cooldowns

|Impulse = Causa {{c|Shock|10 de Dano de Choque}} a todos os alvos adjacentes com {{W|40%}} de chance de Knockback. Se o feitiço falhar em causar Knockback, aplica {{W|Stagger}} por {{W|1}} turno. <br><br>Tem {{W|85%}} de chance de aplicar alvos afetados com {{Neg|"Impulse"}} por {{W|8}} turnos: <br><br>{{Neg|-25%}} de Resistência ao Choque <br>{{Neg|-15%}} de Resistência ao Movimento <br>{{Neg|-10%}} de Resistência ao Controle <br>{{Neg|+20%}} de Duração de Cooldowns <br>Cada turno causa {{c|Shock|2 de Dano de Choque}} com {{W|15%}} de chance de causar Knockback. <br><br>Alvos afetados por {{Neg|"Impulse"}} contam como {{c|Shock|Resonating}}, e a duração do efeito é prolongada por aplicações adicionais de {{Neg|"Resonance"}}.

|Short Circuit = Causa {{c|Shock|6 de Dano de Choque}} a todos os alvos adjacentes com {{W|40%}} de chance de Knockback. Se o feitiço falhar em causar Knockback, aplica {{W|Stagger}} por {{W|1}} turno. <br><br>Tem {{W|85%}} de chance de aplicar alvos afetados com {{Neg|"Impulse"}} por {{W|8}} turnos: <br><br>{{Neg|-25%}} de Resistência ao Choque <br>{{Neg|-15%}} de Resistência ao Movimento <br>{{Neg|-10%}} de Resistência ao Controle <br>{{Neg|+20%}} de Duração de Cooldowns <br>Cada turno causa {{c|Shock|2 de Dano de Choque}} com {{W|15%}} de chance de causar Knockback. <br><br>Alvos afetados por {{Neg|"Impulse"}} contam como {{c|Shock|Resonating}}, e a duração do efeito é prolongada por aplicações adicionais de {{Neg|"Resonance"}}.

|Static Field = Aplica todos os alvos {{c|Shock|Resonating}} dentro da Visão com o efeito de {{Neg|"Static Field"}} por {{W|5}} turnos.<br>Cada turno a área de efeito do campo estático:<br><br>Tem {{W|10%}} de chance de aplicar imobilização.<br>Causa {{c|Shock|2 de Dano de Choque}} ao alvo principal do efeito e a todos adjacentes a ele, exceto o lançador, aplicando-os com {{Neg|-4%}} de Resistência ao Choque por {{W|10}} turnos (Este efeito se acumula até {{W|5}} vezes). Alvos {{W|Imobilizados}} recebem dano dobrado.

|Ball Lightning = Summona uma bola de raio em um tile alvo por {{W|4}} turnos. A duração aumenta em {{W|1}} turno para cada inimigo {{c|Shock|Resonating}} dentro da Visão.<br><br>A cada turno, a bola de raio faz o seguinte em um raio de {{W|2}} tiles:<br><br>Causa {{c|Shock|3 de Dano de Choque}}<br>Tem {{W|15%}} de chance de {{W|Pull}} em direção a si mesmo<br><br>A bola de raio causa {{Pos|25%}} mais dano a alvos adjacentes.<br>Ser Knocked back ou Puxado para a bola de raio causa {{Pos|200%}} de seu dano.

|Chain Lightning = Causa {{c|Shock|12 de Dano de Choque}} ao alvo, então salta para o alvo {{c|Shock|Resonating}} mais próximo dentro de {{W|8}} tiles, prolongando a duração de sua {{Neg|"Resonance"}} por {{Pos|3}} turnos.<br><br>Tem {{W|60%}} de chance de aplicar {{W|Stagger}}, e reduz os Cooldowns ativos da árvore de habilidades em {{Pos|2}} turnos para cada alvo afetado.<br><br>O raio pode atingir cada alvo individual apenas uma vez por lançamento.

|Tempest = Summona um raio para atingir o alvo, então invoca raios adicionais para atingir {{W|2}} inimigos mais dentro da Visão, priorizando os afetados por {{c|Shock|Resonance}}.<br><br>Causa {{c|Shock|10 de Dano de Choque}} e remove {{Neg|"Resonance"}}, com {{W|20%}} de chance de Stun no alvo. O dano e a chance de Stun aumentam em {{Pos|5%}} para cada turno restante do {{Neg|"Resonance"}} removido.<br><br>Para cada {{W|Stun}} aplicado por este feitiço, invoca um raio adicional para atingir um alvo aleatório dentro da Visão.<br><br>Instantaneamente mata inimigos com ou abaixo de {{Neg|20%}} de Vida Máxima se sua Vida atual for igual ou menor que {{W|50}}.

|Residual Charge = Concede {{Pos|+5%}} de Dano de Arma. Lançar feitiços da árvore de habilidades concede ataques corpo a corpo {{Pos|+15%}} de Dano de Arma, causado como {{c|Shock|Choque}}, por {{W|6}} turnos. <br><br>Para cada Ponto de Habilidade investido em Eletromancia, esses ataques fortalecidos aplicam ao alvo {{Neg|-0.5%}} de Resistência ao Choque por 6 turnos.<br><br>Raios naturais que ocorrem dentro da Visão concedem ao personagem {{Pos|+10%}} de Poder Eletromântico por {{W|240}} turnos.

|Potential Difference = Concede a {{W|Impulse}} {{W|25%}} de chance de causar {{W|dano dobrado}} cada vez que causa Knockback, com {{W|50%}} de chance de Imobilizar o alvo.

|Unlimited Power = Concede {{Pos|+0.1%}} de Poder Mágico para cada {{Pos|percentual restante}} de Energia Máxima e {{Pos|+0.1%}} de Restauração de Energia para cada {{Neg|percentual faltante}}.

|Conductivity = Cada inimigo afetado por {{Neg|"Static Field"}} ou permanecendo em sua área de efeito tem sua Energia queimada por {{W|35%}} do {{c|Shock|Dano de Choque}} que recebem dele.<br><br>Reabastece a Energia do lançador pelo mesmo valor.

|Chain Reaction = Lançar feitiços da árvore de habilidades aplica todos os alvos afetados com {{Neg|-5%}} de Resistência ao Choque por {{W|8}} turnos por cada alvo {{c|Shock|Resonating}} dentro da Visão.

|Resonance Cascade = Lançar feitiços desta árvore de habilidades tem {{W|20%}} de chance de aplicar um alvo aleatório dentro da Visão com {{W|3}} turnos de {{Neg|"Resonance"}} se ele ainda não estiver afetado por ele.<br><br>Se não houver tais alvos, tem 20% de chance de afetar um alvo {{c|Shock|Resonating}} aleatório dentro da Visão, prolongando a duração de sua {{Neg|"Resonance"}} ou {{Neg|"Impulse"}} por {{W|3}} turnos.

|Recharge = Cada alvo {{c|Shock|Resonating}} dentro da Visão concede {{Pos|+3%}} de Restauração de Energia.<br><br>Matar inimigos com feitiços desta árvore de habilidades concede {{Pos|-5%}} de Custo de Energia de Feitiços e {{Pos|-7.5%}} de Duração de Cooldowns por {{W|8}} turnos para cada alvo {{c|Shock|Resonating}} dentro da Visão.


|#default = Nome Alterado ou Descrição sem Tradução}}</includeonly><noinclude>{{Doc}}[[Category:PT-BR Language templates]]</noinclude>