<noinclude>
Page for almost all Stoneshard valuable data.
    
If you need to edit this, here's the order of values:
    
  ID;Image;Variants;Slots;Crowns;Description
    
==Usage==
    
  Variants should be separated by ",".
    
</noinclude><includeonly>{{#switch: {{{1}}}
    
<!--==Jewelry==-->
| Agate = valuable01;Agate;;1x1;50;Common folk believe agate to bring good luck. It's often used to make cheap jewelry.
| Amethyst = valuable02;Amethyst;;1x1;90;This gem is prized for its rich color.
| Antique Agraffe = valuable03;Antique Agraffe;;1x1;150;This jeweled clasp is older than you by at least a century.
| Aquamarine = valuable04;Aquamarine;;1x1;150;Many people believe that aquamarine is a powerful magical ward, and they are willing to pay good money for it.
| Diamond = valuable05;Diamond;;1x1;400;A real masterpiece of gem-cutting. Fit for a royal crown.
| Emerald = valuable06;Emerald;;1x1;1000;A very rare gemstone. Every jeweler dreams of getting one.    
| Golden Brooch = valuable07;Golden Brooch;;1x1;100;Aldor nobility enjoys decorating their clothes with these.
| Golden Earrings = valuable08;Golden Earrings;;1x1;80;Their owner is long gone. Everything is fleeting... except gold.
| Golden Tooth = valuable09;Golden Tooth;;1x1;20;It contains more gold than some of the recently minted coins.
| Handful Of Amber = valuable10;Handful Of Amber;;1x1;50;This gem most likely came from the shores of distant Skadia. Some of these stones contain exotic insects.
| Jade = valuable11;Jade;;1x1;75;Healers of the Jacinth Kingdoms consider Jade to hold healing qualities. It's quite sought after in the East.
| Morion = valuable12;Morion;;1x1;175;The ominous look of morions makes them the favourite stone of warlocks and everyone who delves into the occult and other things otherworldly.
| Ornate Agraffe = valuable13;Ornate Agraffe;;1x1;200;The image of an eagle carved into the gilded surface of this agrafe is widely used in the heraldy of Aldor. This proud bird is considered to be a symbol of freedom and nobility.
| Ruby = valuable14;Ruby;;1x1;350;This gem is worth a fortune. Enchanters value it for its unique magical properties.
| Ruby Beads = valuable15;Ruby Beads;;1x1;250;A rosary of an elven monk, made of small ruby beads. How did it end up in Aldor?
| Topaz = valuable16;Topaz;;1x1;125;Topaz is more common than other gems. Even merchant wives can afford to buy them.
| Sapphire = valuable17;Sapphire;;1x1;250;Sages say that sapphires are great conductors of magic. They are always in great demand.
| Sea Pearls = valuable18;Sea Pearls;;1x1;200;Perfectly smooth. They still preserve the coolness of the southern seas inside them.
| Silver Clasp = valuable19;Silver_Buckle;;1x1;50;A simple silver clasp for a cloak or a doublet. You can try selling if off for some coin.


<!--==Animal Pelts and Trophies==-->
| Ghoul Hide = valuable20;Ghoul Hide;;2x3;40;Ghoul skin and fur play a major role in certain questionable alchemical experiments due to their propensity for explosive growth.
| Ghoul Heart = valuable21;Ghoul Heart;;2x1;160;Continues to beat long after being extracted. Some scholars are fond of the idea that this mysterious phenomenon can be a key to solving the mysteries of life and death...
| Bear Pelt = valuable22;Bear Pelt;;4x3;780;Going after a bear and living to share the tale is quite a feat. This hide makes for an impressive hunting trophy.
| Bison Horns = valuable23;Bison Horns;;2x1;100;Drinking wine from this horn during revelries is considered extravagant, but not entirely tasteless.
| Bison Pelt = valuable24;Bison Pelt;;4x3;480;Even picking it up is a challenge. The sale price makes up for it though.
| Boar Pelt = valuable25;Boar Pelt;;2x3;150;Boar pelts are valued by tanners - they make for good shoes and belts.
| Crawler Eye = valuable26;Crawler Eye;;1x1;200;Extracts made with spider eyes are the key component in certain medicinal mixtures. Harvesting them is no easy task - a single careless move is all it takes to ruin this precious trophy.
| Crawler Mandibles = valuable27;Crawler Mandibles;;1x1;200;These mandibles contain poison glands - many alchemists entertain the idea of using crawler poison as a possible base for creating alkahest.
| Deer Antlers = valuable28;Deer Antlers;;2x1;80;Deer antlers can be used for many things: potions, medicine, jewelry,...
| Deer Pelt = valuable29;Deer Pelt;;2x3;180;Deer of Aldorian forest are ubiquitous, so their pelts are cheap. Still, they always find their buyer.
| Dog Pelt = valuable30;Dog Pelt;Dog Pelt A.png,Dog Pelt B.png,Dog Pelt C.png;2x3;30;The least noble of furs, cheap enough to be readily afforded by poor townsmen.
| Fox Pelt = valuable31;Fox Pelt;;2x3;240;Fox fur is used to sew durable hats and coats, so there is always a demand.
| Gulon Pelt = valuable32;Gulon Pelt;;2x3;450;The value of gulon pelts is almost comparable to that of bear fur - outside of Aldor, they're considered to be an exotic trade item.
| Harpy Feathers = valuable33;Harpy Feathers;;2x1;50;Unlike common birds, harpies boast surprisingly durable and resilient feathers.
| Harpy Stomach = valuable34;Harpy Stomach;;1x1;200;Harpies have truly cast-iron stomachs that can digest pretty much anything. Their stomach acid is of particular interest to natural philosophers.
| Horse Pelt = valuable35;Horse Pelt;Horse Pelt A.png,Horse Pelt B.png,Horse Pelt C.png,Horse Pelt D.png;2x3;60;Peasants only kill horses that are hopelessly sick or already half-dead from old age.
| Moose Antlers = valuable36;Moose Antlers;;2x1;200;Moose antlers have lots of uses in alchemy and medicine making. Apothecaries are always willing to buy some.
| Moose Pelt = valuable37;Moose Hide;;3x3;450;It takes luck to hunt down a moose. But if you return triumphant, you don't go hungry.
| Pig Pelt = valuable38;Pig Pelt;;2x3;60;Pig skin is relatively cheap and hard-wearing, making good belts, shoes, mounts, and reins.
| Rabbit Pelt = valuable39;Rabbit Pelt;Rabbit Pelt A.png,Rabbit Pelt B.png;1x2;40-50;Despite how cautious and skittish rabbits can be, hunting one down isn't that hard. Their pelts are usually used to make clothes.
| Saiga Horns = valuable40;Horns Saiga;;2x1;40;Healers grind saiga horns into powder to treat headaches and fever... The results aren't impressive.
| Saiga Pelt = valuable41;Saiga Pelt;;2x3;210;Saiga pelts are in great demand in the southern parts of Aldor which aren't frequented by deers and boars.
| Sheep Pelt = valuable42;Sheep Pelt;;2x3;150;Sheep pelts are used for making quality winter clothes and warm blankets.
| Snake Skin = valuable43;Snake Skin;;2x1;50;Snake skin is shrouded in superstitions. Rumors have it that respectable healers use it to ward off the evil eye and threat many illnesses. Alternatively, in the hands of a witch or a warlock it can only cause trouble...
| Squirrel Pelt = valuable44;Squirrel Pelt;;1x2;90;Light and silky, squirrel fur trim is often used for the most opulent of garments, but killing a squirrel without damaging its pelt is no easy task.
| Troll Pelt = valuable45;Troll Pelt;;4x3;2500;Troll pelts possess incredible durability. Some folks believe them to regenerate over time, even if much slower than when they are attached to living trolls.
| Troll Tusks = valuable46;Troll Tusks;;2x2;800;Very few can boast a trophy like this. It's rumored that troll tusks are particularly valued on black market, where they are often resold under the guise of ivory for double their original price.
| Wolf Pelt = valuable47;Wolf Pelt;;2x3;120;Wolf pelts can be sold for a hefty sum. There seems to be a crazy demand for them in Maen.
| Young Troll Pelt = valuable48;Young Troll Pelt;;4x3;1200;The legendary durability of troll pelts only manifests itself when the beast reaches its second and third decade of life - until then, such trophies are rare but hardly exceptional.


<!--= = Valuable Items==-->
| Altar Bell = valuable49;Altar Bell;;1x1;25;The sing-song chime of altar bells can help with setting your mind on prayer and meditation.
| Aspergillum = valuable50;Aspergillum;;1x2;80;The Aldorian Hieron's custom of sprinkling ritual sites with water came from local pagan cults - this part of its origins has long been safely forgotten.
| Bolt of Cloth = valuable51;Bolt of Cloth;;2x2;200;A roll of fine linen cloth - Yostwayne used to be well-known for producing it.
| Bottle of Oil = valuable52;Bottle of Oil;;1x2;40;It holds a flammable mix, which is often used by wealthy townsfolk to fuel lamps.
| Bronze Eagle = valuable53;Bronze Eagle;;2x2;60;Long ago this figurine used to stand on the table of some merchant or official.
| Casket = valuable54;Casket;;2x2;120;A church casket can hold a wide variety of valuables, ranging from jewelry and utensils to saints' relics and other similarly precious items.
| Censer = valuable55;Censer;;1x2;120;The use of incense plays a special role in Hieronite services, albeit not nearly as crucial as in elven rituals.
| Drinking Horn = valuable56;Drinking Horn;;2x1;30;It's hard to imagine what Aldorian nobles would do with their time if feasts and hunting didn't exist - other than slaughter each other with renewed vigor, that is.
| Exquisite Casket = valuable57;Exquisite Casket;;2x2;300;Judging by the lingering aroma, this elven-made casket was used for storing spices.
| Gaming Dice = valuable58;Gaming Dice;;1x1;10;Dice like this are used for at least a dozen of gambling games, so there's a demand.
| Gold Nugget = valuable59;Gold Nugget;;1x1;50;Pure gold will be changing hands even after the end of the world.
| Golden Candelabrum = valuable60;Golden Candelabrum;;1x2;200;This witness of luxuries of the past has long been extinguished.
| Golden Cup = valuable61;Golden Cup;;1x2;450;Made of the purest gold in the heyday of Aldor.
| Golden Plate = valuable62;Golden Plate;;2x1;150;The splendor of generously decorated ritual items is meant to inspire Divine awe in parishioners.
| Hourglass = valuable63;Hourglass;;1x2;25;Looks like it's time to sell this thing off.
| Iron Ingot = valuable64;Iron Ingot;;1x1;50;An ingot of solid iron. Any smith will gladly buy it.
| Ivory = valuable65;Ivory;;2x1;400;The only thing known for sure in Aldor about elephants is that they are extraordinarily large, and that their tusks can be sold at a high price.
| Jade Figurine = valuable66;Jade Figurine;;1x2;150;A figurine of some noble elf, carved by an unknown master from a single piece of jade.
| King's Bust = valuable67;King's Bust;;2x2;100;The late King Etbert has been meticulously fostering the reputation of a patron and appreciator of arts: his court teemed with poets, artists, and sculptors praising their benefactor to high heaven.
| Liturgical Chalice = valuable68;Liturgical Chalice;;1x2;300;The chalice is engraved with distinctly religious motifs, but the depictions of the saints are so tiny that it's impossible to make out any actual details.
| Marble Bear = valuable69;Marble Bear;;2x2;100;The craftsmanship is fairly intricate, it looks like the real beast. Whoever carved it knew what they were doing.
| Ornate Inkpot = valuable70;Ornate Inkpot;;1x1;250;This inkwell used to be in possession of some elven scribe or tax collector.
| Ornate Mirror = valuable71;Ornate Mirror;;1x2;200;Gazing at your own reflection for hours at a time is a common Hieronite practice. A diligent enough monk can use it to escape the boundaries of their own conscience and attempt to get closer to the Truth.
| Porcelain Vase = valuable72;Porcelain Vase;;1x2;500;The Jacinth Kingdoms is a land of wonders, and porcelain is one of them.
| Ritual Candles = valuable73;Ritual Candles;;1x2;50;Church candles are made from a special mixture of wax and incenses, so they're priced accordingly.
| Sheath = valuable74;Sheath;;1x2;70;Decent iron, tanned leather - a surprisingly high-quality sheath.
| Silk = valuable75;Silk;;2x2;600;Elves are the masters of many crafts. The art of weaving a silk is one of their most guarded secrets.
| Silver Cup = valuable76;Silver cup;;1x1;60;Aldorian nobility used to hold a false belief that silver cups neutralize most poisons.
| Silver Cutlery = valuable77;Silver Cutlery;;2x1;130;Cutlery in itself is an attribute of nobility. Commoners usually eat with their hands.
| Silver Decanter = valuable78;Silver Decanter;;1x2;150;Elven mud is a drink of the noble and the rich. These vessels are yet another way to casually flaunt one's wealth, clearly showing that their owner is no stranger to foreign delicacies.
| Silver Nugget = valuable79;Silver Nugget;;1x1;25;Doesn't contain much silver, so you won't get much from selling it.
| Silver Plate = valuable80;Silver Plate;;2x1;140;An ornate dish made of pure sliver.
| Spool of Thread = valuable81;Spool of Thread;;1x2;40;Woolen threads are always in demand. It shouldn't be hard to find a buyer.
| Stained Glass = valuable82;Stained Glass;;1x1;25;The prestige of an Aldorian church can be determined with a single glance at its stained glass windows: the more majestic and refined the imagery is, the better the temple's standing in the High Hieron.


<!--==Quest Items==-->
| Alchemy Apparatus = valuable83;Alchemy Apparatus;;2x2;500;If you heat it up, fill it with aqua regia, spend fifty years of your life studying alchemy treatises, and then come up with a correct formula, this contraption will allow you to create a philosopher's stone. Maybe.
| Black Boar Head = valuable84;Black Boar Head;;3x3;200;Over the years this stuffed head became matted, and the fierceness of its glare gave way to bewilderment. Where did it all go wrong? How did it find itself mounted on a piece of wood?
| Forbidden Grimoire = valuable85;Forbidden Grimoire;;1x2;500;A compilation of forbidden knowledge written in a strange language. It gives off a distinctly foreboding aura.
| Heraldic Note = valuable86;Heraldic Note;;2x2;250;Can be used to improve your [[Reputation| standing]] with Grand Magistrate or sold away.
| Holy Figurine = valuable87;Holy Figurine;;1x2;550;This local relic is a figurine of some holy benefactress.
| Monastery Chronicles = valuable88;Monastery Chronicles;;2x2;100;Such notes are kept by abbots of many Aldorian monasteries - they are written in Axonian language in accordance with old church traditions.
| Old Census Records = valuable89;Old Census Records;;2x2;80;An otherwise incomprehensible Axonian text containing what is clearly a huge list of names and birth dates.
| Pile of Reports = valuable90;Pile of Reports;;2x2;400;A decently sized pile of letters, notes, and reports, densely covered in unfamiliar names and designations.
| Reliquary = valuable91;Reliquary;;2x2;750;A richly decorated reliquary, adorned with figurines of saints and carved prayers.
| Sack of Grain = valuable92;Sack of Grain;;2x3;350;A sack of high quality grain, treasured during famines of war.


|  #default = unknown;unknown;0x0;0;Description not available.}}<noinclude>
{{doc| Valuable_data}}
[[Category:Templates]]
[[Category:Data]]
</noinclude>
