<includeonly>{{ValuableTable/head|width={{{width|}}}}}
{{#if:{{{1|}}}|{{ValuableTable/row|{{{1|}}}}}}}<!--
-->{{#if:{{{2|}}}|{{ValuableTable/row|{{{2|}}}}}}}<!--
-->{{#if:{{{3|}}}|{{ValuableTable/row|{{{3|}}}}}}}<!--
-->{{#if:{{{4|}}}|{{ValuableTable/row|{{{4|}}}}}}}<!--
-->{{#if:{{{5|}}}|{{ValuableTable/row|{{{5|}}}}}}}<!--
-->{{#if:{{{6|}}}|{{ValuableTable/row|{{{6|}}}}}}}<!--
-->{{#if:{{{7|}}}|{{ValuableTable/row|{{{7|}}}}}}}<!--
-->{{#if:{{{8|}}}|{{ValuableTable/row|{{{8|}}}}}}}<!--
-->{{#if:{{{9|}}}|{{ValuableTable/row|{{{9|}}}}}}}<!--
-->{{#if:{{{10|}}}|{{ValuableTable/row|{{{10|}}}}}}}<!--
-->{{#if:{{{11|}}}|{{ValuableTable/row|{{{11|}}}}}}}<!--
-->{{#if:{{{12|}}}|{{ValuableTable/row|{{{12|}}}}}}}<!--
-->{{#if:{{{13|}}}|{{ValuableTable/row|{{{13|}}}}}}}<!--
-->{{#if:{{{14|}}}|{{ValuableTable/row|{{{14|}}}}}}}<!--
-->{{#if:{{{15|}}}|{{ValuableTable/row|{{{15|}}}}}}}<!--
-->{{#if:{{{16|}}}|{{ValuableTable/row|{{{16|}}}}}}}<!--
-->{{#if:{{{17|}}}|{{ValuableTable/row|{{{17|}}}}}}}<!--
-->{{#if:{{{18|}}}|{{ValuableTable/row|{{{18|}}}}}}}<!--
-->{{#if:{{{19|}}}|{{ValuableTable/row|{{{19|}}}}}}}<!--
-->{{#if:{{{20|}}}|{{ValuableTable/row|{{{20|}}}}}}}<!--
-->{{#if:{{{21|}}}|{{ValuableTable/row|{{{21|}}}}}}}<!--
-->{{#if:{{{22|}}}|{{ValuableTable/row|{{{22|}}}}}}}<!--
-->{{#if:{{{23|}}}|{{ValuableTable/row|{{{23|}}}}}}}<!--
-->{{#if:{{{24|}}}|{{ValuableTable/row|{{{24|}}}}}}}<!--
-->{{#if:{{{25|}}}|{{ValuableTable/row|{{{25|}}}}}}}<!--
-->{{#if:{{{26|}}}|{{ValuableTable/row|{{{26|}}}}}}}<!--
-->{{#if:{{{27|}}}|{{ValuableTable/row|{{{27|}}}}}}}<!--
-->{{#if:{{{28|}}}|{{ValuableTable/row|{{{28|}}}}}}}<!--
-->{{#if:{{{29|}}}|{{ValuableTable/row|{{{29|}}}}}}}<!--
-->{{#if:{{{30|}}}|{{ValuableTable/row|{{{30|}}}}}}}<!--
-->{{#if:{{{31|}}}|{{ValuableTable/row|{{{31|}}}}}}}<!--
-->{{#if:{{{32|}}}|{{ValuableTable/row|{{{32|}}}}}}}<!--
-->{{#if:{{{33|}}}|{{ValuableTable/row|{{{33|}}}}}}}<!--
-->{{#if:{{{34|}}}|{{ValuableTable/row|{{{34|}}}}}}}<!--
-->{{#if:{{{35|}}}|{{ValuableTable/row|{{{35|}}}}}}}<!--
-->{{#if:{{{36|}}}|{{ValuableTable/row|{{{36|}}}}}}}<!--
-->{{#if:{{{37|}}}|{{ValuableTable/row|{{{37|}}}}}}}<!--
-->{{#if:{{{38|}}}|{{ValuableTable/row|{{{38|}}}}}}}<!--
-->{{#if:{{{39|}}}|{{ValuableTable/row|{{{39|}}}}}}}<!--
-->{{#if:{{{40|}}}|{{ValuableTable/row|{{{40|}}}}}}}<!--
-->{{#if:{{{41|}}}|{{ValuableTable/row|{{{41|}}}}}}}<!--
-->{{#if:{{{42|}}}|{{ValuableTable/row|{{{42|}}}}}}}<!--
-->{{#if:{{{43|}}}|{{ValuableTable/row|{{{43|}}}}}}}<!--
-->{{#if:{{{44|}}}|{{ValuableTable/row|{{{44|}}}}}}}<!--
-->{{#if:{{{45|}}}|{{ValuableTable/row|{{{45|}}}}}}}<!--
-->{{#if:{{{46|}}}|{{ValuableTable/row|{{{46|}}}}}}}<!--
-->{{#if:{{{47|}}}|{{ValuableTable/row|{{{47|}}}}}}}<!--
-->{{#if:{{{48|}}}|{{ValuableTable/row|{{{48|}}}}}}}<!--
-->{{#if:{{{49|}}}|{{ValuableTable/row|{{{49|}}}}}}}<!--
-->{{#if:{{{50|}}}|{{ValuableTable/row|{{{50|}}}}}}}<!--
-->{{#if:{{{51|}}}|{{ValuableTable/row|{{{51|}}}}}}}<!--
-->{{#if:{{{52|}}}|{{ValuableTable/row|{{{52|}}}}}}}<!--
-->{{#if:{{{53|}}}|{{ValuableTable/row|{{{53|}}}}}}}<!--
-->{{#if:{{{54|}}}|{{ValuableTable/row|{{{54|}}}}}}}<!--
-->{{#if:{{{55|}}}|{{ValuableTable/row|{{{55|}}}}}}}<!--
-->{{#if:{{{56|}}}|{{ValuableTable/row|{{{56|}}}}}}}<!--
-->{{#if:{{{57|}}}|{{ValuableTable/row|{{{57|}}}}}}}<!--
-->{{#if:{{{58|}}}|{{ValuableTable/row|{{{58|}}}}}}}<!--
-->{{#if:{{{59|}}}|{{ValuableTable/row|{{{59|}}}}}}}<!--
-->{{#if:{{{60|}}}|{{ValuableTable/row|{{{60|}}}}}}}<!--
-->{{#if:{{{61|}}}|{{ValuableTable/row|{{{61|}}}}}}}<!--
-->{{#if:{{{62|}}}|{{ValuableTable/row|{{{62|}}}}}}}<!--
-->{{#if:{{{63|}}}|{{ValuableTable/row|{{{63|}}}}}}}<!--
-->{{#if:{{{64|}}}|{{ValuableTable/row|{{{64|}}}}}}}<!--
-->{{#if:{{{65|}}}|{{ValuableTable/row|{{{65|}}}}}}}<!--
-->{{#if:{{{66|}}}|{{ValuableTable/row|{{{66|}}}}}}}<!--
-->{{#if:{{{67|}}}|{{ValuableTable/row|{{{67|}}}}}}}<!--
-->{{#if:{{{68|}}}|{{ValuableTable/row|{{{68|}}}}}}}<!--
-->{{#if:{{{69|}}}|{{ValuableTable/row|{{{69|}}}}}}}<!--
-->{{#if:{{{70|}}}|{{ValuableTable/row|{{{70|}}}}}}}<!--
-->{{#if:{{{71|}}}|{{ValuableTable/row|{{{71|}}}}}}}<!--
-->{{#if:{{{72|}}}|{{ValuableTable/row|{{{72|}}}}}}}<!--
-->{{#if:{{{73|}}}|{{ValuableTable/row|{{{73|}}}}}}}<!--
-->{{#if:{{{74|}}}|{{ValuableTable/row|{{{74|}}}}}}}<!--
-->{{#if:{{{75|}}}|{{ValuableTable/row|{{{75|}}}}}}}<!--
-->{{#if:{{{76|}}}|{{ValuableTable/row|{{{76|}}}}}}}<!--
-->{{#if:{{{77|}}}|{{ValuableTable/row|{{{77|}}}}}}}<!--
-->{{#if:{{{78|}}}|{{ValuableTable/row|{{{78|}}}}}}}<!--
-->{{#if:{{{79|}}}|{{ValuableTable/row|{{{79|}}}}}}}<!--
-->{{#if:{{{80|}}}|{{ValuableTable/row|{{{80|}}}}}}}<!--
-->{{#if:{{{81|}}}|{{ValuableTable/row|{{{81|}}}}}}}<!--
-->{{#if:{{{82|}}}|{{ValuableTable/row|{{{82|}}}}}}}<!--
-->{{#if:{{{83|}}}|{{ValuableTable/row|{{{83|}}}}}}}<!--
-->{{#if:{{{84|}}}|{{ValuableTable/row|{{{84|}}}}}}}<!--
-->{{#if:{{{85|}}}|{{ValuableTable/row|{{{85|}}}}}}}<!--
-->{{#if:{{{86|}}}|{{ValuableTable/row|{{{86|}}}}}}}<!--
-->{{#if:{{{87|}}}|{{ValuableTable/row|{{{87|}}}}}}}<!--
-->{{#if:{{{88|}}}|{{ValuableTable/row|{{{88|}}}}}}}<!--
-->{{#if:{{{89|}}}|{{ValuableTable/row|{{{89|}}}}}}}<!--
-->{{#if:{{{90|}}}|{{ValuableTable/row|{{{90|}}}}}}}<!--
-->{{#if:{{{91|}}}|{{ValuableTable/row|{{{91|}}}}}}}<!--
-->{{#if:{{{92|}}}|{{ValuableTable/row|{{{92|}}}}}}}<!--
-->{{#if:{{{93|}}}|{{ValuableTable/row|{{{93|}}}}}}}<!--
-->{{#if:{{{94|}}}|{{ValuableTable/row|{{{94|}}}}}}}<!--
-->{{#if:{{{95|}}}|{{ValuableTable/row|{{{95|}}}}}}}<!--
-->{{#if:{{{96|}}}|{{ValuableTable/row|{{{96|}}}}}}}<!--
-->{{#if:{{{97|}}}|{{ValuableTable/row|{{{97|}}}}}}}<!--
-->{{#if:{{{98|}}}|{{ValuableTable/row|{{{98|}}}}}}}<!--
-->{{#if:{{{99|}}}|{{ValuableTable/row|{{{99|}}}}}}}<!--
-->{{#if:{{{100|}}}|{{ValuableTable/row|{{{100|}}}}}}}
|}</includeonly><noinclude>[[Category:Templates]]{{doc}}</noinclude>
