<includeonly><table class="stoneshard sortable" border="1px solid" style="text-align: center;">{{#vardefine:skill table enemyskills|{{{enemy skills|}}}}}<!--
--><tr><!--
--><th style="min-width:120px">Skill</th><!--
-->{{#if:{{{hide basic stats|}}}||<th style="min-width:150px">Basic Stats</th>}}{{#vardefine:skill table hidebasicstats|{{{hide basic stats|}}}}}<!--
--><th>Description</th><!--
-->{{#if:{{{passive bonus|}}}|<th>Passive bonus</th>{{#vardefine:skill table passivebonus|{{{passive bonus|}}}}}}}<!--
-->{{#if:{{{hidden bonus|}}}|<th>Hidden bonus</th>{{#vardefine:skill table hiddenbonus|{{{hidden bonus|}}}}}}}<!--
-->{{#if:{{{formula|}}}|<th>Formula</th>{{#vardefine:skill table formula|{{{formula|}}}}}}}<!--
-->{{#if:{{{notes|}}}|<th>Notes</th>{{#vardefine:skill table notes|{{{notes|}}}}}}}</tr></includeonly><noinclude>{{doc}}[[Category:Templates]]</noinclude>
